<script src="/js/colorer.js"></script>
<div class="colorer">
	<div>
		<a href="/guidebook/antiquity/city"><img src="/img/antiquity.jpg" /></a>
		<span class="desc">Античность</span>
	</div>
	<div>
		<a href="/guidebook/antiquity/olbia"><img src="/img/olbia.jpg" /></a>
		<span class="desc">Ольвия</span>
	</div>
	<div>
		<a href="/guidebook/antiquity/chersonesus"><img src="/img/chersonesus.jpg" /></a>
		<span class="desc">Херсонес</span>
	</div>
</div>