<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Конкурсы</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/fancybox/fancybox.css" />
        <link rel="stylesheet" type="text/css" href="/css/exp-style.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/fancybox/fancybox.pack.js"></script>
        <script src="/js/fancy-code.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="exp-subtitle">Хронология конкурсов и олимпиад</div>
            <h3>
                <a href="/">&#8678; Вернуться назад</a>
            </h3>
            <div class="exp-container">
                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Финал Всероссийского конкурса музеев образовательных организаций</span>
                            <a>16.03.2015</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a class="gallery-show exp-img exp-img-deco" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/1.jpg" >
                          <img src="http://arhmuzey.ru/competitions_tree/16032015/7.jpg"/>
                        </a> 
                    </div>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/2.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/3.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/4.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/5.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/6.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/7.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/8.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/9.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/10.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/11.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/12.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/13.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/14.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/15.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/16.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/17.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/18.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/19.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/20.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/21.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/22.jpg"></a>
                    <a class="gallery-show" rel="16032015" href="http://arhmuzey.ru/competitions_tree/16032015/23.jpg"></a>
                </div>
                


                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a class="gallery-show exp-img exp-img-deco" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/1.jpg" >
                          <img src="http://arhmuzey.ru/competitions_tree/12012015/8.jpg"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>V Фестиваль науки в Марий Эл (Алексей Леухин - лауреат премии Президента РФ)</span>
                            <a>12.01.2015</a>
                        </h3>
                    </div>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/2.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/3.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/4.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/5.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/6.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/7.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/8.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/9.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/10.jpg"></a>
                    <a class="gallery-show" rel="12012015" href="http://arhmuzey.ru/competitions_tree/12012015/11.jpg"></a>
                </div>
                

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Всероссийский конкурс поисково-исследовательских работ обучающихся "Отечество"</span>
                            <a>31.03.2014</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a class="gallery-show exp-img exp-img-deco" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/1.jpg" >
                          <img src="http://arhmuzey.ru/competitions_tree/31032014/6.jpg"/>
                        </a> 
                    </div>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/2.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/3.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/4.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/5.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/6.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/7.jpg"></a>
                    <a class="gallery-show" rel="31032014" href="http://arhmuzey.ru/competitions_tree/31032014/8.jpg"></a>
                </div>
                

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a class="gallery-show exp-img exp-img-deco" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/1.jpg" >
                            <img src="http://arhmuzey.ru/competitions_tree/01112013/9.jpg" />
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Всероссийские краеведческие чтения "Отечество"</span>
                            <a>01.11.2013</a>
                        </h3>
                    </div>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/2.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/3.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/4.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/5.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/6.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/7.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/8.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/9.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/10.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/11.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/12.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/13.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/14.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/15.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/16.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/17.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/18.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/19.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/20.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/21.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/22.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/23.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/24.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/25.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/26.jpg"></a>
                    <a class="gallery-show" rel="01112013" href="http://arhmuzey.ru/competitions_tree/01112013/27.jpg"></a>
                </div>
                

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Всероссийский конкурс поисково-исследовательских работ обучающихся "Отечество"</span>
                            <a>01.04.2012</a>
                        </h3>
                    </div>
                    <div class="exp-right">
                        <a class="gallery-show exp-img exp-img-deco" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/1.jpg" >
                            <img src="http://arhmuzey.ru/competitions_tree/01042012/6.jpg"/>
                        </a>  
                    </div>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/2.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/3.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/4.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/5.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/6.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/7.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/8.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/9.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/10.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/11.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/12.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/13.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/14.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/15.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/16.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/17.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/18.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/19.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/20.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/21.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/22.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/23.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/24.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/25.jpg"></a>
                    <a class="gallery-show" rel="01042012" href="http://arhmuzey.ru/competitions_tree/01042012/26.jpg"></a>
                </div>
            </div>
        </div>
    </body>
</html>