<table>
	<td width="625">
		<font id="h1">Концепция (программа) развития школьного археологического музея МОБУ «Медведевская СОШ №3» Республики Марий Эл на 2010 – 2015 гг.</font>
	</td>
	<td>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/1.jpg">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/mus_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/2.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/3.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/4.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/5.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/6.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/7.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/8.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/9.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/10.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/11.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/12.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/13.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/14.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/15.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/16.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/17.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/18.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/19.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/20.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/21.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/22.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/23.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/24.jpg"></a>
	</td>
</table>

<p>
	(Концепция разработана руководителем музея –  учителем истории И.И. Пановым)
<p>

<p>
	<font id="h1">Пояснительная записка</font>
</p>
<p>
	В условиях перехода на новые Федеральные Государственные Образовательные Стандарты (ФГОС) происходит переоценка значения внеурочной краеведческой деятельности обучающихся. Становится активней сотрудничество средней и высшей школы, возрастает значение дополнительного образования. Повышается роль музеев, в том числе и школьных, в процессе образования и воспитания детей. Музейная образовательная среда (музейная педагогика) выполняет не только воспитательные функции, но и формирует практические навыки поисковой, краеведческой исследовательской деятельности, развивает инициативу, интерес, общественную активность школьников, предоставляет большие возможности для организации самостоятельной и творческой работы учащихся.
</p>
<p>Вполне закономерно, что на уровне государства в соответствии с государственной программой «Патриотическое воспитание граждан Российской Федерации на 2011 – 2015 годы»  современный школьный музей  сегодня рассматривается как пространство интеграции основного (общего) и дополнительного образования, способствующее духовно-нравственному и патриотическому воспитанию обучающихся.
<p>Медведевский школьный археологический музей вот уже 10 лет  является тем пространством интеграции общего и дополнительного образования детей, одним из центров патриотического воспитания,  которое охватывает не только учащихся медведевских школ, но и школьников района и г.Йошкар-Олы. Музей фактически стал межшкольным, превратившись за эти годы в современный образовательный, исследовательский и культурный центр, отличающийся оригинальным дизайном и техническими «изюминками». 
<p>Организация музея – итог 28-летней внеурочной деятельности объединения «Юный археолог». Особенностью объединения является то, что за прошедшие годы краеведческая деятельность учащихся переросла из познавательной в общественно - полезную. Оно стало школьным научным обществом с работой по трем основным направлениям: экспедиционной работе, исследовательской и музейной деятельности.
<p>Результатом деятельности объединения «Юный археолог» стало основание и дальнейшее развитие школьного археологического музея, ставшего фактически межшкольным, располагающего подлинными археологическими, палеонтологическими, этнографическими  и нумизматическими экспонатами. Построить альтернативную школьным урокам  культурно-образовательную среду,  придать исследованию прошлого дух романтики,  «окунуться в историю», создать с «чистого листа» нестандартное  музейное пространство  – вот те причины, которые привели к идее создания школьного археологического музея.
<p>Основа музея заложена в 1989 г. в Медведевской школе № 2, но только в 2003 г. ему был официально присвоен статус и звание «Школьный музей» на базе Медведевской школы № 3. 10 декабря 2004 г. состоялось его официальное открытие. 
<p>Формирование музея стало итогом совместной деятельности детей и взрослых:  «продуктом» коллективного творчества детского краеведческого объединения «Юный археолог», их родителей, учителей, ученых, спонсоров, администраций школы и района. Роль юных археологов в создании музея стала определяющей. Детям и мне, как организатору создания музея выпал уникальный случай  –  с «чистого листа» основать музей, подобного которому не было в Республике Марий Эл.
<p>В процессе многолетней внеурочной деятельности, сложилась своя методическая система, свое видение деятельности археологического объединения и работы школьного музея. Приоритетным направлением во внеурочной деятельности стал школьный  музей, позволяющий интегрировать общее, дополнительное и высшее образование. Ниже представлена логическая взаимосвязь компонентов методической системы.

<img src="/img/concept1.png" />


<p>Музей фактически включает все общепринятые хронологические эпохи: первобытный период, Древний (античный) мир, Средние века, Новое и Новейшее время. Школе и музею, удалось создать  единое образовательное пространство, выходящее за рамки одной школы и эффективно его использовать в образовательно-воспитательном процессе.
<p>Музей является одной из форм дополнительного образования, развивающей сотворчество, активность, самодеятельность учащихся в процессе сбора, исследования, обработки, оформления и пропаганды материалов, имеющих воспитательную и познавательную ценность.
<p>С появлением музея значительно возрос интерес обучающихся к истории. Вначале создание музея являлось целью и результатом совместной деятельности детей и взрослых, теперь же он является образовательной средой для развития творческого потенциала, как учащихся, так и самого организатора и руководителя музея. По разделам экспозиций создана концепция музея с оригинальной интерпретацией по всем эпохам.
<p>Продолжением  развития музея стало создание и размещение   в интернет-пространстве  сайта «Виртуальный музей» (www.arhmuzey.ru). Содержание проекта  направлено на иллюстрацию ключевых этапов истории марийского края, российской истории в контексте изучения мировой истории. Вместе с командой объединения  «Юный археолог» трех медведевских школ и руководителем проекта удалось отобразить уникальность музея в текстовом и мультимедийном варианте. Проект выполнен вручную – без готовых шаблонов и конструкторов. Сайт имеет  инновационный характер, он актуален, современен, оригинален и по-новому раскрывает потенциал школьного музея. Новизна Проекта состоит в том, что по содержанию, структуре и техническим задумкам, подобные школьные сайты по музеям, созданные школьниками, в интернете не встречаются. Это указывает на творческий характер исследовательской работы. Нестандартное и творческое отображение виртуальной версии музея позволяет решать целый комплекс общественно-значимых, социокультурных, образовательных проблем и задач. 
<p>Образовательная программа развития школьного музея определяет основные направления деятельности археологического школьного музея, ставшего в районе одним из центров основного и дополнительного образования школьников. Она может быть использована в урочной и  во внеурочной деятельности, в работе  объединения «Юный археолог», в мероприятиях, посвящённых памятным датам истории России и  родного края. Программа по содержанию является - социально-образовательной; по функциональному предназначению - общекультурной; по форме организации - музейно-кружковой; по времени реализации - пятигодичной.
<p>За многие годы у музея сложилось тесное и плодотворное сотрудничество с образовательными и научными учреждениями регионального и  федерального уровня: Федеральным центром детско-юношеского туризма и краеведения (ФГБОУ ДОД ФЦДЮТиК); Институтом всеобщей истории РАН; кафедрой региональной истории и краеведения ИАИ РГГУ; Союзом краеведов России (СКР); МарНИИЯЛИ им. Васильева; НПЦ Министерства культуры РМЭ; Национальным музеем Республики Марий Эл им. Т. Евсеева; ФГБОУ ВПО «Марийский государственный университет»; ГОУ ДПО (ПК) С«Марийский институт образования».
<p>Координацию деятельности музея осуществляет МОБУ ДОД «Медведевский районный дом детского творчества» и  ГБОУ ДОД Республики Марий Эл «Детско-юношеский центр «Роза ветров». 
<p>Школьный археологический музей является структурным подразделением МОБУ «Медведевская средняя общеобразовательная школа №3 с углубленным изучением отдельных предметов имени 50-летия Медведевского района»,  пос. Медведево, Республики Марий Эл. Шефство над музеем осуществляет Национальный музей Республики Марий Эл им. Т. Евсеева. В своей деятельности музей руководствуется Уставом школы, ежегодным планом работы. Действует на основании Закона Российской Федерации "Об образовании", а в части учета и хранения фондов - Федерального закона "О музейном фонде Российской Федерации и музеях Российской Федерации".

<p><font id="h1">Нормативно-правовая база деятельности школьного музея</font>
	<ol type = "1">
		<li>
			Государственная программа  «Патриотическое воспитание граждан  Российской Федерации на 2011–2015 годы» (утв. Постановлением Правительства РФ от 5 октября 2010 г. № 795).
		</li>
		<li>
			Закон РФ «Об образовании» 2014 года - N 273-ФЗ.
		</li>
		<li>
			Федеральный закон «О музейном фонде Российской Федерации и музеях в Российской Федерации» (в ред. Федерального закона от 10.01.2003 N 15-ФЗ).
		</li>
		<li>
			Примерное Положение о музее образовательного учреждения (школьном музее) Приложение к письму Министерства образования России от 12 марта 2003 г. №28-51-181/16. 
		</li>
		<li>
			Постановление Правительства РФ от 5 октября 2010 г. N 795 «О государственной программе «Патриотическое воспитание граждан Российской Федерации на 2011 – 2015 годы».
		</li>
		<li>
			Приказ Министерства образования и науки РФ от 17 мая 2012 г. N 413 «Об утверждении федерального государственного образовательного стандарта среднего (полного) общего образования».
		</li>
		<li>
			Федеральный закон от 23.07.2013 N 245-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации в части пресечения незаконной деятельности в области археологии».
		</li>
		<li>
			Приказ МОУ «Медведевская СОШ №3» №6 от 27.03. 2003 г. «Об учреждении школьного музея».
		</li>
		<li>
			Положение об археологическом музее  МОУ «Медведевская СОШ №3 от 27.09. 2003 г.
		</li>
		<li>
			Программа развития школьного музея МОБУ «Медведевская СОШ №3» от  2010 г. от 12.10. 2010 г.
		</li>
	</ol>

<p><font id="h1">Цели развития музея:</font> 
<p>Интеграция основного и дополнительного образования детей, образовательно-воспитательная деятельность через поисково-собирательскую работу, повышение интереса обучающихся к изучению истории, воспитание у школьников патриотизма, толерантности, бережного отношения к историческому и культурному наследию родного края, удовлетворение потребности детей в самореализации. 

<p><font id="h1">Для достижения поставленной цели необходимо реализовать следующие задачи:</font> 
<p>Проведение поисковой, систематизирующей, научно-исследовательской работы по профилю музея (обучающая и развивающая деятельность);
<p>Проведение экскурсионно-просветительской работы (обучающая деятельность);
<p>Проведение пропагандистской работы в области гражданского, нравственного, патриотического воспитания (воспитательная деятельность);
<p>Проведение работы по развитию творческих способностей, навыков самостоятельной деятельности учащихся по направлениям работы музея (развивающая, творческая деятельность).

<p><font id="h1">Актуальность программы</font> 
<p>Актуальность программы связана с необходимостью разработки эффективных педагогических технологий, направленных на привлечение интереса детей и молодежи, с одной стороны, к истории, культуре, традициям своей страны, а с другой – поисково-исследовательской деятельности, что соответствует требованиям Федеральных государственных образовательных стандартов. Вполне естественно, что на уровне государства в соответствии с государственной программой «Патриотическое воспитание граждан Российской Федерации на 2011 – 2015 годы»  современный школьный музей  сегодня рассматривается как пространство интеграции основного (общего) и дополнительного образования, способствующее духовно-нравственному и патриотическому воспитанию обучающихся.
<p>2012 год прошел под знаком русской истории, что подчеркнуло значимость обращения к прошлому, к истокам как важному фактору формирования патриотических, гражданских и духовно-нравственных ценностей в современном обществе. Важность диалога с историей и культурой при формировании патриотизма не вызывает сомнения, но не менее важным является формирование у молодого поколения личной причастности к настоящему и будущему своей страны, что можно достигнуть посредством конструктивных проектных форм работы. Одной из таких форм является медведевский школьный археологический музей (и его виртуальная версия, сайт «Виртуальный археологический  музей), обладающий огромным воспитательным и образовательным потенциалом. 
<p>Актуальность программы обусловлена объявлением Года культуры в России в 2014 году и круглой даты 150-летия старейшей российской общественной организации – Московского археологического общества. Программа развития музея рассчитана на широкую аудиторию. Она сможет оказать существенную помощь учителям и педагогам дополнительного образования в проведении внеурочных занятий  в связи с введением ФГОС в школе, и мы  полагаем, будет способствовать гражданско-патриотическому воспитанию молодежи, что сегодня очень актуально. 
<p>В условиях все возрастающего интереса общества к истории школьный археологический музей и интернет-портал «Виртуальный музей» знакомит с уникальным школьным археологическим музеем, аналогов которому нет.

<p><font id="h1">Педагогическая целесообразность</font>
<p>В число главных приоритетов образовательной политики государства на современном этапе включается формирование у школьников целостной системы знаний, умений и навыков, опыта самостоятельной деятельности и личной ответственности в виде ключевых компетенций, ориентация деятельности всей системы образования на развитие познавательных и созидательных способностей. Основной методической задачей школы является формирование ключевых компетенций выпускника, то есть способности решать проблемы в различных сферах общественной и интеллектуальной деятельности.
<p>Музейная педагогика расширяет возможности в решении задач, связанных с историческим, культурологическим и патриотическим образованием. Она направлена на повышение внимания детей к окружающей действительности, помогает обнаруживать вокруг себя реалии музейного значения, ценить подлинные вещи ушедших эпох, семейные реликвии. Все это делает жизнь ребенка более насыщенной и интересной, поднимает его культуру, развивает интеллект, дает ему новый инструмент для познания мира. Музей в современной школе представляет собой такую интегрированную информацией педагогическую среду, где становятся возможными новые формы в организации познавательной коммуникативной деятельности обучающихся.
<p>По сути то, чем мы занимаемся с юными археологами в музее можно отнести к социокультурной (культурно-просветительской) деятельности. Происходит работа со школьниками, общественностью, представителями власти, учеными, краеведами и др.; налаживание диалога культур; утверждение принципов мультикультурализма в обществе; инкультурация детей и взрослых (освоение культурного наследия своего народа, своей культурной среды и всего человечества). Фактически Медведевский школьный археологический музей стал пространством  интеграции основного и дополнительного образования детей.
<p>В данной программе показано значение музейной педагогики как уникального средства для решения многих воспитательных и образовательных задач. В этой ситуации обращение к устойчивым, непреходящим ценностям, одной из которых является музей, является вполне естественным. Новизна программы состоит в том, что она предлагает систему по патриотическому, гражданско-нравственному и историко-культурному воспитанию детей в разновозрастной группе во внеурочное время в условиях музейного пространства.
<p>Следует отметить, что участие в совместной исследовательской краеведческой деятельности педагогов, ученых и обучающихся, создание и оформление музея, знакомство с историческими малоизвестными фактами помогает школьникам лучше узнать историю разных цивилизаций, своей страны и родного края. Это воспитывает уважение к памяти людей прошлых поколений, бережное отношение  к культурному и природному наследию, без чего нельзя воспитать патриотизм и любовь к своему Отечеству.

<p><font id="h1">Формы работы музея</font>
<p>За период 2010 – 2015 гг. деятельности археологического  музея сложились разнообразные  формы (массовые, групповые, индивидуальные), методы работы и педагогические технологии, применяемые в образовательно-воспитательной деятельности.
<p>Массовая форма работы включает просветительскую,  образовательную деятельность музея (экскурсии, тематические уроки, учебные занятия, классные часы, лекции), конференции, экспедиции, походы, поездки по другим музеям и городам.
<p>Групповыми формами работы являются деятельность объединения "Юный археолог»,   разработка и создание интернет-проекта «Виртуальный музей», разработка и проведение тематических экскурсий, издание путеводителей по музею, работа с фондом музея.
<p>Индивидуальная работа предполагает работу с документальными материалами музея, подготовку докладов, рефератов, написание исследовательских работ, проектов, участие в конкурсах и конференциях, выполнение познавательных заданий, поиск материала, помогающего ученикам «озвучить» экспонат в ходе устного рассказа, создание поделок, макетов и других наглядных материалов.

<p><font id="h1">Педагогические технологии и методы деятельности</font>
<p>Педагогические технологии и методы деятельности, используемые в археологическом музее, позволяют обучающимся овладеть комплексом познавательных, практических, оценочных умений, основами взаимодействия друг с другом, способностью самостоятельно приобретать новые научные знания, интегрировать их, а также приобрести социально-профессиональный опыт и способствовать нравственному и гражданскому самоопределению. Применяемые педагогические технологии и методы деятельности:

	<ul>
		<li>
			традиционные технологии;
		</li>
		<li>
			технология проведения учебного занятия-игры;
		</li>
		<li>
			технология коллективных творческих дел;
		</li>
		<li>
			личностно-ориентированные технологии;
		</li>
		<li>
			технология дифференцированного обучения;
		</li>
		<li>
			технология исследовательского (проблемного) обучения;
		</li>
		<li>
			технология проектного обучения;
		</li>
		<li>
			технология индивидуализации обучения (адаптивная);
		</li>
		<li>
			информационно-коммуникативные технологии; 
		</li>
		<li>
			метод проектов;
		</li>
		<li>
			групповой метод обучения;
		</li>
		<li>
			методика социально-профессиональных проб.
		</li>
	</ul>

<p>В настоящее время, наряду с традиционными технологиями чаще  применяю новые образовательные технологии, рассчитанные на самообразование детей и их максимальную самореализацию в обществе.  Поэтому большой упор делается на личностно – ориентированные технологии обучения и воспитания, в центре внимания которых – личность, стремящаяся к реализации своих возможностей и способная на ответственный выбор в разнообразных жизненных ситуациях. Цель технологии личностно-ориентированного обучения – максимальное развитие индивидуальных познавательных способностей учащихся на основе использования имеющегося у них опыта жизнедеятельности. Важное место отвожу технологии исследовательского (проблемного) обучения, при которой организация занятий предполагает создание проблемных ситуаций и активную деятельность учащихся по их разрешению, в результате чего происходит овладение знаниями, умениями и навыками; образовательный процесс строится как поиск новых познавательных ориентиров. Дети самостоятельно постигают ведущие понятия и идеи, а не получают их в готовом виде.
<p>Интернет-технологии (информационно-коммуникативные), – новое направление в деятельности школьного археологического музея. Используемые в организации учебно-воспитательного процесса новые информационные технологии, повышают мотивацию  к проведению исследования музейных экспозиций, способствует включению учащихся в научно-исследовательскую деятельность, что, в конечном счете, влияет на углубление знаний по всем предметам. Современные тенденции развития образования создают предпосылки к изменению содержания образования, где приоритетную роль играет творческая самореализация потенциала обучающегося. Стремительное развитие информационной технологии создает для этого принципиально новые условия. Повышение внимания к данному вопросу на практике ведет к изменению позиции педагога: из носителя готовых знаний он превращается в организатора познавательной деятельности своих учеников. Приоритетной становится роль деятельности исследовательского, поискового, творческого характера.
<p>Как один из вариантов технологии индивидуального и группового обучения в музее в последние годы использую метод проектов. Это комплексный обучающий метод, позволяет индивидуализировать учебно-воспитательный процесс, даёт возможность юным исследователям проявить самостоятельность в планировании, организации и контроле своей деятельности и позволяет активно развивать основные виды мышления, творческие способности и стремление к созиданию. Метод проектов способствует развитию мотивации детей к познанию и творчеству, содействует личностному и профессиональному самоопределению обучающихся, их адаптации к жизни в динамично изменяющемся и развивающемся обществе, формированию социокультурных компетенций.
<p>Таким образом, можно говорить о сложившейся педагогической системе, о широком использовании музейной педагогики в процессе формирования межпредметных компетенций обучающихся и развития личности подростков.

<p><font id="h1">Направления деятельности музея</font>
<p>Деятельность школьного археологического музея осуществляется по     
следующим направлениям:

	<ul>
		<li>
			организационная работа;
		</li>
		<li>
			укрепление МТБ музея;
		</li>
		<li>
			работа с музейными фондами;
		</li>
		<li>
			экскурсионно-просветительская работа;
		</li>
		<li>
			поисковая, научно-исследовательская работа;
		</li>
		<li>
			методическая работа;
		</li>
		<li>
			экспозиционная (оформительская работа);
		</li>
		<li>
			развитие сетевого взаимодействия;
		</li>
		<li>
			работа с активом  и советом музея; 
		</li>
		<li>
			создание сайта «Виртуальный музей»;
		</li>
		<li>
			проведение спецкурса для студентов кафедры социально-культурных технологий МарГУ  («Организация работы школьного музея»).
		</li>
	</ul>

<p><font id="h1">Программа ориентируется на следующие критерии и показатели эффективности воспитательной работы:</font>
<p>Изменение статуса ученика и педагога, становление системы партнёрских отношений в совместном поиске, исследовании;
<p>Сформированность ключевых компонентов у обучающихся (функциональная грамотность, информационная грамотность, коммуникативная грамотность, высокий социальный статус, активная социальная роль);
<p>Самоопределение подростков в выборе видов и содержания деятельности, осознанность целей деятельности подростка как субъекта образовательного пространства (достижения обучающихся на конкурсах, олимпиадах, научно-практических конференциях разного уровня);
<p>Сформированность нравственно-культурной личности (уважение к школьным традициям и фундаментальным ценностям, демонстрация знаний этикета и делового общения, овладение социальными ценностями);
<p>Открытость программы к расширению числа участников, заинтересованных в организации, включению в другие школьные и внешкольные программы (соуправление всех участников образовательного процесса (учащихся, педагогов, родителей), способность работать в команде, гумманизация отношений, взаимодействие, доверие и поддержка).

<p><font id="h1">Деятельность музея основывается на основных принципах:</font>
		<ul>
			<li>
				принцип интеграции основного и дополнительного образования детей;
			</li>
			<li>
				принцип партнерства всех школьных структур в организации воспитательной работы;
			</li>
			<li>
				принцип   добровольного  участия   детей  и   взрослых  в  деятельности;
			</li>
			<li>
				принцип самостоятельности и творческой инициативы обучающихся.
			</li>
		</ul>

<p><font id="h1">Механизм реализации программы развития школьного музея</font>
<p>Музей организует свою работу на основе самоуправления. Музейный актив формируется из обучающихся медведевских школ 5-11 классов по принципу добровольности и интереса. Работой музея руководит Совет музея, который состоит из музейного актива и Совета содействия. Совет музейного актива состоит из учащихся, работающих в школьном музее более 2-х лет. Совет музея выполняет следующие функции:
	<ul>
		<li>
			разрабатывает, утверждает и определяет сроки реализации основных мероприятий по выполнению программы;
		</li>
		<li>
			анализирует и координирует реализацию основных мероприятий программы;
		</li>
		<li>
			рассматривает и утверждает перспективные и календарные планы, тематико-экспозиционные планы, заслушивает отчеты поисковых групп, обсуждает основные вопросы деятельности актива;
		</li>
		<li>
			организует подготовку экскурсоводов, лекторов, учебу актива;
		</li>
		<li>
			занимается научно-исследовательской и поисковой деятельностью;
		</li>
		<li>
			участвует в разработке интернет-портала «Виртуальный музей»;
		</li>
		<li>
			участвует в конкурсах и конференциях.
		</li>
			<p>
				Из остальных членов музейного актива формируются профильные группы:
			</p>
		<li>
			поисково-исследовательская;
		</li>
		<li>
			моделирование музейных предметов;
		</li>
		<li>
			экскурсионная;
		</li>
		<li>
			информационно-коммуникативная;
		</li>
		<li>
			театрализованная (историческая реконструкция) 
		</li>
	</ul>

<p>Совет содействия: директор школы, зам. директора по воспитательной работе, руководитель музея, председатель попечительского совета школы. 


<p align="center"><font id="h1">Этапы реализации концепции (программы)
деятельности Медведевского школьного археологического музея
на 2010 – 2015 гг.</font>
</p>


<iframe src="/stages.htm" width="735" height="1930"></iframe>



<!-- "ЗДЕСЬ ТОЖЕ  ТАБЛИЦААААААА !!!!!!!!!! как всегда.... не люблю таблицы, как их делать хз, точнее как их вставлять, возможно надо делать в экселе и потом вставлять с помощью тега
-->
<!-- <table style="font-size: 20px;" border ="1"> 
	<tr align ="center">
		<td>
			Этапы реализации программы
		</td>
		<td>
			Сроки реализации программы
		</td>
		<td>
			Цель работы на данном этапе

		</td>
		<td>
			Ответственные
		</td>
	</tr>
	<tr align ="left">
		<td>
			I этап Организационно-подготовительный
		</td>
		<td>
			2010 год
		</td>
		<td>
			<br/>1.Выявить позитивный опыт школьного музея, ресурсы для расширения поля дальнейшей деятельности
			<br/>2.Разработать концепцию по интерпретации музея, его экспозиций
			<br/>3.Определить приоритетные направления развития музея как центра образовательно-воспитательного и патриотического воспитания 
			<br/>4.Проведение  занятий  интегрированного  спецкурса «Музейная педагогика» по гуманитарным  предметам
			<br/>5.Разработать программу спецкурса летней школы «Интеллектуал»
			<br/>6.Разработать концепцию (программу) развития музея
		</td>
		<td>
			Руководитель музея<br/>
			Директор школы<br/>
			Методист районного ДДТ <br/>

			Совет музея<br/>
			Руководитель музея<br/>
			
			Руководитель музея<br/>
			Директор школы<br/>
			Методист районного ДДТ <br/>
			
			
			Руководитель музея<br/>
			
			Руководитель музея<br/>
			
			Руководитель музея<br/>
		</td>
	</tr>

	<tr align ="left">
		<td>
			II этап Организационно-внедренческий
		</td>
		<td>
			2011–2012 год
		</td>
		<td>
			<br/>1.В рамках требований ФГОС разработать программу спецкурса «Школа будущих пятиклассников»
			<br/>2.Создание условий с целью обеспечения возможностей для реализации планов и программ
			<br/>3.Создание виртуальной версии музея, интернет-проекта «Виртуальный музей» 
		</td>
		<td>
			Руководитель музея<br/>

			Руководитель музея<br/>
			Директор школы<br/>
			Методист районного ДДТ<br/>
			
			Руководитель музея<br/>
			Совет музея<br/>
		</td>
	</tr>

	<tr align ="left">
		<td>
			III этап Практический этап
		</td>
		<td>
			2013 – 2014 год
		</td>
		<td>
			<br/>1.Реализация программ совместной деятельности
			<br/>2.Внесение коррективов в концептуальные положения
			<br/>3.Создать на базе музея районный информационно-методический центр «Музейная педагогика» и   открыть школу для начинающих экскурсоводов
			<br/>4.Обновление программы объединения «Юный археолог»
			<br/>5.Размещение виртуальной версии музея в Интернете и его дальнейшее развитие
			<br/>6.Участие в муниципальных, республиканских, окружных и всероссийских  конкурсах, конференциях и семинарах
			<br/>7.Заключение договора о сотрудничестве с Марийским государственным университетом 
			<br/>8.Разработка УМК спецкурса для студентов  МарГУ «Организация работы школьного музея»
			<br/>9.Проведение аудиторных занятий спецкурса «Организация работы школьного музея»
			<br/>10.Публикации статей в региональных и Российских изданиях, издание буклетов по музею
		</td>
		<td>
			Руководитель музея<br/>
			Методист районного 
			ДДТ<br/>
			Руководитель музея<br/>

			Руководитель музея<br/>
			Методист районного ДДТ<br/>
			Совет музея<br/>

			Руководитель музея<br/>

			Руководитель музея<br/>
			Совет музея

			Руководитель музея<br/>
			Совет музея

			Руководитель музея<br/>
			Директор школы

			Руководитель музея<br/>

			Руководитель музея<br/>
		</td>
	</tr>

	<tr align ="left">
		<td>
			IV этап Обобщающий этап
		</td>
		<td>
			2015 год
		</td>
		<td>
			<br/>1.Обобщить позитивный опыт реализации концепции развития школьного музея
			<br/>2.Выявить уровень развития совместной деятельности
			<br/>3.Определить эффективность концепции развития  школьного археологического музея 
			<br/>4.Продолжить развитие и совершенствование интернет-проект «Виртуальный музей» 
			<br/>5.Подготовка к публикации отдельной брошюры по материалам музея
		</td>
		<td>
			Руководитель музея<br/>
			Директор школы<br/>
			Методист районного ДДТ<br/>
			Директор школы<br/>
			Руководитель музея<br/>

			Руководитель музея<br/>
			Директор школы<br/>

			Совет музея<br/>
			Руководитель музея<br/>

			Руководитель музея<br/>
			Совет музея<br/>
		</td>
	</tr>
</table>
-->


<p><font id="h1">Концепция музея (интерпретация экспозиций)</font>
<p>Экспозиция музея расположена в 17 витринах и поделена на восемь разделов. Коллекция состоит из подлинных археологических, палеонтологических, этнографических и нумизматических экспонатов. Преобладают находки Марийского края, также имеются экспонаты, обнаруженные в античных городах Северного Причерноморья, Великом Новгороде, на Бородинском поле.
<p>Школьный музей фактически включает все общепринятые хронологические эпохи: <b>первобытный период, Древний (античный) мир, Средние века, Новое и Новейшее время.</b>
<p>Музей отличается необычным  дизайном. Его своеобразие – это росписи стен на исторические темы, а также макеты, реконструкции  и  технические «изюминки». В процессе создания музея у нас возникла <b>концептуальная идея, через диалог культур в пространстве музея показать историческую связь эпох, народов и поколений.</b> Витрины размещены так, что каждый раздел посвящен определенной эпохе или исторической теме.  
<p>Переходя от одной витрины к другой, посетитель как будто перемещается во времени – так создается ощущение непрерывности истории. Это впечатление усиливается еще и тем, что историческая роспись и макеты – реконструкции памятников каждого раздела –  в основных чертах соответствуют времени, которое в нем показано. Познание, изучение и повторение истории  в музее происходит через личностное восприятие посетителей. Представляя «живые картины» истории, посетители сами погружаются в историю, пропуская через сознание весь многовековой путь развития человечества.
<p>Ниже, представлен выборочный текст обзорной экскурсии по музею. 
<p>«...Экспозиция начинается  перед  входом  в   музейное   помещение.   Изображение жилища первобытных людей и средневековой деревни олицетворяет связь эпох, народов и поколений.
<p>Первый раздел музея – палеонтология.  Палеонтология отражает начало жизни на Земле.  Наиболее древними экспонатами являются три предмета: зубчатая раковина аммонит, уголь с отпечатками растений и галька – экспонаты относятся к Палеозойской эре. Заслуживает внимания фрагмент окаменевшего дерева Пермского периода. Несомненный интерес вызывает заостренная коническая раковина белемнит. В Кайнозойскую эру жили самые большие животные того времени – мамонты. В центральной части витрины можно увидеть зуб одного из них.
<p>Справа от витрины (№1, «палеонтология») расположен стенд «Каменный век», посвященный палеолиту – самому раннему и наиболее продолжительному периоду в истории человечества. Его называют так потому, что материалом для изготовления основных орудий труда служил человеку камень. Стенд отражает само начало истории человеческого общества и показывает, как с изменениями орудий труда меняется образ жизни, занятия и внешность человека. 
<p>Детальней понять, и окунутся в эпоху каменного века, нам поможет живописная реконструкция – диорама «Жилище первобытного человека». Она посвящена жизни первобытных людей в эпоху завершения Великого оледенения. 
<p>Мы видим, как  заходящее Солнце последними лучами освещает опушку  леса, на  которой  древние  люди заняты повседневными делами: скребком убирают остатки жира со шкуры животного, шьют одежду, добывают огонь.
<p>Продолжением диорамы является реконструкция шалаша первобытных охотников: чучела и шкуры животных (рыси, медведя, козы и кабана) придают особый колорит экспозиции. Мерцающий свет внутри шалаша создает иллюзию костра. 
<p>Одна из витрин посвящена мезолиту – среднему каменному   веку. На центральном планшете представлены нуклеусы – ядрища, с которых скалывали заготовки для орудий – отщепы и пластины. Большим разнообразием выделяется коллекция скребков с хорошо заметной ретушью, которые использовались при обработке шкур животных. Проколка играла роль иглы при шитье одежды. В витрине можно увидеть новые для того времени орудия – кремневые наконечники стрел для лука, наконечник дротика, ножи, а также амулет.                                
<p>Последняя ступень развития каменного века – Неолит. Широкое распространение получают тесла и долота – новые по форме каменные орудия труда для обработки дерева. Обращают на себя внимание искусно сделанные каменные топоры. Люди научились не только шлифовать, но и пилить, просверливать отверстия в камне. 
<p>Самая яркая черта неолита – глиняная посуда. Поверхность большинства сосудов украшена, ямочки  в сочетании с оттисками нанесены гребенчатым штампом. Предположительно это связано с магическим характером узоров. 
<p>Завершается каменный век, люди учатся, совершенствуют умения, и наступает эпоха раннего металла. Экспонаты эпохи  раннего металла немногочисленны,  но  выразительны: бронзовый кельт (топор), гривна и разнообразные образцы керамики того времени. На отдельном планшете представлены предметы из камня: терочник, наконечники стрел и каменные   топоры –   даже   в   эпоху   раннего металла   каменные   изделия   продолжали существовать,  и  именно  в  это  время  техника обработки  камня  достигла   своего наивысшего развития.
<p>Следующий раздел экспозиции  посвящен памятникам Северного Причерноморья. Одной из ярчайших цивилизаций древнего мира является античная греческая культура. Об этом напоминает копия скульптуры наиболее почитаемой у греков богини Афины и небольшой планшет с художественным изображением знаменитого портика храма Эрейхтейона на Афинском акрополе.    
<p>В VII–VI вв. до н. э. греки основали десятки поселений (колоний) на берегах Средиземного и Черного морей. Наиболее крупными античными центрами в Северном Причерноморье являлись Ольвия и Херсонес-Таврический. 
<p>Особенно хороша была греческая тонкостенная посуда (чернолаковая, краснолаковая) с красивой росписью, изображавшей мифологические сюжеты. В верхней части витрин находятся прекрасные копии древнегреческой посуды: кратер,  лекиф, амфора, пелика, кубок. Особое место занимает коллекция подлинных фрагментов посуды. Обращают внимание фрагменты расписной керамики, в том числе и чернолаковой – секреты производства черного лака ученые не раскрыли до сих пор. О разнообразии и оригинальности посуды свидетельствуют следующие экспонаты: ножка и горло амфоры, донышки, ручки, венчики и стенки сосудов. Дошло до нас и большое количество надписей на греческом языке.   
<p>В витрине экспонируются уникальные предметы, найденные на раскопках Ольвии: ручки амфор с клеймами и надписями на древнегреческом языке. В VI–V вв. до н. э. Ольвия выпускает свои  бронзовые монеты. Монеты дельфинчики и борисфены располагаются в центральной части витрины. Бронзовые греческие наконечники стрел относятся к периоду завоеваний Александра Македонского, напрямую имеют отношение к тем событиям и связаны с неудачной осадой Ольвии Запирионом – полководцем Александра Македонского в IV веке до н. э. Костяной наконечник стрелы относится к скифской эпохе.  
<p>Центральное место в экспозиции занимает фрагмент терракотовой женской статуэтки, возможно богини Диметры. Несомненный интерес  вызывает фрагмент терракотовой статуэтки Медузы Горгоны и чернолаковый профиль головы гречанки, предположительно Елены Прекрасной. Заслуживают  внимания отдельные фрагменты женских украшений – бус, а также бронзовый античный перстень-печатка с женским  изображением. 
<p>Античный Херсонес-Таврический был наиболее поздней греческой колонией на северном побережье Черного моря в Крыму. В витрине представлены: большое разнообразие осколков керамической и стеклянной посуды, железные гвозди и ножик. Покровительницей Крыма в древности считалась богиня Таврида. Справа от основной витрины представлена копия терракоты богини.
<p>Одна из витрин по истории марийского края знакомит с наиболее распространенными вещами, изготовленными мастерами кузнечного и оружейного дела, предметами домашнего обихода и оружием. Центральная и нижняя часть представлена предметами массового пользования: железными ножами, наконечниками стрел, копий, дротиками и топорами. Здесь же можно увидеть еще один интересный и редкий экспонат: меч-клинок эпохи среднего средневековья. 
<p>Представление о том, как выглядели оборонительные укрепления, дает макет-реконструкция средневекового городища. Можно увидеть ров, вал, частокол, наблюдательные смотровые площадки – вышки.
<p>В другой витрине находится археологический материал из раскопок могильников среднего и позднего средневековья. Богатейший материал, состоящий из комплекса украшений и предметов женского костюма, находится в центральной части витрины: серьга, височное кольцо  подвеска, браслет, шейная гривна, перстень, кольца и бусы. Интерес представляют элементы женского костюма: фибулы, украшение на поясницу и фрагмент пояса. 
<p>Особое место в музее занимает экспозиция Русь – Россия XII–XIX вв. Наибольшую историческую ценность имеют экспонаты из Великого Новгорода. Один из них свинцовая печать (булла) находится в центральной части витрины. Такими печатями скрепляли государственные акты. Перед нами подлинная Новгородская печать князя Святослава Ростиславовича середины XII века (1158 – 1167). На лицевой стороне печати изображен Иоанн Предтеча в полный рост: правая рука поднята в двуперстном благословляющем жесте, в левой руке свиток, у левого плеча крест. С обратной стороны – изображение архангела Михаила в полный рост с жезлом в правой руке и со сферой в левой. 
<p>Экспонаты более позднего времени: колокольчик, икона-складень, ключ, замок, чарки, самовары и монеты – отражают культуру и быт XVIII – XIX вв. Несомненный интерес для жителей п. Медведево представляет железный ключ, выполненный вручную. Ключ был найден учеником в земле на частном подворье в п. Медведево. Подворье – это заезжий, постоялый двор, въезжая изба, с мостом для лошадей и возов. Как оно выглядело можно увидеть на макетах, выполненных школьниками.
<p>Одно из самых значительных событий отечественной истории – Бородинское сражение 1812 года. В витрине демонстрируются подлинные экспонаты с Бородинского поля. Часть из них напрямую связана с событиями героического сражения: пуля, ядра, осколок от бомбы, подкова, предметы конской утвари. Другая часть предметов имеет бытовое предназначение: осколки фарфоровой  и стеклянной посуды, ключ, монеты. Нижняя часть витрины освещает события Второй мировой войны, часть находок с Бородинского поля.  Как и в 1812 году, остановить врага здесь не удалось, но его продвижение к Москве было задержано на 6 дней. Об этом героическом событии свидетельствуют экспонаты: пробитая пулями немецкая и советская каски, пистолеты (револьвер, браунинг), штык, гильзы снарядов, патроны и солдатский медальон.
<p>Медалями и орденами были отмечены подвиги многих советских воинов, сражавшихся на всех полях Отечественной войны. Триумфальная Арка, изображенная на планшете, символизирует победу в Отечественных   войнах 1812, 1945 годов. Мы должны быть благодарны  за  мирную жизнь и чистое небо предыдущим поколениям, которые отдали свои жизни за свободу и Отечество.
<p>Один из разделов экспозиции «Летопись школьной археологии Республики Марий Эл»  посвящен юным археологам разных поколений. Начало раздела представлено <b>стендом «Гордость Медведевской школьной археологии»</b> с фотографиями лучших кружковцев разных поколений. Дети, которые много лет изучали историю, «копали» её, сами стали объектом изучения, частью истории. Участие в поисково-собирательной работе, создание и оформление музея, знакомство с историческими малоизвестными фактами помогает школьникам лучше узнать историю разных цивилизаций, своей страны и родного края. Это воспитывает уважение к памяти людей прошлых поколений, бережное отношение  к культурному и природному наследию, без чего нельзя воспитать патриотизм и любовь к своему Отечеству. 
<p>Итак, мы совершили  путешествие в прошлое, побывали в разных эпохах. Хочется отметить, что каждый должен знать историю своей страны, родины. Но не менее важно,  уважать истоки и культуру других народов, тем более, народов, на земле которых проживаешь. Времена, народы и поколения связаны одной прочной нитью, и эта нить история.
<p>Хочется надеяться, что экскурсия по археологическому музею  поможет лучше осознать связь времен, народов и поколений. Современный мир  станет ближе и понятнее…».
<p><b>Познание истории через личностное восприятие привело к появлению концепции музея, суть которой заключается в том, что возможности музейных экспозиций позволяют преподавать, показывать культурное разнообразие, историю взаимодействий и сотрудничества в поликультурном регионе, начиная от эпохи камня до XXI века.</b>
<p>На конкретных примерах раскрывается взаимодействие и сотрудничество различных цивилизаций, причины, проявления исторических конфликтов и пути их преодоления. Примеры взяты из фактического материала музея и основываются на идее: от общего к частному, от частного к общему. Рассмотрим некоторые из них.
<p>Так, <b>«Историческое единство культур и народов»</b> демонстрирует существующее единство человеческих коллективов на заре истории в эпоху палеолита и мезолита постепенно, которое по мере освоения континентов, дополнялось культурным разнообразием. Окружающая среда и образ жизни диктовали первобытным людям необходимость адаптации и коллективного сотрудничества. Постепенно всё больше проявлялись индивидуальные особенности материальных культур, создавая единство в многообразии.
<p>Обратимся к примеру, <b>«Межплеменные столкновения»</b>. Что мы увидим: в эпоху неолита и бронзы происходят первые военные столкновения между племенами. Пример раскопок Пепкинского кургана, расположенного на правобережье Волги, демонстрирует одно из них между абашевцами и балановскими (местными) племенами, закончившееся гибелью многих людей с обеих сторон.
<p>А <b>«Взаимодействие цивилизаций»</b>, античной и варварской, указывает на мирный характер взаимоотношений с местным населением во времена греческой колонизации (на примере античной Ольвии в Северном Причерноморье).
<p>Рассмотрим <b>«Социальное сплочение»</b> – это уникальный пример совместной защиты граждан и рабов античного города Ольвия во время его осады Запирионом – полководцем Александра Македонского в IV в. до н.э. Полис отстоял свою независимость. Редкий случай в античной истории, когда благоразумие восторжествовало, рабы за помощь в войне получили свободу.
<p>Зато <b>«Внутриполитический конфликт»</b> связан с известным событием в Российской истории, когда в 1570 г. во времена опричнины царь Иван Грозный совершил поход на Новгород, чтобы подавить остатки вольности. 
<p>В итоге – война с собственным народом, разорение Новгорода и, как результат, Смута начала XVII в. Архив, располагавшийся в комплексе Рюрикова городища (резиденции новгородских князей), был сожжен. Большинство рукописей погибло, а вот гербовые свинцовые печати, последние свидетельства вольного Новгорода, сохранились. Одна из печатей XII в. Святослава Ростиславича находится в музейной экспозиции.
<p>Кстати, интересен пример <b>«Межэтническое и межконфессиональное взаимодействие»</b>. Через историю Руси – России – Марийского края раскрывается историческая общность марийского народа, финно-угорских народов, их межэтническое и межконфессиональное взаимодействие со славянами и русскими во времена Киевской Руси и Российского государства. Показывая неоднозначность присоединения Марийского края к России, приводим примеры социального сплочения и сотрудничества марийского народа с многонациональным Российским государством. Говоря о политике веротерпимости, особо подчеркиваем роль, судьбу, значение Собора Воскресения Христова в Царевококшайске, построенного в 1759 г. Храм являлся главным в городе и уезде и был разрушен по идеологическим соображениям в советские времена. В настоящее время по инициативе правительства Республики Марий Эл Храм восстановлен. Такое решение, несомненно, способствует укреплению и сплочению населения, возвращает нас к историческим корням. 
<p>Не остался без внимания <b>«Межгосударственный конфликт»</b>, который  отражен в одном из самых значительных событий отечественной истории – Бородинском сражении, войне Франции с Россией в 1812 г. Экспонаты, собранные медведевскими юными археологами на знаменитом поле,  напоминают не только о сражении, но и о преодолении последствий конфликта. Дети узнают об открытии в 1912 г. на Бородинском поле памятника павшим французским воинам, ежегодной театрализованной реконструкции Бородинского сражения. Это настоящий праздник и пример укрепления социального сплочения и внешнеполитического сотрудничества в современном обществе.
<p>Поскольку <b>«Мировой конфликт»</b> связан со Второй мировой войной и нападением фашистской Германии на СССР в 1941 г., через исторические экспонаты, обнаруженные на Бородинском поле и других местах сражений, демонстрируется взаимосвязь двух Отечественных войн и уроки истории. Как и в 1812 г. остановить противника здесь не удалось, но его продвижение к Москве было задержано, что повлияло на весь ход Великой Отечественной войны. Война показала, что в борьбе с общим врагом и общей угрозой могут объединиться самые различные страны и народы, а опыт их взаимодействия в годы войны является уникальным и актуальным в сегодняшней ситуации борьбы с международным терроризмом.
<p><b>«Научно-образовательное, межгосударственное сотрудничество»</b>, рассматривается на актуальном сегодня примере, связанном с Украиной, когда наши государства еще тесно сотрудничали. В 1995 г. актив объединения «Юный археолог» был приглашен в Крым на раскопки древнего Херсонеса, которые велись вблизи исторического памятника культуры – Владимирского собора. Известно, что именно здесь произошло знаменитое крещение князя Владимира в 988 г. Находясь в Крыму, дети получили урок гостеприимства и осознания единства наших братских народов. В основе нынешнего Украинского кризиса и конфликта России и Запада, и те, кто его развязал этот конфликт, лежат геополитические корни;
<p><b>«Информационное (глобальное) взаимодействие»</b> с 2014 г. осуществляется в виртуальном пространстве археологического музея через Интернет с посетителями сайта «Виртуальный музей» (www.arhmuzey.ru).
<p>Таким образом, приведенные примеры взаимодействий и сотрудничества по всем эпохам, показывают большой потенциал школьного музея. Являясь по сути археологическим, он фактически стал музеем всемирной истории со своей своеобразной исторической интерпретацией и концепцией. Все это повышает роль музея в организации урочной и внеурочной краеведческой деятельности. Экспозиции музея позволяют осуществлять межпредметную интеграцию, проведение уроков по различным темам истории и культуре народов Республики Марий Эл, истории России и всеобщей истории. 
<p>Концепция музея, его интерпретация, (методическая система) неоднократно были представлены  на всероссийских и международных семинарах и конференциях. Так, в 2011 г. будучи делегатом первого всероссийского  Съезда учителей истории и обществознания в Москве, проходившей в Российской Академии наук,  являясь  одним из ведущих  секции «Изучение региональной истории в контексте преподавания истории России. Школьный музей истории», выступил  на секционном заседании с презентацией собственной методической системы по теме «Школьный археологический музей: связь времен, народов и поколений». Доклад и презентация получила высокую оценку ученых и педагогического сообщества. Участниками съезда, педагогами, мелодистами и учеными был написан  положительный  Отзыв на обобщение мною собственного опыта. Среди подписавших Отзыв –  С.О. Шмидт, д.и.н., Академик РАО, почетный председатель Союза краеведов России.


	<p align="center">«Отзыв
на презентацию учителя истории МОУ «Медведевская
средняя общеобразовательная школа №2»
Панова Игоря Ивановича
по теме «Школьный археологический музей:
связь времен, народов и поколений».
Презентация представлена в Российской Академии наук
на секции  « Изучение региональной истории в  контексте
преподавания истории России»
31 марта 2011 года.
</p>

<p><i>Докладчик представил и обобщил свой опыт работы, который заслуживает практического применения в школах России.  Археологический музей получил высокую оценку участниками сообщества. Коллеги были  восхищены не только богатой коллекцией раритетов, собранных в музее, не только грамотным и творческим оформлением экспозиции, но и прежде оригинальной концепцией музейного собрания. Эта концепция позволяет продемонстрировать культурное разнообразие в поликультурном регионе, что необходимо в процессе воспитания и патриотизма, и толерантности наших учеников».</i>
	 

	 <img src="/img/concept2.png" />
        

<!-- ТУТ ТОЖЕ КАКИЕ-То ДВЕ КАРТИНКИ ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->


          
<!-- сделать списком ul --> 
<p><font id="h1">Включение археологического музея в воспитательно-образовательный процесс. Организация экскурсионно-массовой работы:</font>

	<ul>
		<li>
			обзорные, тематические и учебные экскурсии для школьников и посетителей музея;
		</li>
		<li>
			занятия  с  юными  археологами по авторской программе объединения «Юный археолог»;
		</li>
		<li>
			разработка активом музея интернет-проекта «Виртуальный археологический музей»; 
		</li>
		<li>
			проведение уроков по истории и культуре народов Республики Марий Эл, истории России и всеобщей истории;
		</li>
		<li>
			интегрированный спецкурс «Музейная педагогика» (проведение занятий по гуманитарным предметам для учащихся 4–11классов); 
		</li>
		<li>
			летняя школа «Интеллектуал» (проведение занятий по выбору для обучающихся 5–9 классов);
		</li>
		<li>
			«Школа будущего пятиклассника» (проводятся уроки истории в 4-х классах);
		</li>
		<li>
			деятельность районного информационно-методического центра «Музейная педагогика», с работой школы для начинающих экскурсоводов; 
		</li>
		<li>
			проведение семинаров и конференций для педагогов и специалистов музеев образовательных учреждений;
		</li>
		<li>
			размещение виртуальной версии музея на сайте в Интернете;
		</li>
		<li>
			разработка и проведение спецкурса для студентов кафедры социально-культурных технологий МарГУ «Организация работы школьного музея» (38 часов).
		</li>
	</ul>

<p><font id="h1">Интеграция общего, дополнительного и высшего образования</font>
<p>Музей, будучи археологическим, фактически стал музеем всемирной истории со своей своеобразной исторической интерпретацией и концепцией не похожей на другие. Он уже давно стал тем пространством интеграции основного и дополнительного образования детей, которое объединяет различные  школы. Все это повышает роль музея в организации урочной и внеурочной краеведческой деятельности.
<p>В музее проходят обзорные и тематические <b>экскурсии</b> для школьников, студентов, учителей, работников музеев и всех желающих. Музей охотно посещают дети дошкольного возраста с родителями, жители п. Медведево, частыми посетителями музея являются отдыхающие отделения дневного пребывания для пенсионеров и инвалидов «Рябинушка». В учебном плане курсов повышения квалификации учителей при ГОУ ДПО (ПК) «Марийский институт образования» предусмотрено посещение музейных экспозиций и проведение методических семинаров.


	<img src="/img/concept3.png" />

<!-- ТУТ КАРТИНКА,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.



 -->

<p>По материалам музея разработан цикл экскурсий по всем историческим эпохам. Составлен подробный путеводитель. Экскурсии проводятся как обзорные, так и тематические, по желанию посетителей. Полный вариант экскурсионных разработок размещен на сайте музея  www.arhmuzey.ru.

<table style="font-size: 20px;" border ="1">
	<tr align ="center">
		<td>
			Экскурсии
		</td>
		<td>
			Темы экскурсий
		</td>
	</tr>
	<tr align ="left">
		<td>
			Обзорная экскурсия
		</td>

		<td>
			<br/>1.От каменного века до XX столетия.
		</td>
	</tr>
	<tr align ="left">
		<td>
			Тематические экскурсии
		</td>
		<td>
			<br/>2.1.Геологическое прошлое Земли. Палеонтология.
			<br/>2.2. Первобытное общество.
			<br/>2.3. Северное Причерноморье в античном мире.
			<br/>2.4. Средневековье Марийского края и Великого Новгорода.
			<br/>2.5. Героическое прошлое нашей Родины. Отечественные войны 1812 и 1941-1945 гг.
			<br/>2.6.Участие юных археологов в археологических исследованиях (1987-2014 гг.).
		</td>
	</tr>
</table>
<!-- ТУТ ТАБЛИЦА,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.. -->



<p>Экспозиции музея позволяют осуществлять межпредметную интеграцию, <b>проведение уроков</b> по различным темам истории и культуре народов РМЭ, истории России и всеобщей истории. 
<p>С 2007 г. в школьном археологическом музее с учетом календарно-тематического планирования предметов апробируется интегрированный спецкурс <b>«Музейная педагогика»</b> по гуманитарным предметам для учащихся 4–11классов, включающий 30 тем с учетом календарно-тематического планирования предметов. Календарно-тематическое планирование занятий составлено по месяцам и предусматривает наименование учебного предмета, тему занятия, класс. Количество часов изучения определенной темы определяется на месте, по согласованию с учителями-предметниками. Проведение занятий по «Музейной педагогике» способствует формированию межпредметных компетенций обучающихся и развитию личности детей. Курс занятий ориентирован на учеников различных школ, он может частично помочь учителям истории реализовать региональный компонент в образовании и формировать систему ценностей.


<table style="font-size: 20px;" border ="1"> 
	<tr align ="center">
		<td>
			№
		</td>
		<td>
			Учебный предмет
		</td>
		<td>
			Тема занятия
		</td>
		<td>
			Класс
		</td>
		<td>
			Время проведения
		</td>
	</tr>
	<tr align ="center">
		<td>
			1.
		</td>
		<td>
			Окружающий мир
		</td>
		<td>
			<br/>1.1. Первобытный мир – начало истории человечества.
			<br/>1.2. Древний мир – рождение первых Цивилизаций.
			<br/>1.3. Эпоха средних веков: между древностью и новым  временем.
		</td>
		<td>
			4<br/>
			4<br/>
			4<br/>
		<td>
			Декабрь<br/>
			Декабрь<br/>
			Январь<br/>

		</td>
	</tr>
	<tr align ="center">
		<td>
			2.
		</td>
		<td>
			Всеобщая история
		</td>
		<td>
			<br/>2.1. Жизнь первобытных людей.
			<br/>2.2..От первобытности к цивилизации.
			<br/>2.3. Греческие колонии на берегах. Средиземного и Черного морей.
		</td>
		<td>
			5<br/>
			5<br/>
			5<br/>
		<td>
			Сентябрь<br/>
			Сентябрь<br/>
			Фефраль<br/>

		</td>
	</tr>
	<tr align ="center">
		<td>
			3.
		</td>
		<td>
			История России
		</td>
		<td>
			<br/>3.1. Возникновение самостоятельных русских княжеств в XII -XIII вв. 
			<br/>3.2.Внешняя политика России при Иване IV.
			<br/>3.3. Национальное самосознание русского народа. Взаимодействие народов России.
			<br/>3.4. Отечественная война 1812 г.
			<br/>3.5. Начало Великой Отечественной войны.
			<br/>3.6.Появление человека на территории Восточной Европы
			<br/>3.7 Формирование народов
			<br/>3.8.Новгородская земля. Северо-Восточная Русь в XII -XIII вв.
			<br/>3.9.Великая Отечественная война. Боевые действия на фронтах.
		</td>
		<td>
			8<br/>
			9<br/>
			10<br/>
			10<br/>
			10<br/>
			11<br/>
		<td>
			Март<br/>
			Май<br/>
			Май<br/>
			Сентябрь<br/>
			Февраль<br/>
			Сентябрь<br/>
			Сентябрь<br/>
			Октябрь<br/>
			Февраль<br/>
		</td>
	</tr>
	<tr align ="center">
		<td>
			4.
		</td>
		<td>
			История и культура народов Республики Марий Эл
		</td>
		<td>
			<br/>4.1.Археология раскрывает тайны древней истории  Марийского края
			<br/>4.2.Из истории нашего края XII– XIX вв.
			<br/>4.3. Историческое краеведение
			<br/>4.4. Наш край в далеком прошлом..
			<br/>4.5. Школьное и научное краеведение. Поисковая работа школьников: советы юному Колумбу.
			<br/>4.6. Школьный музей: каким ему быть.
			<br/>4.7. Общество археологии, истории при Казанском императорском университете.
			<br/>4.8. Марийская республика в годы Великой Отечественной войны.
		</td>
		<td>
			5<br/>
			6<br/>
			7<br/>
			8<br/>
			9<br/>
			9<br/>
			10<br/>
			11<br/>
		<td>
			Сентябрь<br/>
			Сентябрь<br/>
			Май<br/>
			Сентябрь<br/>
			Май<br/>
			Май<br/>
			Сентябрь<br/>
		</td>
	</tr>
	<tr align ="center">
		<td>
			5.
		</td>
		<td>
			Природоведение
		</td>
		<td>
			<br/>5. Происхождение народов.
		<td>
			5<br/>
		<td>
			Сентябрь<br/>
		</td>
	</tr>
	<tr align ="center">
		<td>
			6.
		</td>
		<td>
			Биология
		</td>
		<td>
			<br/>6.1. Мир живых организмов. Ч.Дарвин и происхождение видов  
			<br/>6.2.. Происхождение человека, этапы его становления.
			<br/>6.3. Возникновение жизни на Земле. Начальные этапы развития жизни. Происхождение человека.
			<br/>6.4. Современные представления возникновения жизни. Жизнь в архейскую, палеозойскую, мезозойскую и кайнозойскую эру.Древние и первые современные люди
			<br/>6.5. Развитие жизни в архейскую, палеозойскую, мезозойскую и кайнозойскую эру.
			<br/>6.6. Стадии эволюции человека. Древнейшие люди. Древние люди (неандертальцы), первые современные люди.
		</td>
		<td>
			7<br/>
			8<br/>
			9<br/>
			10<br/>
			11<br/>
			11<br/>
		<td>
			Сентябрь<br/>
			Сентябрь<br/>
			Ноябрь<br/>
			Ноябрь<br/>
			Май<br/>
			Май<br/>
		</td>
	</tr>
</table>
<!-- таблица.................................... -->


<p>С 2009 г. обучающиеся 5–9 классов <b>летней школы «Интеллектуал»</b> по выбору посещают занятия по музейной педагогике. Школьники получают  теоретические и практические знания и  умения по основам музееведения. Одна из тем занятий посвящена  подготовке и созданию исследовательских проектов. Итоги летней школы  подводятся на научно-практической конференции по защите проектов. 
<p>Третий год  (с 2012 г.) в рамках ФГОС в музее проводятся уроки истории в 4-х классах <b>«Школа будущего пятиклассника»</b> (30 – 35 человек). Занятия предусматривают включение археологического музея в учебный процесс. Занятия строятся на идее, от частного к общему, от школьного музея к музеям государственным. Знакомство с разделами музея по всем основным историческим эпохам позволяют формировать  и закреплять первичные познания детей об истории Марийского края, России и всеобщей истории. Школьники знакомятся с историей появления музеев, узнают о лучших и необычных музеях мира и России. Поурочное планирование в Школе будущих пятиклассников включает 24 урока (1час в неделю). 

<table style="font-size: 20px;" border ="1">
	<tr align ="center">
		<td>
			№.
		</td>
		<td>
			Тема урока
		</td>
		<td>
			Количество часов
		</td>
		<td>
			Примерные сроки
		</td>
	</tr>
	<tr align ="center">
		<td>
			1.
		</td>
		<td>
			Вводное занятие. Что изучает история?
		</td>
		<td>
			1
		</td>
		<td>
			Октябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			2.
		</td>
		<td>
			Археологические раскопки.
		</td>
		<td>
			1
		</td>
		<td>
			Октябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			3.
		</td>
		<td>
			Живое прошлое Земли. Палеонтология.
		</td>
		<td>
			1
		</td>
		<td>
			Октябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			4.
		</td>
		<td>
			Школьный археологический музей. Эпоха первобытного общества в Марийском крае.
		</td>
		<td>
			1
		</td>
		<td>
			Ноябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			5.
		</td>
		<td>
			Периодизации каменного века.
		</td>
		<td>
			1
		</td>
		<td>
			Ноябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			6.
		</td>
		<td>
			Древнейшие люди в эпоху Великого оледенения на территории Марийского края.
		</td>
		<td>
			1
		</td>
		<td>
			Ноябрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			7.
		</td>
		<td>
			Охотники каменного века в Среднем Поволжье.
		</td>
		<td>
			1
		</td>
		<td>
			Декабрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			8.
		</td>
		<td>
			Древние люди в эпоху неолита на территории Марийского края.
		</td>
		<td>
			1
		</td>
		<td>
			Декабрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			9.
		</td>
		<td>
			Археологический музей. Первобытное общество в эпоху раннего металла.
		</td>
		<td>
			1
		</td>
		<td>
			Декабрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			10.
		</td>
		<td>
			Археологический музей. Античные города государства Северного Причерноморья. Ольвия.
		</td>
		<td>
			1
		</td>
		<td>
			Декабрь
		</td>
	</tr>
	<tr align ="center">
		<td>
			11.
		</td>
		<td>
			История Древнего мира. Древняя Греция. Спартанское и Афинское государство.
		</td>
		<td>
			1
		</td>
		<td>
			Январь
		</td>
	</tr>
	<tr align ="center">
		<td>
			12.
		</td>
		<td>
			Мифы и легенды Древней Греции.
		</td>
		<td>
			1
		</td>
		<td>
			Январь
		</td>
	</tr>
	<tr align ="center">
		<td>
			13.
		</td>
		<td>
			Мифы и легенды Древней Греции. Поэмы Гомера «Илиада» и «Одиссея».
		</td>
		<td>
			1
		</td>
		<td>
			Январь
		</td>
	</tr>
	<tr align ="center">
		<td>
			14.
		</td>
		<td>
			Археологический музей. Эпоха средневековья Марийского края.
		</td>
		<td>
			1
		</td>
		<td>
			Февраль
		</td>
	</tr>
	<tr align ="center">
		<td>
			15.
		</td>
		<td>
			Археологический музей. Русь – Россия. Великий Новгород.
		</td>
		<td>
			1
		</td>
		<td>
			Февраль
		</td>
	</tr>
	<tr align ="center">
		<td>
			16.
		</td>
		<td>
			Археологический музей. Бородино 1812 год.
		</td>
		<td>
			1
		</td>
		<td>
			Февраль
		</td>
	</tr>
	<tr align ="center">
		<td>
			17.
		</td>
		<td>
			Археологический музей. Великая Отечественная война 1941 – 1945 гг.
		</td>
		<td>
			1
		</td>
		<td>
			Февраль
		</td>
	</tr>
	<tr align ="center">
		<td>
			18.
		</td>
		<td>
			Школьный археологический музей. История формирования музея. Создание сайта музея.
		</td>
		<td>
			1
		</td>
		<td>
			Март
		</td>
	</tr>
	<tr align ="center">
		<td>
			19.
		</td>
		<td>
			Музеи. История возникновения музеев. Правила проведения экскурсий по музею.
		</td>
		<td>
			1
		</td>
		<td>
			Март
		</td>
	</tr>
	<tr align ="center">
		<td>
			20.
		</td>
		<td>
			Лучшие музеи мира.
		</td>
		<td>
			1
		</td>
		<td>
			Март
		</td>
	</tr>
	<tr align ="center">
		<td>
			21.
		</td>
		<td>
			Лучшие музеи России.
		</td>
		<td>
			1
		</td>
		<td>
			Апрель
		</td>
	</tr>
	<tr align ="center">
		<td>
			22.
		</td>
		<td>
			Археологическое объединение «Юный археолог». Участие школьников в археологических экспедициях.
		</td>
		<td>
			1
		</td>
		<td>
			Апрель
		</td>
	</tr>
	<tr align ="center">
		<td>
			23.
		</td>
		<td>
			Участие школьников в археологических краеведческих слетах, олимпиадах, конкурсах и конференциях.
		</td>
		<td>
			1
		</td>
		<td>
			Апрель
		</td>
	</tr>
	<tr align ="center">
		<td>
			24.
		</td>
		<td>
			Правила оформления презентаций по проектам исследовательских работ.
		</td>
		<td>
			1
		</td>
		<td>
			Апрель
		</td>
	</tr>
</table>

<!-- тут таблица,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

<p>По инициативе Медведевского районного дома детского творчества в начале 2013 г. на базе музея создан <b>районный информационно-методический центр «Музейная педагогика»</b>, при котором открылась <b>школа для начинающих экскурсоводов</b>. Создание подобной школы актуально. Для детей проводятся теоретические и практические занятия по основам экскурсионного мастерства. Методический центр «Музейная педагогика» позволяет юным экскурсоводам археологического музея добиваться значительных успехов в конкурсах на районном, республиканском и всероссийском уровнях. 
<p>В музее проходят занятия с юными археологами по авторской <b>программе объединения «Юный археолог»</b> (25–30 человек). Программа объединения стала <b>ЛАУРЕАТОМ I СТЕПЕНИ</b> Республиканского конкурса дополнительных образовательных программ туристско-краеведческой направленности. Она ориентирована на учащихся 5–11 классов, занимающихся в археологическом объединении, в состав которого входят учащиеся нескольких школ. 
<p>В течение первых двух лет ребята знакомятся с основами археологии, историей науки, понятийным аппаратом, важнейшими археологическими культурами и древнейшими центрами мировой цивилизации, с основами школьного музейного дела. Затем предполагается более углубленное постижение основ теоретической и практической археологии, индивидуализация и специализация занятий. Программа имеет концентрический характер изучения материала. Предлагаемый курс составлен на основе общепринятой сейчас периодизации и классификации археологических культур.
<p>Программой предусмотрено участие детей в  экспедициях, конкурсах, конференциях и работе в музее. Для реализации основных направлений внеурочной деятельности в музее созданы профильные группы: поисково-исследовательская – все желающие могут принять участие в археологических экспедициях, конкурсах; группа моделирования музейных предметов; экскурсионная группа – для проведения экскурсий,  бесед, встреч с гостями музея, музейных праздников. 
<p>В последние годы (2012–2014) приоритетной стала  информационно-коммуникационная группа, принимающая активное участие в разработке <b>интернет-проекта «Виртуальный археологический музей»</b>. Интернет-сайт рассчитан на широкую аудиторию в виртуальном пространстве. В условиях все возрастающего интереса общества к истории он знакомит посетителей с уникальным школьным археологическим музеем, аналогов которому нет в стране. Интернет-проект уже востребован школьниками, студентами, педагогами, музейными работниками, специалистами учреждений образования и культуры. С переходом на новый технический уровень, за полгода размещения в виртуальном пространстве его посетили пользователи из 25 стран, из 70 субъектов и городов РФ. Это позволяет говорить о создании эффективно действующего инновационного образовательного пространства, интегрирующего общее и дополнительное образование детей. Сайт сможет оказать существенную помощь учителям и педагогам дополнительного образования в проведении внеурочных занятий в связи с введением ФГОС в школе. 

    
<img src="/img/concept4.png" />

<!-- КАРТИНКА!!"!№!"№!"№!"№!"№!"№!"№!"№!"№!"№!"№!№!"№!"№!"№!"№!"№!"№!"№!"№!№!"№!"№!"№!"" -->



<p>Деятельность музея не ограничивается только общим и дополнительным образованием. Традиционными стали экскурсии и учебные занятия для студентов исторического факультета ФГБОУ ВПО «Марийский государственный университет». В учебном плане кафедры социально-культурных технологий МарГУ на 2014 – 2015 учебный год запланировано проведение лекционных и практических занятий руководителем школьного археологического музея  со студентами  4 курса по дисциплине <b>«Организация работы школьного музея»</b> (38 часов). 
<p><font id="h1">
	<b>Тематический план учебной дисциплины</b></font>
</p>

<iframe src="/teach.htm" width="735" height="1000"></iframe>

<!-- Таблица................................ -->


<p>Таким образом, следует отметить, что сотрудничество с образовательными, культурными и научными учреждениями способствует активизации учебно-воспитательной деятельности археологического музея, Школьный  музей стал  образовательным пространством, способным  осуществлять взаимодействие и интеграцию общего, дополнительного и высшего образования, что оказывает положительное влияние на духовно-нравственное и патриотическое воспитание обучающихся.
<p>Опыт нашей работы по интеграции общего и дополнительного образования (с 2014 г. и высшего образования) средством археологического музея за последние несколько лет неоднократно представлен на международных, российских, окружных, межрегиональных, республиканских конкурсах, семинарах, конференциях и форумах. Актив и совет музея, занимаясь научно-исследовательской деятельностью,  традиционно добиваются высоких результатов во всероссийских, окружных, межрегиональных, республиканских и  районных конкурсах, часто становясь победителями и лауреатами.

<img src="/img/concept5.png" />

<!-- картинка........................................ -->

<p><font id="h1">Ожидаемы результаты деятельности музея</font>
<p>Результаты деятельности музея формулируются исходя из цели и задач:
<p>В образовательной сфере – приобретение учащимися глубоких знаний по истории родного края, России и всеобщей истории. Приобретение умений свободно ориентироваться в исторических событиях и фактах связывать эти факты с историей России в целом.
<p>В воспитательной сфере – воспитание у учащихся чувства уважения к истории России и родного края, гордости за её прошлое, уважения и преклонения перед людьми, защищавшими её свободу и независимость, достижение учащимися высокого уровня патриотического сознания, основанного на знании и понимании истории России.
<p>В развивающей сфере – достижения учащимися высокого уровня умений и навыков по профилю музея – выработка этих умений. Обучение  организации и проведению экскурсий в музее,  проведение мероприятий по профилю музея на внутришкольном (выставки, конкурсы, экскурсии) и междушкольном (семинары, конкурсы, конференции) уровнях. Развитие творческих способностей учащихся в процессе создания и презентации творческих работ по профилю музея (макеты, создание сайта «Виртуальный музей). Формирование у учащихся навыков самостоятельного мышления в сфере исторического знания, и вообще – в сфере развития высокого уровня гражданского и патриотического сознания школьников как полноправных и активных граждан России.

<p><font id="h1">Критерии оценки результатов реализации программы.</font>
<p>Результаты    будут    отслеживаться    Советом содействия. Диагностика реализации программы осуществляется с помощью разнообразных методов: собеседования с учащимися; наблюдения; анкетирования; метода самооценки; ведение «Книги отзывов»; систематические публикации материалов в газетах «Вести», «Марийская правда»; телевизионные передачи; конкурсы, конференции, семинары; статистика просмотров сайта «Виртуальный музей»; творческие отчеты.
<p>Критерии:
<ol type = "1">	
	<li>
		Сформированность положительной мотивации на развитие у обучающихся патриотических чувств. 
	</li>
	<li>
		формированность познавательной активности обучающихся. 
	</li>
	<li>
		Сформированность основных ценностных отношений. 
	</li>
	<li>
		Сформированность потребности вести поисковую, исследовательскую работу.
	</li>
	<li>
		Сформированность отношения к окружающей действительности. 
	</li>
</ol>

<p><font id="h1">Оценка результатов</font>
<p>Эффективность достижения целей программы будет оцениваться:
<p>Во-первых: уровнем сформированности таких ценностных ориентиров, как любовь к Родине, интерес к истории, культуре своего народа; компетентности в сфере самостоятельной познавательной деятельности, основанной на усвоении способов приобретения знаний из различных источников информации; компетентности в сфере гражданско-общественной социальной деятельности;
<p>Во-вторых: результатами участия в конкурсах исследовательских краеведческих  работ, массовых мероприятиях.
<p>Воспитанники, участвовавшие в течение 3-5 лет в работе музея, отличаются от своих сверстников повышенным интересом ко всем сферам окружающей действительности. Исходным материалом для оценки эффективности усвоения данной программы служит непосредственная реакция детей на занятиях, а также продукты творческой деятельности обучающихся: проекты, презентации, макеты, выполнения творческих заданий, отзывы родителей, педагогов, общественности, СМИ, использование учащимися полученных знаний и навыков на занятиях по другим предметам. Они становятся победителями и претендентами на получение премий по поддержке способной и талантливой молодежи.  
<p>Включение археологического музея в воспитательно-образовательный процесс  и организация экскурсионно-массовой работы фактически является интеграцией основного и дополнительного образования детей в рамках отдельной школы, что соответствует требования ФГОС.


<p align = "center">
	<font id="h1" >План мероприятий по реализации концепции (программы) развития школьного археологического музея МОБУ «Медведевская СОШ №3» на 2010 – 2015 гг.</font>
</p>





<iframe src="/2010-2015.htm" width="735" height="1000"></iframe>


<!-- НУ ООООООООЧЕНЬ БОЛЬШАЯ ТАБЛИЦА!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->







<p><font id="h1">Список публикаций</font> 
<ol type = "1">
	<li>
		Панов И.И. Использование археологических материалов на уроках истории //Материалы Всесоюзных педагогических чтений. Нижний Новгород, 1991. – С. 17.
	</li>
	<li>
		Панов И.И. Место археологии в процессе преподавания истории в школе //Марий Эл учитель. Йошкар-Ола. Вып. 3.– 1993. – С. 84–96.
	</li>
	<li>
		Панов И.И. Школьный археологический кружок – средство формирования интереса учащихся к истории //Материалы II-й 	республиканской научно – практической конференции. Йошкар-Ола: МИО, 1997. – С.37–40.
	</li>
	<li>
		Панов И.И. О развитии интереса учащихся к краеведческой деятельности //Материалы VIII республиканской научно- 	практической конференции Марийское краеведение: опыт и перспективы его использования в школе. Йошкар-Ола: МИО, 2002. – С.42.
	</li>
	<li>
		Панов И.И. Школьный археологический кружок как средство сотрудничества детей и взрослых //Материалы IX республиканской 	научно - практической конференции «Марийское краеведение: опыт и перспективы его использования в школе». Йошкар-Ола: ГОУ ДПО (	ПК) С «Марийский институт образования»), 2003. – С.21–27.
	</li>
	<li>
		Панов И.И. О подготовке и участии учащихся во Всероссийских олимпиадах по археологии и школьному краеведению 	//Материалы межрегиональной X-й научно- практической конференции «Марийское краеведение: опыт и перспективы его использования 	в системе образования Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2005. – С.58–62.
	</li>
	<li>
		Панов И.И. Школьный археологический музей: совместное творчество детей и взрослых //Материалы XI-й республиканской 	научно-практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики 	Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2005. – С.36–39.
	</li>
	<li>
		Панов И.И. Экспозиция боевой славы //Растить патриотов России. Из опыта работы учителей истории и обществознания. Йошкар	-Ола: Педагогическая инициатива. 2005. – С.27–32.
	</li>
	<li>
		Панов И.И. Школа и археология: приобщение учащихся к научно-исследовательской работе //Материалы XII-й республиканской 	научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования 	Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2006. – С. 110–113.
	</li>
	<li>
		Панов И.И. Поисково-исследовательская деятельность учащихся как фактор творческого саморазвития личности 	//Инновационная сельская школа от идеи к результату. Сборник статей. Йошкар-Ола: ГОУ ВПО МарГУ, 2006. – С. 42–49.
	</li>
	<li>
		Панов И.И. Приобщение учащихся к научно-исследовательской деятельности. //Молодежь Республики Марий Эл. Материалы 	межрегиональной научно-практической конференции. – Йошкар-Ола. 2007. – С. 59–63.
	</li>
	<li>
		Панов И.И. Преподавание истории взаимодействий и сотрудничества средствами школьного археологического музея. 	Материалы XV-й республиканской научно-практической конференции «Марийское краеведение: опыт и перспективы его использования в 	системе образования Республики Марий Эл». 2009. – С. 20–23.
	</li>
	<li>
		Панов И.И. Школьный археологический музей: традиции и перспективы //Материалы Всероссийской научно-практической 	конференция с международным участием «Этническая культура народов Волго-Камья: традиции, трансформации и современные процессы»	. Йошкар-Ола, 2009. – С. 368–375.
	</li>
	<li>
		Панов И.И. Школьный археологический музей: связь времен, народов и поколений // Юный краевед. Научно-популярный 	журнал для детей и юношества. № 10, Москва, 2009. – С. 18–23.
	</li>
	<li>
		Панов И.И. Преподавание истории взаимодействий и сотрудничества средствами школьного археологического 	музея//Краеведческий альманах. Научно-методический журнал. №3, Москва, 2009. –
	 С. 3–7. 
	</li>
	<li>
		Панов И.И. Медведевский школьный археологический музей// Материалы музейной научно – практической конференции «III 	Евсеевские чтения». Музейный вестник №4. Йошкар-Ола, 2010. – С. 115–120. 
	</li>
	<li>
		Панов И.И. Школьный археологический музей как музей всемирной истории // Материалы научно – практической конференции 	посвящённой 70-летию Медведевского района. Сборник статей. Медведево, 2012. – С. 101–104.
	</li>
	<li>
		Панов И.И. Медведевское краеведческое объединение «Юный археолог» в Республике Марий Эл// Шестые всероссийские 	краеведческие чтения  (Москва-Можайск, 1 –2 июня 2012 г.) / Отв. ред. В.Ф.Козлов, сост. А.Г.Смирнова. М.: ИЦ "Краеведение", 	2012. С. 662–669.
	</li>
	<li>
		Леухин А., Крылов М., Алексеев Н. /Руководитель Панов И.И. Виртуальный музей. Медведевский школьный археологический музей//Юный краевед. № 9. Москва, 2013. С. 42–49.
	</li>
</ol>