<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://cp.sprinthost.ru/CMD_FILE_MANAGER/domains/arhmuzey.ru/public_html/3-2006/slides/0010.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default2h.disk.yandex.ru/rdisk/6d53126f153c82a9803643644ee7212a/mpfs/LuECVOTIkScvpQkCbJ6aWOIs_wvDGDvp5ffB5e-Vn-tN-8UeDQn5YLvieQxeNze-LWysSl9bipYxWR92_jS6CQ==?uid=110511786&filename=0.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d6d91c73bcf33cf35f063217731c980d&rtimestamp=5360ca5e&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default1d.disk.yandex.ru/rdisk/930b6391edcc98f18cdd1ac3d0dd83ae/mpfs/YHpD9JMw2JSIi4esfq99FnJ9vQ_Bzrqp90HazOL9V7V3IGO8VtMIbICY1mo8b8BIHAN4Igz44HVRLosYBLjHaw==?uid=110511786&filename=1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=f33efb574ad1f4e7b1643f41c5e3a405&rtimestamp=5360ca74&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default1d.disk.yandex.ru/rdisk/930b6391edcc98f18cdd1ac3d0dd83ae/mpfs/YHpD9JMw2JSIi4esfq99FnJ9vQ_Bzrqp90HazOL9V7V3IGO8VtMIbICY1mo8b8BIHAN4Igz44HVRLosYBLjHaw==?uid=110511786&filename=1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=f33efb574ad1f4e7b1643f41c5e3a405&rtimestamp=5360ca74&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default7m.disk.yandex.ru/rdisk/b3c5fa9d7ea4b59d28c9728b972db531/mpfs/phD4wcqRbAAEvrT-6oZDE4M7cShzdVsZZHjQQakUcHB7qOWseGYkYdCUBqOQW4pXUO-DQOsgXcSW7dLtj8ut0A==?uid=110511786&filename=2.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=8ce64f10eea0371717e5ae677c6c5e6a&rtimestamp=5360ca86&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default7m.disk.yandex.ru/rdisk/b3c5fa9d7ea4b59d28c9728b972db531/mpfs/phD4wcqRbAAEvrT-6oZDE4M7cShzdVsZZHjQQakUcHB7qOWseGYkYdCUBqOQW4pXUO-DQOsgXcSW7dLtj8ut0A==?uid=110511786&filename=2.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=8ce64f10eea0371717e5ae677c6c5e6a&rtimestamp=5360ca86&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default3m.disk.yandex.ru/rdisk/682c333a73d0d97b8d927a66a4fb41cb/mpfs/i_kRngW-tMM0OBMt3wWR-2LpJRBmnl3Y5Fm2Ab2Zlf3RWIsGEE8LZqv8HGwZBy9bKz_K3Y7Su7eQcMpK15FZKA==?uid=110511786&filename=3.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=7258f7fbff1963ec6d560c91ba481e22&rtimestamp=5360ca9c&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default3m.disk.yandex.ru/rdisk/682c333a73d0d97b8d927a66a4fb41cb/mpfs/i_kRngW-tMM0OBMt3wWR-2LpJRBmnl3Y5Fm2Ab2Zlf3RWIsGEE8LZqv8HGwZBy9bKz_K3Y7Su7eQcMpK15FZKA==?uid=110511786&filename=3.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=7258f7fbff1963ec6d560c91ba481e22&rtimestamp=5360ca9c&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default1h.disk.yandex.ru/rdisk/dae87deb3086525d42ae0c49dc5174d3/mpfs/vgPOimRenHsoAXRr0PAoETv642iYu3mruW2yo3WQCGR9csET94MZPSBDuHRmZGXStagmfSr006hAZfl93bRZrw==?uid=110511786&filename=4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=543f6b934407fc85240c019520cdaf4c&rtimestamp=5360cab3&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default1h.disk.yandex.ru/rdisk/dae87deb3086525d42ae0c49dc5174d3/mpfs/vgPOimRenHsoAXRr0PAoETv642iYu3mruW2yo3WQCGR9csET94MZPSBDuHRmZGXStagmfSr006hAZfl93bRZrw==?uid=110511786&filename=4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=543f6b934407fc85240c019520cdaf4c&rtimestamp=5360cab3&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default10h.disk.yandex.ru/rdisk/2591282636d32a6547e4d7c978a02cc2/mpfs/yJtXFcqjEzEOYBCW4jHRgJmfj2f3jDQqEonLgdzH6uO8-cUxuDiNMcV24vnp2ijtTgHKfperCVv8lRHW3sv3ig==?uid=110511786&filename=5.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=8ef7e9381231ec3805b4f8b10e3d5855&rtimestamp=5360caca&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default10h.disk.yandex.ru/rdisk/2591282636d32a6547e4d7c978a02cc2/mpfs/yJtXFcqjEzEOYBCW4jHRgJmfj2f3jDQqEonLgdzH6uO8-cUxuDiNMcV24vnp2ijtTgHKfperCVv8lRHW3sv3ig==?uid=110511786&filename=5.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=8ef7e9381231ec3805b4f8b10e3d5855&rtimestamp=5360caca&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default4h.disk.yandex.ru/rdisk/4a65f965fe7337fa2c1e82a9fb851277/mpfs/9iIUTxw7qD2Q6sQB9fWl73I13kwuA3T_iiUYQIO-89-FqGWJ2Fjam5hucC7SLrjqi1Nh3R6jWRZzHf5IvbH7Ng==?uid=110511786&filename=6.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=683e8b1084a1b64db762d08db305917a&rtimestamp=5360cae7&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default4h.disk.yandex.ru/rdisk/4a65f965fe7337fa2c1e82a9fb851277/mpfs/9iIUTxw7qD2Q6sQB9fWl73I13kwuA3T_iiUYQIO-89-FqGWJ2Fjam5hucC7SLrjqi1Nh3R6jWRZzHf5IvbH7Ng==?uid=110511786&filename=6.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=683e8b1084a1b64db762d08db305917a&rtimestamp=5360cae7&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default9j.disk.yandex.ru/rdisk/3ca0cb35045e6aff0809bb718d77cea1/mpfs/XdpS3Na7-lkT75sPeNNt73xS--5aaUOCb9hUK6tyvB-gSj6nT_W6PIEbiF8B3ilP-XachkJcBClPzCjycJbCNA==?uid=110511786&filename=7.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=b74a6f7281256e0b6645d31d47edad8e&rtimestamp=5360cafb&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default9j.disk.yandex.ru/rdisk/3ca0cb35045e6aff0809bb718d77cea1/mpfs/XdpS3Na7-lkT75sPeNNt73xS--5aaUOCb9hUK6tyvB-gSj6nT_W6PIEbiF8B3ilP-XachkJcBClPzCjycJbCNA==?uid=110511786&filename=7.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=b74a6f7281256e0b6645d31d47edad8e&rtimestamp=5360cafb&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default11m.disk.yandex.ru/rdisk/57e1e9ce26bd148eb26c209da593d101/mpfs/G20QGpB5N6itUgutcPjCkVBwcbmY3oQovt_2yT9vPu2s7_8FSOH4ijRec2PYVwRRFHsl_LokKLPxxGTn2nuehw==?uid=110511786&filename=8.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d52947acda7c33891c05dc2d82cbe6dc&rtimestamp=5360cb0f&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default11m.disk.yandex.ru/rdisk/57e1e9ce26bd148eb26c209da593d101/mpfs/G20QGpB5N6itUgutcPjCkVBwcbmY3oQovt_2yT9vPu2s7_8FSOH4ijRec2PYVwRRFHsl_LokKLPxxGTn2nuehw==?uid=110511786&filename=8.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d52947acda7c33891c05dc2d82cbe6dc&rtimestamp=5360cb0f&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default8h.disk.yandex.ru/rdisk/e9bc7de0d89bc99c5a04cdb3e3bac8af/mpfs/PVbemc2q8qqU-KeAYXF09xTLbrMNoXvA_wHGFWC-jz5S4TBk4hBcc_y6_2Hg0xS4AlZhXbwN9gzwv5sOjnqYUQ==?uid=110511786&filename=9.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d40e6a2697250a95977aed67e432e15f&rtimestamp=5360cb1f&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default8h.disk.yandex.ru/rdisk/e9bc7de0d89bc99c5a04cdb3e3bac8af/mpfs/PVbemc2q8qqU-KeAYXF09xTLbrMNoXvA_wHGFWC-jz5S4TBk4hBcc_y6_2Hg0xS4AlZhXbwN9gzwv5sOjnqYUQ==?uid=110511786&filename=9.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d40e6a2697250a95977aed67e432e15f&rtimestamp=5360cb1f&force_default=yes" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>