<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default13h.disk.yandex.ru/rdisk/b0923946297a88ad916cdecc3202f95c/mpfs/lQ0J2SheHV_hSXW6vsMFnnpq38H1Nilp8bUkBw-A5zQbarP6OPnc8h9Hlrx0Et2NHaIHtJlSXq1qVQEgXsfnfQ==?uid=110511786&filename=0.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=dabbb6fb2ee50b103fd650916bd323ed&rtimestamp=535cf94e&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default13h.disk.yandex.ru/rdisk/b0923946297a88ad916cdecc3202f95c/mpfs/lQ0J2SheHV_hSXW6vsMFnnpq38H1Nilp8bUkBw-A5zQbarP6OPnc8h9Hlrx0Et2NHaIHtJlSXq1qVQEgXsfnfQ==?uid=110511786&filename=0.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=dabbb6fb2ee50b103fd650916bd323ed&rtimestamp=535cf94e&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default4j.disk.yandex.ru/rdisk/ca087439f5ec0bd39c4f0dbae4a6468e/mpfs/YKfyGX3TAQWQhyzbQCXpf7RZ7m30xal7oHdf14RIcm3hdBe67sGkG6vmEUImcNxZwNpi3IcYI-z8Z1vMMiDT0g==?uid=110511786&filename=1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=125eddd3e6163d03437b0b9af68a61ba&rtimestamp=535cf964&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default4j.disk.yandex.ru/rdisk/ca087439f5ec0bd39c4f0dbae4a6468e/mpfs/YKfyGX3TAQWQhyzbQCXpf7RZ7m30xal7oHdf14RIcm3hdBe67sGkG6vmEUImcNxZwNpi3IcYI-z8Z1vMMiDT0g==?uid=110511786&filename=1.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=125eddd3e6163d03437b0b9af68a61ba&rtimestamp=535cf964&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default2m.disk.yandex.ru/rdisk/26abdaade994f8605ee0605369f574eb/mpfs/Y3HuIaCGwaHEI6ZEJmrWiMMaAoH6Vidsc0N1npB_Pb9C6xBtXFdl2iRodH9Jhu9TgfbXLTbpmKdZap0-_DvQHQ==?uid=110511786&filename=2.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=71fd3c3f6cf174d0c0af8b0e8b2fb075&rtimestamp=535cf972&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default2m.disk.yandex.ru/rdisk/26abdaade994f8605ee0605369f574eb/mpfs/Y3HuIaCGwaHEI6ZEJmrWiMMaAoH6Vidsc0N1npB_Pb9C6xBtXFdl2iRodH9Jhu9TgfbXLTbpmKdZap0-_DvQHQ==?uid=110511786&filename=2.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=71fd3c3f6cf174d0c0af8b0e8b2fb075&rtimestamp=535cf972&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default3j.disk.yandex.ru/rdisk/340cc04ea9b7e50360b679fab01981f0/mpfs/Qr4TBNSxFt5c_vM65yjSRb71thDV1lsgEzbwEyz4AHan5jiiy434reyEfO-s-KNNlsg4VIaLrfRKbQetv4dueQ==?uid=110511786&filename=3.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=919ed479676a33eb1f4d2e3e853008a8&rtimestamp=535cf980&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default3j.disk.yandex.ru/rdisk/340cc04ea9b7e50360b679fab01981f0/mpfs/Qr4TBNSxFt5c_vM65yjSRb71thDV1lsgEzbwEyz4AHan5jiiy434reyEfO-s-KNNlsg4VIaLrfRKbQetv4dueQ==?uid=110511786&filename=3.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=919ed479676a33eb1f4d2e3e853008a8&rtimestamp=535cf980&force_default=yes" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default9m.disk.yandex.ru/rdisk/a729e216f1d2f1ebb3e8fc650904c6c4/mpfs/8i5vilNUVSBrQAd8XdzhrHTnSaxL-RYSjYwlqMPuc1R3W644SzezACemwWMyiRKAzjEgG0LX5N56fQxA17Ql2A==?uid=110511786&filename=4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d4c1ac159bfac638f229cb41897b042b&rtimestamp=535cf98e&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default9m.disk.yandex.ru/rdisk/a729e216f1d2f1ebb3e8fc650904c6c4/mpfs/8i5vilNUVSBrQAd8XdzhrHTnSaxL-RYSjYwlqMPuc1R3W644SzezACemwWMyiRKAzjEgG0LX5N56fQxA17Ql2A==?uid=110511786&filename=4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d4c1ac159bfac638f229cb41897b042b&rtimestamp=535cf98e&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default4m.disk.yandex.ru/rdisk/6431a7e13cb2ae4e62abf074cbe0d4e0/mpfs/8sz_nKt9HqCF_QTG-yQKXO2SDnnMzJToIP8YnpK-RI5TmW17dBVprrbNchAvFS-mQu_WZNb8NAr51pZLj0pwTQ==?uid=110511786&filename=5.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=9c0c90203f6760484b2eaf740aa6721c&rtimestamp=535cf99a&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default4m.disk.yandex.ru/rdisk/6431a7e13cb2ae4e62abf074cbe0d4e0/mpfs/8sz_nKt9HqCF_QTG-yQKXO2SDnnMzJToIP8YnpK-RI5TmW17dBVprrbNchAvFS-mQu_WZNb8NAr51pZLj0pwTQ==?uid=110511786&filename=5.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=9c0c90203f6760484b2eaf740aa6721c&rtimestamp=535cf99a&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default12h.disk.yandex.ru/rdisk/5acad7e94262f8331543711f5e48b1a3/mpfs/9xE0f9TJU2w2ToIUpp5Y7C2Z8XzWsDBrsDFgqAvitiQ7ivkp878x3-UK5XNMNFOncNe4u0YtVgvJmPXQEsjocw==?uid=110511786&filename=6.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d6d02f23838f57fcb1f0a2e8b68a33fc&rtimestamp=535cfa68&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default12h.disk.yandex.ru/rdisk/5acad7e94262f8331543711f5e48b1a3/mpfs/9xE0f9TJU2w2ToIUpp5Y7C2Z8XzWsDBrsDFgqAvitiQ7ivkp878x3-UK5XNMNFOncNe4u0YtVgvJmPXQEsjocw==?uid=110511786&filename=6.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d6d02f23838f57fcb1f0a2e8b68a33fc&rtimestamp=535cfa68&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default3h.disk.yandex.ru/rdisk/9e528f3f4b42dc152f5e8113fb296563/mpfs/3MyjWnYdkL_U3CrbZX8u52LpJRBmnl3Y5Fm2Ab2Zlf1uIZSf5khu2uf6J-ihPWlH1eoSp66NWKoYJu_goAdHyw==?uid=110511786&filename=7.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=68a7162a1cde35e5fa14409fb76e86c7&rtimestamp=535cfa76&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default3h.disk.yandex.ru/rdisk/9e528f3f4b42dc152f5e8113fb296563/mpfs/3MyjWnYdkL_U3CrbZX8u52LpJRBmnl3Y5Fm2Ab2Zlf1uIZSf5khu2uf6J-ihPWlH1eoSp66NWKoYJu_goAdHyw==?uid=110511786&filename=7.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=68a7162a1cde35e5fa14409fb76e86c7&rtimestamp=535cfa76&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default3h.disk.yandex.ru/rdisk/4d3574b582b538d7e8a875431c54501c/mpfs/LuECVOTIkScvpQkCbJ6aWGVKWuUylyzy9lYOtyCAtuehJ0mk2IiomkKY0oQoEkf1PkhatcYbHvmS8odatCgYQw==?uid=110511786&filename=8.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=19195ba6fa171af6d2bce5edb4c6e651&rtimestamp=535cfa88&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default3h.disk.yandex.ru/rdisk/4d3574b582b538d7e8a875431c54501c/mpfs/LuECVOTIkScvpQkCbJ6aWGVKWuUylyzy9lYOtyCAtuehJ0mk2IiomkKY0oQoEkf1PkhatcYbHvmS8odatCgYQw==?uid=110511786&filename=8.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=19195ba6fa171af6d2bce5edb4c6e651&rtimestamp=535cfa88&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default6m.disk.yandex.ru/rdisk/1ca4470c3d17e8045727f4b01c987500/mpfs/i_kRngW-tMM0OBMt3wWR-3TnSaxL-RYSjYwlqMPuc1SSUXP53XQoW20FmUJc0FgHWKisENQjD9jBCbs0dvUfeg==?uid=110511786&filename=9.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=359dd8b3d493742ecb12ddf6f36d8f45&rtimestamp=535cfab4&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default6m.disk.yandex.ru/rdisk/1ca4470c3d17e8045727f4b01c987500/mpfs/i_kRngW-tMM0OBMt3wWR-3TnSaxL-RYSjYwlqMPuc1SSUXP53XQoW20FmUJc0FgHWKisENQjD9jBCbs0dvUfeg==?uid=110511786&filename=9.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=359dd8b3d493742ecb12ddf6f36d8f45&rtimestamp=535cfab4&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default14m.disk.yandex.ru/rdisk/63b715eb024336f0a15e66ef6252fbf8/mpfs/tpbl42JsgwIyiE46DHqZTbRZ7m30xal7oHdf14RIcm1SkZpHNLQaQY6F0tbWMhQ8VcoUfK01XTQ7YWR4GOfBKA==?uid=110511786&filename=10.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=60710e622bf9f6c04dd43576c99c8136&rtimestamp=535cfac0&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default14m.disk.yandex.ru/rdisk/63b715eb024336f0a15e66ef6252fbf8/mpfs/tpbl42JsgwIyiE46DHqZTbRZ7m30xal7oHdf14RIcm1SkZpHNLQaQY6F0tbWMhQ8VcoUfK01XTQ7YWR4GOfBKA==?uid=110511786&filename=10.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=60710e622bf9f6c04dd43576c99c8136&rtimestamp=535cfac0&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default12h.disk.yandex.ru/rdisk/6fc8cff574afe24c2a016fc0c923ed88/mpfs/811roE1M73vfNb45MVM1oHJh23y4yXeGYy8YnYjwcA-ZdKstsqAbJxE0RyoMRKdxDve1x5xCrdB-sgXtzV4peg==?uid=110511786&filename=11.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d17e4a56b3aa84efcaba48611ba313aa&rtimestamp=535cfacd&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default12h.disk.yandex.ru/rdisk/6fc8cff574afe24c2a016fc0c923ed88/mpfs/811roE1M73vfNb45MVM1oHJh23y4yXeGYy8YnYjwcA-ZdKstsqAbJxE0RyoMRKdxDve1x5xCrdB-sgXtzV4peg==?uid=110511786&filename=11.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=d17e4a56b3aa84efcaba48611ba313aa&rtimestamp=535cfacd&force_default=yes" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://downloader-default6h.disk.yandex.ru/rdisk/17ba22d2a3b8460413ac3bf65a52c526/mpfs/uCBD8ALotbYqId8OoKkeWd_0zUofQIoNWzle-Kk2-wYtdx5WeF6KROtQf73cf0HltGM0vWE9bLGlaNU_3wkPsg==?uid=110511786&filename=12.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=1202aa868dd83cb1513135d1e410eaf1&rtimestamp=535cfada&force_default=yes" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://downloader-default6h.disk.yandex.ru/rdisk/17ba22d2a3b8460413ac3bf65a52c526/mpfs/uCBD8ALotbYqId8OoKkeWd_0zUofQIoNWzle-Kk2-wYtdx5WeF6KROtQf73cf0HltGM0vWE9bLGlaNU_3wkPsg==?uid=110511786&filename=12.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&rtoken=1202aa868dd83cb1513135d1e410eaf1&rtimestamp=535cfada&force_default=yes" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>