<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="https://www.dropbox.com/s/wjscqbc0r723mti/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="https://www.dropbox.com/s/wjscqbc0r723mti/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/Fsju0hAjLAM72" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/Fsju0hAjLAM72" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/0V_4vBngLAM7L" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/0V_4vBngLAM7L" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/FFcMg_H4LAM7S" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/FFcMg_H4LAM7S" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/uV-tFX6JLAM7p" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/uV-tFX6JLAM7p" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/oL4cmg3zLAM89" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/oL4cmg3zLAM89" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/zcV4sLZ4LAM8X" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/zcV4sLZ4LAM8X" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/NeDAGvC-LAM8w" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/NeDAGvC-LAM8w" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/LYQoYL10LAM9C" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/LYQoYL10LAM9C" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/cilizHD0LAM9i" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/cilizHD0LAM9i" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/Ks6m7VwLLAMA3" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/Ks6m7VwLLAMA3" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/pi8XdCJcLAMAK" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/pi8XdCJcLAMAK" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://yadi.sk/d/tO5IM0p6LAMAd" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://yadi.sk/d/tO5IM0p6LAMAd" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>