	<div class="events-gallery">
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/0.png" alt="" />
		</a>	
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/1.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/2.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/3.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/4.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/5.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/6.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/7.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/8.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/9.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/10.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/11.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/12.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/13.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/14.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/15.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/16.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/17.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/1_1992/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1992/18.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Большой интерес вызвали у ребят сезоны 1992–1994 гг., когда они принимали участие в раскопках поселений эпохи бронзы в зоне Чебоксарского затопления близ деревень Дубовая (Килемарский район), Починок и Галанкина гора в Юринском районе. Многое из археологических ценностей потеряно безвозвратно в результате затопления, часть памятников старины оказалась под водой, на дне водохранилища, другая часть разрушается в результате обвала берегов».
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Ишпаев Александр</li>
		<li>Ушаков Дмитрий</li>
		<li>Кокушкин Дмитрий</li>
		<li>Михеев Игорь</li>
		<li>Манылов Максим</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
