	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/0.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/12.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/13.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/14.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/1_1995/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_1995/15.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Сезон 1995 года выделяется тем, что впервые кружковцам довелось участвовать в раскопках средневекового марийского селища XIII–XIV вв., расположенного в центре деревни Красное Селище близ реки Суры Горномарийского района. Раскопки подобных поселений в нашем крае ранее не проводились, участники экспедиции чувствовали себя первооткрывателями.
	</p>
	<p>
		Культурный слой представлен черным, сильно гуммированным заполнением, интенсивность которого приблизительно одинакова на территории всего раскопа. В раскопе обнаружена хозяйственная постройка с углубленным подполом. Наиболее массовыми находками являются фрагменты керамики, из которых полностью или частично реконструируются лишь несколько сосудов. Керамический материал состоит из лепной и гончарной посуды. На селище найдены изделия из черного и цветного металлов, несколько костяных поделок и пряслиц.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Никулина Наталья</li>
		<li>Хренова Марина</li>
		<li>Манылов Максим</li>
		<li>Кокушкин Дмитрий</li>
		<li>Хренова Марина</li>
		<li>Воробьев Алексей</li>
		<li>Тимакова Татьяна</li>
		<li>Макаров Леонид</li>
		<li>Махнева Ольга</li>
		<li>Гайфулин Дамир</li>
		<li>Лачков Антон</li>
		<li>Киреев Сергей</li>
		<li>Бандин Сергей</li>
		<li>Переверзева Мария</li>
		<li>Москвичев Кирилл</li>
		<li>Ошуева Марина</li>
		<li>Соколова Ирина</li>
		<li>Зайцев Александр</li>
		<li>Ямбаршев  Костя</li>
		<li>Инягина Светлана</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>