	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/0.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/0_2.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/0_2.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/1_1993-1994/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/1_1993-1994/12.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Большой интерес вызвали у ребят сезоны 1993–1994 гг., когда они принимали участие в раскопках поселений эпохи бронзы в зоне Чебоксарского затопления близ деревень Дубовая (Килемарский район), Починок и Галанкина гора в Юринском районе. Многое из археологических ценностей потеряно безвозвратно в результате затопления, часть памятников старины оказалась под водой, на дне водохранилища, другая часть разрушается в результате обвала берегов».
	</p>
	<table width="100%">
		<tr style="vertical-align: top;">
			<td>
 				Участники экспедиции 
 				<br>1993 года:</br>
				<ol type="1">
 					<li>Симонов Антон</li>
					<li>Шобанов Дмитрий</li>
					<li>Архипов Сергей</li>
					<li>Кокушкин Дмитрий</li>
					<li>Михеев Игорь</li>
					<li>Ушаков Дмитрий</li>
					<li>Ишпаев Александр</li>
					<li>Степанова Наталья</li>
					<li>Кузнецова Светлана</li>
					<li>Гайфулин Дамир</li>
					<li>Москвичев Кирилл</li>
					<li>Лачков Антон</li>
					<li>Бандин Сергей</li>
					<li>Киреев Сергей</li>
					<li>Ямбаршев Сергей</li>
					<li>Поздеева Елена</li>
					<li>Таников Сергей</li>
					<li>Евдокимов Дмитрий</li>
					<li>Лежнина Ольга</li>
					<li>Гордеева Светлана</li>
					<li>Бастракова Елена</li>
					<li>Марасанов Роман</li>
					<li>оробьев Алексей</li>
					<li>Николаев Алексей</li>
					<li>Тарасов Алексей</li>
				</ol>
			</td>
			<td>
				Участники экспедиции 
				<br>1994 года:</br>
				<ol type="1">
					<li>Халтурина Елена</li>
					<li>Загайнова Наталья </li>
					<li>Ишпаев Александр</li>
					<li>Ушаков Дмитрий</li>
					<li>Степанова Наталья</li>
					<li>Манылов Максим</li>
					<li>Михеев Денис (1)</li>
					<li>Михеев Денис (2)</li>
					<li>Симонов Антон</li>
					<li>Тырышкина Ольга</li>
					<li>Кельмакова Юлия</li>
					<li>Лежнина Ольга</li>
					<li>Гордеева Светлана</li>
					<li>Бастракова Елена</li>
					<li>Москвичев Кирилл</li>
					<li>Гайфуллин Дамир</li>
					<li>Ошуева Марина</li>
					<li>Бандин Сергей</li>
					<li>Лачков Антон</li>
 			 	</ol>
 			</td>
 		</tr>
 		<tr>
 			<td colspan="2">
				<a href="/photo_archive/expeditions_tree">&#8678; Вернуться к "Хронологии экспедиций" </a>
			</td>
		</tr>
	</table>
</div>