	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/0.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/0_2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/0_2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1999-2000/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1999-2000/9.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		С 1999 по 2000 гг. актив группы помогал исследовать Юринскую стоянку эпохи бронзы, расположенную на песчаном мысе боровой террасы левого берега реки Волги рядом с замком Шереметева.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		
		<li>Кудрявцев Вячеслав</li>
		<li>Лебедев Андрей</li>
		<li>Леухин Дмитрий </li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>



