	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/0.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_1998/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_1998/11.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 1998 г. после 7 класса юные археологи копали историческую часть города Козьмодемьянска, помогая установить местонахождение острога, представлявшего собой административное ядро города. В ходе разведки была произведена фиксация археологических находок на раскопе. В это же время были зарисованы и описаны некоторые вещи из археологической коллекции Козьмодемьянского музея.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Беневоленская Таня</li>
		<li>Киреева Марина</li>
		<li>Кононов Валерий</li>
		<li>Кудрявцев Вячеслав</li>
		<li>Лебедев Андрей</li>
		<li>Лебедева Светлана</li>
		<li>Леухин Дмитрий</li>
		<li>Лопарева Анна</li>
		<li>Сабанин Дмитрий</li>
		<li>Скобелева Татьяна</li>
		<li>Сушенцов Евгений</li>
		<li>Туманов Андрей </li>
		<li>Головунин Алексей</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
