	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/0.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/2_2001/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2001/7.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Итогом экспедиций 2000–2003 гг. были раскопки широко известного Мало-Сундырского городища XIV–XV веков, расположенного в Марийском правобережье р. Волги на горе Аламнер под руководством док. ист. наук Татьяны Багишевны Никитиной – заместителя директора МарНИИЯЛИ.
	</p>
	<p>
		«Аламнер (город на горе), Оролы курык (сторожевая гора), Чалымский городок, Сундырская Гора, Мало-Сундырское городище, Важнангерское городище – под такими названиями это место сохранилось в памяти народа и исторических источниках, каждое название имеет свою легенду и связано с конкретными событиями. Начиная, с 1958 года на городище проводились археологические раскопки.
	</p>
	<p>
		Памятник расположен на высокой правобережной террасе р. Волги на стрелке, образованной правыми берегами р. Волги и р. Малый Сундырь. В 2000 году на городище был составлен паспорт и памятник стал одним из девяти объектов федерального значения в Республике Марий Эл.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Туманов Андрей</li>
		<li>Кудрявцев Вячеслав</li>
		<li>Головунин Алексей</li>
		<li>Беневоленская Таня</li>
		<li>Скобелева Татьяна</li>
		<li>Киреева Марина</li>
		<li>Лопарева Анна</li>
		<li>Гордеева Юлия</li>
		<li>Мухаметзянова Карина</li>
		<li>Лебедева Светлана</li>
		<li>Архипов Константин</li>
		<li>Антонова Юлия</li>
		<li>Швецова Юлия</li>
		<li>Федорова Мария</li>
		<li>Тихомиров Евгений</li>
		<li>Клюков Александр</li>
		<li>Третьяков Александр</li>
		<li>Оленев Александр</li>
		<li>Алманова Надежда</li>
		<li>Галиев Ильнар</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
