	<div class="events-gallery">
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/0.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/1.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/2.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/3.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/4.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/5.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/6.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/7.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/8.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/9.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/10.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/11.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/12.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/13.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/14.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/15.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/16.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/17.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/18.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/19.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/20.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/21.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/22.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/23.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/24.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/25.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/26.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/27.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/27.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/28.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/28.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/29.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/29.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/30.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/30.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2007/31.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2007/31.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2007 г. экспедиция проводилась в Юринском районе РМЭ в устье Ветлуги. Научное руководство осуществлял док. ист. наук, заведующий сектором археологии МарНИЯЛИ, Валерий Валентинович Никитин. В программе лагеря предусматривались раскопки Сутырского поселения волосовской культуры эпохи неолита. Раскопом изучены отдельные хозяйственные и столбовые ямки, кострища и собрана коллекция кремневых предметов и ранненеолитической посуды с накольчатым орнаментом. Памятник интенсивно разрушается водами Чебоксарской ГЭС.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Кобяков Антон</li>
		<li>Кавардаков Антон</li>
		<li>Полянина Екатерина</li>
		<li>Васьков Сергей</li>
		<li>Сорокин Олег</li>
		<li>Зурканаева Регина</li>
		<li>Минеев Сергей</li>
		<li>Лавлинский Алексей</li>
		<li>Романова Анна</li>
		<li>Ненарокова Саша</li>
		<li>Суворова Таня</li>
		<li>Афанасьева Дарья</li>
		<li>Смолин Игорь</li>
		<li>Ишаев Андрей</li>
		<li>Игнатенко Дмитрий</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>