	<div class="events-gallery">
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/0.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/1.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/2.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/3.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/4.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/5.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/6.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/7.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/8.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/9.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/10.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/2_2003/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/2_2003/11.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Итогом экспедиций 2000–2003 гг. были раскопки широко известного Мало-Сундырского городища XIV–XV веков, расположенного в Марийском правобережье р. Волги на горе Аламнер под руководством док. ист. наук Татьяны Багишевны Никитиной – заместителя директора МарНИИЯЛИ.
	</p>
	<p>
		«Аламнер (город на горе), Оролы курык (сторожевая гора), Чалымский городок, Сундырская Гора, Мало-Сундырское городище, Важнангерское городище – под такими названиями это место сохранилось в памяти народа и исторических источниках, каждое название имеет свою легенду и связано с конкретными событиями. Начиная, с 1958 года на городище проводились археологические раскопки.
	</p>
	<p>
		Памятник расположен на высокой правобережной террасе р. Волги на стрелке, образованной правыми берегами р. Волги и р. Малый Сундырь. Площадка имеет неправильную форму. Северо-восточный склон со стороны Волги возвышается на 78 м над поймой р. Волги, юго-западный склон и мысовая часть имеют высоту 71 м от поймы р. Малый Сундырь. В 2000 году на городище был составлен паспорт и памятник стал одним из девяти объектов федерального значения в Республике Марий Эл.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Бадьина Елена</li>
		<li>Алманова Надежда</li>
		<li>Маркова Светлана</li>
		<li>Третьяков Александр</li>
		<li>Кропотов Юрий</li>
		<li>Тихомиров Евгений</li>
		<li>Клюков Александр</li>
		<li>Архипов Константин</li>
		<li>Гильмадтинова Зина</li>
		<li>Климкина Марина</li>
		<li>Богомолова Настя</li>
		<li>Кожаева Елена</li>
		<li>Домрачева Марина</li>
		<li>Зверева Наталья</li>
		<li>Беляева Юлия</li>
		<li>Михайлова Ирина</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
