	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/0.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/3_2004/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/3_2004/12.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2004–2006 гг. кружковцы участвовали в раскопках уникального памятника эпохи бронзы Юринского могильника сейминско-турбинской культуры, который расположен в устье реки Ветлуги. Ученым с помощью школьников удалось обнаружить несколько погребений, наибольший интерес представляет найденное погребение предположительно вождя, а в нем уникальные вещи – бронзовые копье, топор и нож».
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Григорьев Максим </li>
		<li>Кавардаков Антон </li>
		<li>Толстов Андрей </li>
		<li>Зурканаева Регина</li>
		<li>Гневашева Ольга</li>
		<li>Егошина Ирина</li>
		<li>Домрачева Марина</li>
		<li>Михайлова Ирина</li>
		<li>Рыбалко Мария</li>
		<li>Лавлинский Алексей</li>
 	 </ol>
	<a href="/photo_archive/expeditions_tree">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
