	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/0.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/12.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/13.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/14.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/15.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/16.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/17.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/18.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/19.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/20.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/21.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/22.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/23.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/24.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/25.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/26.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/27.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/27.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/28.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/28.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/29.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/29.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/30.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/30.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/31.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/31.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/32.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/32.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/33.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/33.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/34.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/34.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/35.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/35.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/36.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/36.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/37.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/37.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/38.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/38.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/39.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/39.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/40.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/40.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/41.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/41.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/42.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/42.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/43.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/43.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/44.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/44.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/45.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/45.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/46.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/46.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/47.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/47.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/48.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/48.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/49.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/49.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/50.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/50.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/51.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/51.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/52.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/52.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/53.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/53.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/54.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/54.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/55.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/55.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/56.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/56.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2006/57.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2006/57.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2004–2006 гг. кружковцы участвовали в раскопках уникального памятника эпохи бронзы Юринского могильника сейминско-турбинской культуры, который расположен в устье реки Ветлуги. Ученым с помощью школьников удалось обнаружить несколько погребений, наибольший интерес представляет найденное погребение предположительно вождя, а в нем уникальные вещи – бронзовые копье, топор и нож».
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Кобяков Антон</li>
		<li>Кавардаков Антон</li>
		<li>Полянина Екатерина</li>
		<li>Васьков Сергей</li>
		<li>Зурканаева Регина</li>
		<li>Лавлинский Алексей</li>
		<li>Романова Анна</li>
		<li>Ненарокова  Саша</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>