	<div class="events-gallery">
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/0.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/1.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/2.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/3.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/4.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/5.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/6.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/7.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/8.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/9.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/10.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/11.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/12.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/13.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/14.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/15.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/16.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/17.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/18.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/19.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/20.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/21.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/22.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/23.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/24.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/25.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/3_2008/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2008/26.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Экспедиция 2008 г. осуществляла раскопки Писеральского средневекового мольбища в Горномарийском районе, на берегу реки Юнга. Руководителем экспедиции была Диана Юрьевна Ефремова, канд. ист. наук, старший научный сотрудник МарНИИЯЛИ. В экспедиции участвовало 13 учащихся из трех школ п. Медведево. Выявлены три кострища, железные предметы и кости домашних животных.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Кобяков Антон</li>
		<li>Кавардаков Антон</li>
		<li>Полянина Екатерина</li>
		<li>Васьков Сергей</li>
		<li>Сорокин Олег</li>
		<li>Зурканаева Регина</li>
		<li>Минеев Сергей</li>
		<li>Леухин Алексей</li>
		<li>Чекулаева Марина</li>
		<li>Цветков Саша</li>
		<li>Ненарокова Саша</li>
		<li>Романова Анна </li>
		<li>Софронов Александр</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
