	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/0.png" alt="" />
		</a>	
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/12.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/13.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/14.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/15.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/16.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/17.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/18.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/19.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/20.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/21.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/22.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/23.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/24.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/25.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/26.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/27.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/27.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/28.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/28.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/29.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/29.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/30.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/30.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/31.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/31.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/32.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/32.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/33.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/33.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/34.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/34.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/35.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/35.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/36.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/36.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/37.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/37.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/38.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/38.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/39.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/39.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/3_2005/40.png" title="">
			<img src="http://arhmuzey.ru/expeditions/3_2005/40.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2004–2006 гг. кружковцы участвовали в раскопках уникального памятника эпохи бронзы Юринского могильника сейминско-турбинской культуры, который расположен в устье реки Ветлуги. Ученым с помощью школьников удалось обнаружить несколько погребений, наибольший интерес представляет найденное погребение предположительно вождя, а в нем уникальные вещи – бронзовые копье, топор и нож».
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Кобяков Антон
		<li>Бондарева Мария </li>
		<li>Кавардаков Антон</li>
		<li>Полянина Екатерина </li>
		<li>Васьков Сергей</li>
		<li>Романова Ксения </li>
		<li>Зурканаева Регина</li>
		<li>Бондарева Катя</li>
		<li>Громов Андрей</li>
		<li>Ненарокова Саша</li>
		<li>Романова Анна</li>
		<li>Лавлинский Алексей</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
