	<div class="events-gallery">
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/1.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/2.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/3.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/4.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/5.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/6.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/7.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/8.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/9.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/10.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/11.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/12.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/13.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/14.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/15.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/16.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/17.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/18.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/19.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/20.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/21.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/22.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/23.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/24.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/25.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/26.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/27.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/27.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/28.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/28.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/29.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/29.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/30.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/30.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/31.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/31.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/32.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/32.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/33.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/33.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/34.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/34.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/35.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/35.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/36.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/36.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/37.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/37.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/38.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/38.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/39.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/39.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/40.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/40.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/41.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/41.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/42.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/42.png" alt="" />
		</a>
		<a class="events-photo" rel="events-photo" href="http://arhmuzey.ru/expeditions/4_2013/43.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2013/43.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		Экспедиция 2013 г. недавно вернулась с раскопок Ардинского городища в Килемарском районе под руководством сотрудника МарНИИЯЛИ Михеева А.В. Площадка расположена на мысе в устье реки Арда длиной 58 и шириной до 30 м, выступающий от коренной террасы р. Арда с востока на запад. Первые свидетельства долговременногоо жилья на этой площадке относятся к эпохе раннего железного века (VII-VI вв. до н.э.). Вторично мыс, удобным для основания поселения находят древнемарийские племена. В третий раз долговременное поселение (селище) было основано уже в XIV-XV вв. н.э. и связано также с марийскими племенами. Экспедиция длилась 8 дней и за это время ребята сделали большую работу. Было найдено большое количество интересный фрагментов керамики и костей животных.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Леухин Алексей</li>
 		<li>Мальцев Алексей</li>
		<li>Алексеев Никита</li>
		<li>Толстухин Максим</li>
		<li>Крылов Максим</li>
		<li>Пуртов Александр</li>
		<li>Антонова Алёна</li>
		<li>Вершинина Ирина</li>
		<li>Алексеева Елизавета</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>


