	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/0.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/12.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/13.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/14.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/14.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/15.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/15.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/16.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/16.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/17.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/17.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/18.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/18.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/19.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/19.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/20.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/20.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/21.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/21.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/22.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/22.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/23.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/23.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/24.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/24.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/25.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/25.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/26.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/26.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/27.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/27.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/28.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/28.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/29.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/29.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/30.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/30.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/31.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/31.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/32.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/32.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/33.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/33.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/34.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/34.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions_tree/4_2012/35.png" title="">
			<img src="http://arhmuzey.ru/expeditions_tree/4_2012/35.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2012 г. группа объединения «Юный археолог» в составе научных сотрудников МарНИИЯЛИ под руководством д.и.н. Татьяны Багишевны Никитиной приняли участие в экспедиции, которая проходила в Нижегородской области, в Воскресенском районе, близ деревни Русениха. Объектом изучения стали захоронения древних марийцев 9–11 века (Русенихский могильник). Лагерь располагался на лесной возвышенности, на берегу реки Ветлуги.Всего в ходе раскопок было найдено 3 погребальных и 3 жертвенных комплексов. В том числе были найдены женские браслеты, перстни, наконечники стрел и орудия труда: тёсла, долота и топоры.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Леухин Алексей</li>
 		<li>Цветков Александр</li>
 		<li>Мальцев Алексей</li>
 		<li>Толстухин Максим</li>
 		<li>Крылов Максим</li>
 		<li>Буняева Ангелина</li>
 	 	<li>Быкова Александра</li> 
 	 	<li>Стыцюк Дмитрий</li>	
 	 	<li>Поздеева Валерия</li>
 	 	<li>Скачихина Мария</li>
 	 </ol>

	<a href="/photo_archive/expeditions_tree">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>