	<div class="exp-gallery">
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/0.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/1.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/2.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/3.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/4.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/5.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/6.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/7.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/8.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/8.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/9.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/9.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/10.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/10.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/11.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/11.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/12.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/12.png" alt="" />
		</a>
		<a class="gallery-show" rel="gallery-show" href="http://arhmuzey.ru/expeditions/4_2011/13.png" title="">
			<img src="http://arhmuzey.ru/expeditions/4_2011/13.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 2011 г. были раскопки средневекового Большегорского городища в Сернурском районе РМЭ под руководством канд. ист. наук, старшего научного сотрудника МарНИИЯЛИ Алексея Викторовича Михеева. Были найдены фрагменты керамики, следы кострища и крупный осколок серпа.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Зурканаева Регина</li>
 		<li>Бондарева Катя</li>
 		<li>Леухин Алексей</li>	
 	 </ol>

	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>