<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-12.04.2013">
				<img src="/img/events/fcdutik.png" width="150" height="150"/>
			</a>
		</td>

		<td>
			<b>11-15.11.2013</b><p/>
			<a href="/events/nov-12.04.2013">
				С 11 ноября по 15 ноября на базе Федерального центра детско-юношеского туризма и краеведения (г. Москва) прошли Всероссийские краеведческие чтения юных краеведов-туристов
			</a> 

			<br/>В это же время прошёл межрегиональный семинар-совещание руководителей и специалистов музеев образовательных учреждений по теме «Организация музейной работы в образовательных учреждениях»
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-27-28.08.2013">
				<img src="/img/events/itpark.jpg" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>27-28.08.2013</b><p/>
			<a href="/events/nov-27-28.08.2013">
				По приглашению руководителя Казанского Бизнес инкубатора Технопарка в сфере высоких технологий «ИТ-парк» Я.Л. Швецова, 27-28 августа представителей команды Республики Марий Эл, участников конкурса интернет-проектов «Третье измерение» Приволжского федерального округа, как специальных призеров  пригласили в г. Казань...
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-22-26.08.2013">
				<img src="/img/events/ulc.png" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>22-26.08.2013</b><p/>
			<a href="/events/nov-22-26.08.2013">
				С 22 по 26 августа в СОК «Чайка» Ульяновской области прошла профильная смена III молодежной «Лесной школы» регионального образовательного проекта «Открытые пространства»
			</a><br/>
			В этом году участниками стали свыше 130 молодых жителей со всей Ульяновской области, а также четырёх других регионов России - Пермского и Ставропольского края, Челябинской области и Республики Марий Эл
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-1-8.07.2013">
				<img src="/img/events/2013e.jpg" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>1-8.07.2013</b><p/>
			<a href="/events/nov-1-8.07.2013">
				Медведевские старшеклассники прекрасно разбираются, в чем отличие мезолита от палеолита, определяют по узору на керамическом черепке эпоху, когда пользовались этим сосудом, знают нюансы изготовления бронзовых наконечников для стрел. Все знания ребята получили, посещая объединение "Юный археолог". А недавно они вернулись с очередных раскопок...
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-27-29.06.2013">
				<img src="/img/events/3d.png" width="150" height="150"/>
			</a>
		</td>

		<td>
			<b>27-29.06.2013</b><p/>
			<a href="/events/nov-27-29.06.2013">
				В мае этого года в Приволжье   стартовал  уникальный молодёжный конкурс интернет-проектов «Третье измерение», который объединил 14 регионов. Он рассчитан на привлечение широкого общественного внимания к таким проектам, ориентированным на патриотическое воспитание, реализуемым на территории округа, отбор и внедрение, а также продвижение наиболее успешных проектов...
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-08.05.2013">
				<img src="/img/events/resp2.png" width="200" height="220"/>
			</a>
		</td>

		<td>
			<b>18.04.2013</b><p/>
			<a href="/events/nov-08.05.2013">
				18 апреля, в рамках XXV республиканской конференции исследовательских краеведческих работ учащихся прошел конкурс виртуальных экскурсий "Я поведу тебя в музей", в котором приняли участие все муниципальные образования...
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-08.05.2013-1">
				<img src="/img/events/resp.jpg" width="200" height="220"/>
			</a>
		</td>

		<td>
			<b>18.04.2013</b><p/>
				<a href="/events/nov-08.05.2013-1">
					17 апреля на базе СОШ № 24 г.Йошкар-Ола состоялась XXV республиканская конференция исследовательских краеведческих работ учащихся – участников туристско-краеведческого движения Республики Марий Эл "Край родной марийский" по направлениям...
				</a>
		</td>
	</tr>
</table>


<hr/>


<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-12.04.2013">
				<img src="/img/events/muz.JPG" width="200" height="150"/>
			</a>
		</td>

		<td>

			<b>12.04.2013</b> 
			<a href="/events/nov-12.04.2013">
				<p/>В информационно-методическом центре "Музейная педагогика" открылась школа для начинающих экскурсоводов...
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-12.04.2013-1">
				<img src="/img/events/raion.JPG" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>12.04.2013</b> 
			<a href="/events/nov-12.04.2013-1">
				<p/>Медведевский районный дом детского творчества традиционно провел районный конкурс краеведческих исследовательских работ обучающихся – участников туристско-краеведческого движения «Край родной марийский» по направлениям «Школьные музеи» и «История дополнительного образования».
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-28.12.2012">
				<img src="/img/events/2012e.png" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>28.12.2012</b>
			<a href="/events/nov-28.12.2012">
			 <p/>История — удивительная наука. Она полна тайн и загадок. Иногда тайна так и остается неразгаданной — но тем интереснее узнать о ней и попытаться самому найти ответ.
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-11.2012">
				<img src="/img/events/marsu.png" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>Ноябрь 2012</b> 
			<a href="/events/nov-11.2012">
				<p/>Музей – то место, где встречаются настоящее и прошлое. В этом мы убедились совсем недавно, посетив школьный археологический музей.
			</a> 
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-08.06.2012">
				<img src="/img/events/rggu.jpg" width="200" height="150"/>
			</a>
		</td>

		<td>
			<b>08.06.2012</b> 
			<a href="/events/nov-08.06.2012">
				<p/>В мае текущего года из Москвы пришло письмо учителю истории МОБУ «Медведевская СОШ №2» И.И.Панову. Игоря Ивановича пригласили принять участие в работе Шестых всероссийских краеведческих чтений, которые были посвящены 200-летию Отечественной войны 1812 г., 90-летию почетного председателя Союза краеведов России С.Ю. Шмидта, 90 летию Центрального бюро краеведения.
			</a>
		</td>
	</tr>
</table>

<hr/>

<table height="200">
	<tr>
		<td width="220">
			<a href="/events/nov-27.04.2012">
				<img src="/img/events/fcdutik.png" width="150" height="150"/>
			</a>
		</td>

		<td>
			<b>27.04.2012</b> 
			<a href="/events/nov-27.04.2012">
				<p/>На днях из Москвы вернулись Алексей Леухин, учащийся 9 «а» класса Медведевской средней школы № 2 и его преподаватель Игорь Иванович Панов. 
			</a>
		</td>
	</tr>

</table>