<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/17052014.html">
				<img src="http://arhmuzey.ru/events/17052014/17052014.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 16-17.05.2014</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/17052014.html">
				<div id="topic">Восьмые всероссийские краеведческие чтения (Москва – Подольск)</div>
			</a> 
			<div id="text">
				<p>
					16–17  мая 2014 г. в г. Москве в Историко-архивном институте РГГУ и в усадьбе Ивановское в Федеральном музее профессионального образования прошли Восьмые всероссийские краеведческие чтения, посвященные 100-летию Первой мировой войны и 150-летию Московского археологического общества. 
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/06052014.html">
				<img src="http://arhmuzey.ru/events/06052014.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 6.05.2014</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/06052014.html">
				<div id="topic">Визит ректора МарГУ М.Н. Швецова в школьный археологический музей</div>
			</a> 
			<div id="text">
				<p>
					В школьном археологическом музее МОБУ «Медведевская средняя общеобразовательная школа №3» состоялась встреча с ректором ФГБОУ ВПО «Марийский государственный университет» М.Н. Швецовым и директором института национальной культуры и межкультурной коммуникации Р.И. Чузаевым. 
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/04042014.html">
				<img src="http://arhmuzey.ru/events/04042014/04042014.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 4.04.2014</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/04042014.html">
				<div id="topic"> Всероссийский конкурс исследовательских краеведческих работ</div>
			</a> 
			<div id="text">
				<p>
					По итогам первого тура Всероссийского конкурса исследовательских краеведческих работ учащихся «Отечество» в Москву на финал конкурса были приглашены обучающийся 11 класса Медведевской средней школы №2 Алексей Леухин и руководитель Игорь Иванович Панов.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>


<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/27032014.html">
				<img src="http://arhmuzey.ru/events/27032014/27032014.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 27.03.2014</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/27032014.html">
				<div id="topic">Республиканский семинар в археологическом музее</div>
			</a> 
			<div id="text">
				<p>
					27 марта на базе школьного археологического музея Медведевской средней общеобразовательной школы №3 Национальный музей РМЭ им. Т. Евсеева провел семинар по теме «Музей и школа: создание единого образовательного пространства» для руководителей и специалистов муниципальных музеев.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/19022014.html">
				<img src="http://arhmuzey.ru/events/19022014/19022014.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 19.02.2014</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/19022014.html">
				<div id="topic">Республиканские краеведческие педагогические чтения</div>
			</a> 
			<div id="text">
				<p>
					БУК «Национальный музей РМЭ им. Т. Евсеева» и ГБОУ ДОД Республики Марий Эл ДЮЦ «Роза ветров» 19 февраля 2014 года провели Республиканские краеведческие педагогические чтения. Чтения проводятся с целью дальнейшего развития туристско-краеведческой работы с обучающимися Республики Марий Эл.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28112013.html">
				<img src="http://arhmuzey.ru/events/28112013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 28.11.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28112013.html">
				<div id="topic">VII Евсеевские чтения "Современный музей в культурно-образовательном пространстве России"</div>
			</a> 
			<div id="text">
				<p>
					28 ноября в ГБУК "Национальной музей РМЭ им. Т. Евсеева" состоялась Межрегиональная научно-практическая конференция VII Евсеевские чтения "Современный музей в культурно-образовательном пространстве России".
				</p>
			</div>
		</td>
	</tr>
</table>


<hr/>





<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00112013.html">
				<img src="http://arhmuzey.ru/events/00112013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 11.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00112013.html">
				<div id="topic">Наша публикация по "Виртуальному музею" в журнале "Юный краевед"</div>
			</a> 
			<div id="text">
				<p>
					В конце ноября вышел очередной номер научно-популярного журнала для детей и юношества «Юный краевед» (Москва, №9). В рубрике «Школьный музей» размещен материал, представленный командой Республики Марий Эл на Всероссийских краеведческих чтениях юных краеведов-туристов 11-15 ноября 2013 года.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>





<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/15112013.html">
				<img src="http://arhmuzey.ru/events/15112013/15112013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 11-15.11.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/15112013.html">
				<div id="topic">Всероссийские краеведческие чтения юных краеведов-туристов</div>
			</a> 
			<div id="text">
				<p>
					С 11 ноября по 15 ноября на базе Федерального центра детско-юношеского туризма и краеведения (г. Москва) прошли Всероссийские краеведческие чтения юных краеведов-туристов
				</p>
			</div>
		</td>
	</tr>
</table>




<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/11112013.html">
				<img src="http://arhmuzey.ru/events/11112013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 11.11.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/11112013.html">
				<div id="topic">Межрегиональный семинар по туристско-краеведческой работе</div>
			</a> 
			<div id="text">
				<p>
					11 ноября в МОБУ «Медведевская СОШ №3 в археологическом музее прошел межрегиональный семинар по туристско-краеведческой работе методистов и директоров дополнительного образования.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00052013.html">
				<img src="http://arhmuzey.ru/events/00052013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 05.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00052013.html">
				<div id="topic">Публикация статьи И.И. Панова в материалах шестых всероссийских краеведческих чтениях</div>
			</a> 
			<div id="text">
				<p>
					В мае, в Москве вышел сборник статьей «Шестые всероссийские краеведческие чтения (Москва – Можайск, 1-2 июля 2012 г.)»/Отв. ред. В.Ф. Козлов, сост. А.Г. Смирнова. В сборнике опубликована статья И.И. Панова «Медведевское краеведческое объединение «Юный археолог» в Республике Марий Эл».
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28082013.html">
				<img src="http://arhmuzey.ru/events/28082013/28082013.png"/>
			</a>
		</td>
		<td>
			<div id="date">Дата: 28.08.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28082013.html">
				<div id="topic">Разработчики «Виртуального музея» в «ИТ-парке»</div>
			</a> 
			<div id="text">
				<p>
					По приглашению руководителя Казанского Бизнес инкубатора Технопарка «ИТ-парк» Я.Л. Швецова, 27-28 августа представителей команды Республики Марий Эл, участников конкурса интернет-проектов «Третье измерение» Приволжского федерального округа, как специальных призеров  пригласили в г. Казань.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/26082013.html">
				<img src="http://arhmuzey.ru/events/26082013/26082013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 22-26.08.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/26082013.html">
				<div id="topic">III молодежная «Лесная школа» регионального образовательного проекта «Открытые пространства»</div>
			</a> 
			<div id="text">
				<p>
					С 22 по 26 августа в СОК «Чайка» Ульяновской области прошла профильная смена III молодежной «Лесной школы» регионального образовательного проекта «Открытые пространства». Участниками стали свыше 130 молодых жителей  Ульяновской области, Пермского и Ставропольского края, Челябинской области и Республики Марий Эл.
				</p>
			</div>
		</td>
	</tr>
</table>


<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/08072013.html">
				<img src="http://arhmuzey.ru/events/08072013/08072013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 1-8.07.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/08072013.html">
				<div id="topic">Раскопки Ардинского городища и поселения</div>
			</a> 
			<div id="text">
				<p>
					Медведевские старшеклассники прекрасно разбираются, в чем отличие мезолита от палеолита, определяют по узору на керамическом черепке эпоху, когда пользовались этим сосудом, знают нюансы изготовления бронзовых наконечников для стрел. Все знания ребята получили, посещая объединение "Юный археолог". А недавно они вернулись с очередных раскопок...
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/29062013.html">
				<img src="http://arhmuzey.ru/events/29062013/29062013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 27-29.06.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/29062013.html">
				<div id="topic">Конкурс интернет-проектов «Третье измерение»</div>
			</a> 
			<div id="text">
				<p>
					В мае в Приволжье стартовал уникальный конкурс интернет-проектов «Третье измерение», который объединил 14 регионов. Он рассчитан на привлечение широкого общественного внимания к проектам, ориентированным на патриотическое воспитание, реализуемым на территории округа, отбор, внедрение и продвижение наиболее успешных проектов
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/18042013.html">
				<img src="http://arhmuzey.ru/events/18042013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 18.04.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/18042013.html">
				<div id="topic">XXV республиканская конференция исследовательских краеведческих работ</div>
			</a> 
			<div id="text">
				<p>
					18 апреля, в рамках XXV республиканской конференции исследовательских краеведческих работ учащихся прошел конкурс виртуальных экскурсий "Я поведу тебя в музей", в котором приняли участие все муниципальные образования.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/17042013.html">
				<img src="http://arhmuzey.ru/events/17042013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 17.04.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/17042013.html">
				<div id="topic">XXV республиканская конференция исследовательских краеведческих работ</div>
			</a> 
			<div id="text">
				<p>
					17 апреля на базе СОШ № 24 г.Йошкар-Ола состоялась XXV республиканская конференция исследовательских краеведческих работ учащихся – участников туристско-краеведческого движения Республики Марий Эл "Край родной марийский".
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/12042013.html">
				<img src="http://arhmuzey.ru/events/12042013.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 12.04.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/12042013.html">
				<div id="topic">Школа для начинающих экскурсоводов</div>
			</a> 
			<div id="text">
				<p>
					В информационно-методическом центре "Музейная педагогика" открылась школа для начинающих экскурсоводов.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/12042013r.html">
				<img src="http://arhmuzey.ru/events/120420130.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 12.04.2013</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/12042013r.html">
				<div id="topic">Районный конкурс краеведческих исследовательских работ обучающихся</div>
			</a> 
			<div id="text">
				<p>
					Медведевский районный дом детского творчества традиционно провел районный конкурс краеведческих исследовательских работ обучающихся – участников туристско-краеведческого движения «Край родной марийский» по направлениям «Школьные музеи» и «История дополнительного образования».
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>


<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28072012.html">
				<img src="http://arhmuzey.ru/events/28072012/28072012.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 28.07.2012</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/28072012.html">
				<div id="topic">Раскопки древнемарийского могильника IX-XII вв.</div>
			</a> 
			<div id="text">
				<p>
					История — удивительная наука. Она полна тайн и загадок. Иногда тайна так и остается неразгаданной — но тем интереснее узнать о ней и попытаться самому найти ответ.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00112012.html">
				<img src="http://arhmuzey.ru/events/00112012.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 11.2012</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/00112012.html">
				<div id="topic">Студенты группы ЮП-14 посетили школьный музей.</div>
			</a> 
			<div id="text">
				<p>
					Музей – то место, где встречаются настоящее и прошлое. В этом мы убедились совсем недавно, посетив школьный археологический музей.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/08062012.html">
				<img src="http://arhmuzey.ru/events/08062012.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 8.06.2012</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/08062012.html">
				<div id="topic">VI Всероссийские краеведческие чтения, посвящённые 200-летию Отечественной войны 1812 г.</div>
			</a> 
			<div id="text">
				<p>
					В мае из Москвы пришло письмо учителю истории МОБУ «Медведевская СОШ №2» И.И.Панову. Его пригласили принять участие в работе Шестых всероссийских краеведческих чтений, которые были посвящены 200-летию Отечественной войны 1812 г., 90-летию почетного председателя Союза краеведов России С.Ю. Шмидта.
				</p>
			</div>
		</td>
	</tr>
</table>

<hr/>

<table id="events">
	<tr>
		<td>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/05042012.html">
				<img src="http://arhmuzey.ru/events/05042012/05042012.png"/>
			</a>
		</td>

		<td>
			<div id="date">Дата: 1-5.04.2012</div>
			<a class="vitrines-link" data-fancybox-type="iframe" href="/events/05042012.html">
				<div id="topic">Всероссийский конкурс исследовательских краеведческих работ учащихся «Отечество»</div>
			</a> 
			<div id="text">
				<p>
					Из Москвы вернулись Алексей Леухин, учащийся 9 «а» класса Медведевской средней школы № 2 и его преподаватель Игорь Иванович Панов. 
				</p>
			</div>
		</td>
	</tr>
</table>