<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Экспедиции</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/exp-style.css" />
    </head>
    <body>
        <div class="container">
            <div class="exp-subtitle">Хронология экспедиций и слётов</div>
            <h3>
                <a href="/">&#8678; Вернуться назад</a>
            </h3>
            <div class="exp-container">
                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Ардинское городище (Килемарский район, близ р. Арда)</span>
                            <a href="/photo_archive/expeditions_tree/2013">2013 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2013" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/2013.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/2012" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/2012.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Древнемарийский могильник IX-XI вв. (Нижегородская область, Воскресенский район, близ д. Русениха) </span>
                            <a href="/photo_archive/expeditions_tree/2012">2012 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Большегорское средневековое городище (Сернурский район, близ д. Большая Гора)</span>
                            <a href="/photo_archive/expeditions_tree/2011">2011 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2011" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/2011.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/2008" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2008.png"/>
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Писеральское средневековое мольбище (Горномарийский район, на берегу р. Юнга)</span>
                            <a href="/photo_archive/expeditions_tree/2008">2008 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Поселение эпохи неолита (Юринский район, с. Сутыри)</span>
                            <a href="/photo_archive/expeditions_tree/2007">2007 год</a>
                        </h3>
                    </div>
                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2007" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2007.png"/>
                        </a>  
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/2006" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2006.png"/>
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Юринский могильник сейминско–турбинской культуры эпохи бронзы (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/2006">2006 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Юринский могильник сейминско–турбинской культуры эпохи бронзы (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/2005">2005 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2005" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2005.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/2004" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2004.png"/>
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Юринский могильник сейминско–турбинской культуры эпохи бронзы (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/2004">2004 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Мало-Сундырское средневековое городище (Горномарийский район)</span>
                            <a href="/photo_archive/expeditions_tree/2003">2003 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2003" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2003.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/2002" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2002.png"/>
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Мало-Сундырское средневековое городище, полевой симпозиум(Горномарийский район)</span>
                            <a href="/photo_archive/expeditions_tree/2002">2002 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Мало-Сундырское средневековое городище (Горномарийский район)</span>
                            <a href="/photo_archive/expeditions_tree/2001">2001 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/2001" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2001.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                         <a href="/photo_archive/expeditions_tree/2000" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/2000.png"/>
                        </a>  
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Мало-Сундырское средневековое городище (Горномарийский район)</span>
                            <a href="/photo_archive/expeditions_tree/2000">2000 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Юринская стоянка эпохи бронзы (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/1999-2000">2000 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1999-2000" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1999-2000.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1999-2000" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1999-2000.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Юринская стоянка эпохи бронзы (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/1999-2000">1999 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Раскопки исторической части г. Козьмодемьянска (Горномарийский  район)</span>
                            <a href="/photo_archive/expeditions_tree/1998">1998 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1998" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1998.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1996" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1996.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Республиканский слет юных туристов–краеведов, посвященный 40–летию образования ЮТЦ РМЭ (Звениговский район)</span>
                            <a href="/photo_archive/expeditions_tree/1996">1996 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Средневековое поселение – Красное Селище (Горномарийский район, устье р. Суры)</span>
                            <a href="/photo_archive/expeditions_tree/1995">1995 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1995" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1995.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/s1995" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/s1995.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Межрегиональный лагерь юных археологов (Украина, Крым, Севастополь (Херсонес))</span>
                            <a href="/photo_archive/expeditions_tree/s1995">1995 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Археологическая разведка (Моркинский, Звениговский районы)</span>
                            <a href="#">1994 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="#" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1994explore.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1993-1994" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1994.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Дубовое, поселения эпохи неолита (Килемарский район)</span>
                            <a href="/photo_archive/expeditions_tree/1993-1994">1994 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Дубовое, поселения эпохи неолита (Килемарский район)</span>
                            <a href="/photo_archive/expeditions_tree/1993-1994">1993 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1993-1994" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1993.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1990,1992" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/s1992.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Всероссийский полевой лагерь, посвященный 180-летию Бородинского сражения (Бородинское поле, Московская область)</span>
                            <a href="/photo_archive/expeditions_tree/1990,1992">1992 год</a>
                        </h3>
                    </div>
                </div>


                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Поселение эпохи бронзы (Юринский район, Нижняя стрелка, д. Починок)</span>
                            <a href="#">1992 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="#" class="exp-img exp-img-deco">
                          <img src=""/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1992" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1992.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Поселение эпохи бронзы (Юринский район, Галанкина гора)</span>
                            <a href="/photo_archive/expeditions_tree/1992">1992 год</a>
                        </h3>
                    </div>
                </div>


                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Нижегородская область г. Арзамас</span>
                            <a href="#">1991 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="#" class="exp-img exp-img-deco">
                          <img src=""/>
                        </a> 
                    </div>
                </div>


                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="#" class="exp-img  exp-img-deco">
                            <img src=""/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Студенческая экспедиция от МарГУ (г. Кострома)</span>
                            <a href="#">1991 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Мари-Луговая стоянка (Звениговский район, устье р. Илеть)</span>
                            <a href="/photo_archive/expeditions_tree/s1991">1991 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/s1991" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/s1991.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1990" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1990v.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Выжумский могильник эпохи средневековья (Юринский район)</span>
                            <a href="/photo_archive/expeditions_tree/1990">1990 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Всероссийский лагерь юных археологов «Дружба» (г. Москва, Бородинское поле)</span>
                            <a href="/photo_archive/expeditions_tree/1990,1992">1990 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1990,1992" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/s1990.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/s1990" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/s1990i.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Республиканский слет юных археологов (Горномарийский  район, Ильинка (Чувашия))</span>
                            <a href="/photo_archive/expeditions_tree/s1990">1990 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Пеленгерские курганы, абашевской культуры эпохи бронзы (Медведевский район)</span>
                            <a href="/photo_archive/expeditions_tree/1988-1990">1990 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1988-1990" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1990.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1988-1990" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1989.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Пеленгерские курганы, абашевской культуры эпохи бронзы (Медведевский район)</span>
                            <a href="/photo_archive/expeditions_tree/1988-1990">1989 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Археологическая разведка поселения эпохи бронзы (Юринский район)</span>
                            <a href="#">1988 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="#" class="exp-img exp-img-deco">
                          <img src=""/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1988-1990" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1988.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Пеленгерские курганы, абашевской культуры эпохи бронзы (Медведевский район)</span>
                            <a href="/photo_archive/expeditions_tree/1988-1990">1988 год</a>
                        </h3>
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Поселение Нижняя Стрелка эпохи бронзы (Юринский район, д. Починок)</span>
                            <a href="/photo_archive/expeditions_tree/1988">1988 год</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a href="/photo_archive/expeditions_tree/1988" class="exp-img exp-img-deco">
                          <img src="http://arhmuzey.ru/expeditions_tree/1988n.png"/>
                        </a> 
                    </div>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a href="/photo_archive/expeditions_tree/1987" class="exp-img  exp-img-deco">
                            <img src="http://arhmuzey.ru/expeditions_tree/1987.png"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Виловатовские курганы абашевской культуры эпохи бронзы (Горномарийский район)</span>
                            <a href="/photo_archive/expeditions_tree/1987">1987 год</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>