<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Археологический музей</title>

		<link rel="stylesheet"  type="text/css"href="/fancybox/fancybox.css" />
		<link rel="stylesheet" type="text/css" href="/css/htmls.css" />
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="/fancybox/fancybox.pack.js"></script>
		<script src="/js/fancy-code.js"></script>
	</head>	
<body class="exp-body">
	<div class="exp-photo">
		<%= yield %>
</body>
</html>
