<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<title>Археологический музей</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/fancybox/fancybox.css" />
		<link rel="stylesheet" href="/css/imageright.css" />
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="/fancybox/fancybox.pack.js"></script>
		<script src="/js/fancy-code.js"></script>
		<script src="/js/imageright.js"></script>
		<script src="/js/scroll.js"></script>
		<script src="/js/menu.js"></script>
	</head>
<body>
	<header class="poster">
		<a href="/union/history">
			<img src="/img/poster1.png" width="289" height="284" title="Переход в раздел Объединение"/>
		</a>
		<a href="/">
			<img src="/img/poster2.png" width="442" height="284" title="Переход на Главную"/>
		</a>
		<a href="/reviews">
			<img src="/img/poster3.png" width="409" height="284" title="Переход в Книгу отзывов"/>
		</a>
	</header>
	
	<div id="head-text">
		МЕДВЕДЕВСКИЙ ШКОЛЬНЫЙ АРХЕОЛОГИЧЕСКИЙ МУЗЕЙ
	</div>
	
	<nav class="menu">
		<a href="/">
			<li>Главная</li>
		</a>
		<a href="/events">
			<li>События</li>
		</a>
		<li>
			Объединение
			<ul>
				<a href="/union/history">
					<li>Из истории</li>
				</a>
				<a href="/union/expeditions">
					<li>Экспедиции</li>
				</a>
				<a href="/union/slet">
					<li>Слёты</li>
				</a>
				<a href="/union/competitions">
					<li>Конкурсы</li>
				</a>
				<a href="/union/creation">
					<li>Создание музея</li>
				</a>
			</ul>
		</li>		
		<li>
			О музее
			<ul>
				<a href="/museum/history">
					<li>История создания</li>
				</a>
				<a href="/museum/collection">
					<li>Коллекция музея</li>
				</a>
				<a href="/museum/concept">
					<li>Концепция музея</li>
				</a>
				<a href="/museum/working">
					<li>Деятельность музея</li>
				</a>
				<a href="/museum/results">
					<li>Итоги работы</li>
				</a>
				<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc1.png">
					<li>Документы</li>
				</a>
			</ul>
		</li>
		<li>
			Путеводитель
			<ul>
			  	<a href="/guidebook/paleontology">
			  		<li>Палеонтология</li>
			  	</a>
				<a href="/guidebook/stone">
					<li>Эпоха камня
						<ul>
	    					<a href="/guidebook/stone/paleolithic">
	    						<li>Палеолит</li>
	    					</a>
	    					<a href="/guidebook/stone/mesolithic">
	    						<li>Мезолит</li>
	    					</a>
	    					<a href="/guidebook/stone/neolithic">
	    						<li>Неолит</li>
	    					</a>
						</ul>
					</li>
				</a>
				<a href="/guidebook/metal">
					<li>Ранний металл</li>
				</a>
				<a href="/guidebook/antiquity">
					<li>Античность
						<ul>
	    					<a href="/guidebook/antiquity/city">
	    						<li>Античные города</li>
	    					</a>
	    					<a href="/guidebook/antiquity/olbia">
	    						<li>Ольвия</li>
	    					</a>
	    					<a href="/guidebook/antiquity/chersonesus">
	    						<li>Херсонес</li>
	    					</a>
						</ul>
					</li>
				</a>
				<a href="/guidebook/mari">
					<li>Марийцы XIII-XVIII вв.</li>
				</a>
				<a href="/guidebook/russ_russia">
					<li>Русь - Россия
						<ul>
	    					<li><a href="/guidebook/russ_russia/novgorod">Великий Новгород</a></li>
	    					<li><a href="/guidebook/russ_russia/borodino">Бородино 1812 г.</a></li>
	    					<li><a href="/guidebook/russ_russia/ww2">ВОВ 1941-1945 гг.</a></li>
						</ul>
					</li>
				</a>
			</ul>
		</li>
		<a href="/about">
			<li>О сайте</li>
		</a>
	</nav>

	<div id="box">
		<aside id="left">
			<ul class="left-sidebar"> 
			    <li> 
			        <span>Медведево</span> 
			        <ul class="sub-menu">
			        	<li><a href="/medvedevo/info">Общие сведения</a></li>
	  					<li><a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/1.jpg">Галерея</a></li>
			        </ul>
			    </li>

			    <li>
			        <span>Руководитель музея</span>
			        <ul class="sub-menu">
			            <li><a href="/leader/info">Общие сведения</a></li>
	  					<li><a class="vitrines-link" data-fancybox-type="iframe" href="/htmls/conference.html">Конференции</a></li>
	  					<li><a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/1.png">Презентации</a></li>
	  					<li><a href="/leader/publication">Публикации</a></li>
	  					<li><a href="/leader/system">Награды</a></li>
			        </ul>
			    </li>

				<li><a href="/reviews">Отзывы о музее</a></li>

				<li><a href="/smi">СМИ о нас</a></li>

			    <li>
			        <span>Наши достижения</span>
			        <ul class="sub-menu">
			            <li><a class="vitrines-link" data-fancybox-type="iframe" href="/tables/rus.html">Всероссийские</a></li>
	  					<li><a class="vitrines-link" data-fancybox-type="iframe" href="/tables/resp.html">Республиканские</a></li>
			        </ul>
			    </li>

			    <li><a href="/pride">Гордость объединения</a></li>

			    <li>
			        <span>Мультимедиа</span>
			        <ul class="sub-menu">
			            <li><a href="/photo_archive/expeditions_tree">Экспедиции</a></li>
	  					<li><a href="/photo_archive/competitions_tree">Конкурсы</a></li>
	  					<li><a href="/photo_archive/museum_tree">Музей</a></li>
	  					<li><a href="/video_archive">Видео</a></li>
			        </ul>
			    </li>

			    <li><a href="/map">Карта сайта</a></li>
				<li><a href="/creators">Создатели сайта</a></li>

				<li>
					<a id="vk_btn" href="http://vk.com/share.php?url=http://www.arhmuzey.ru/" target="_blank">
						<img src="/img/vk_share.gif"/>
					</a>
				</li>
				<li>
					<a id="fb_btn" href="http://www.facebook.com/sharer.php?u=http://www.arhmuzey.ru/&src=sp" target="_blank">
						<img src="/img/fb_share.gif"/>
					</a>
				</li>
			</ul>
		</aside>
		<aside id="right">
			<a href="/clock">
				<!--<img class="arrow" src="/img/str.png"/>-->
				<img src="/img/clock.gif" width="190" height="247"/>
			</a>
			<br/>
			<div id="imageright">
	    		<div id="sphere">
	        		<a href="/sphere"><span>Шар-слайдшоу</span></a>
	    		</div>
	    		<div id="tapetime">
	        		<a href="/tapetime"><span>Лента времени</span></a>
	    		</div>
			</div>
		</aside>
	
		<div id="content"> 
			<%= yield %>
		</div>
	
		<footer id="footer">
			Сайт создан 
			<a href="/creators">учениками трех медведевских школ</a> 
			под руководством учителя истории 
			<a href="/leader/info">Панова Игоря Ивановича.</a> 
			<br/>Сайт создавался без использования "конструктора сайтов" 
			<script type="text/javascript" src="http://ji.revolvermaps.com/2/4.js?i=8bovrxehw32&amp;m=0&amp;h=0&amp;c=fff600&amp;r=0" async="async">
			</script>
		</footer>
	</div>
	<div class="hidden">
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/2.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/3.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/4.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/5.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/6.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/7.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/8.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/9.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/10.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/11.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/12.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/13.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/14.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/15.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/16.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/17.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/18.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/19.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/20.jpg"></a>

		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc2.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc3.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc4.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc5.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc6.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc7.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc8.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc9.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc10.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc11.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc12.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc13.png"></a>

		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/2.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/3.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/4.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/5.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/6.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/7.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/8.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/9.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/10.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/11.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/12.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/13.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/14.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/15.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/16.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/17.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/18.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/19.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/20.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/21.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/22.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/23.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/24.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/25.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/26.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/27.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/28.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/29.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/30.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/30.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/31.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/32.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/33.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/34.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/35.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/36.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/37.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/38.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/39.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/40.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/41.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/42.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/43.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/44.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/45.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/46.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/47.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/48.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/49.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/50.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/51.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/52.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/53.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/54.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/55.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/56.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/57.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/58.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/59.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/60.png"></a>
	</div>

	<div id="top-link">
		<a href="#top">&#9650; Наверх</a>
	</div>
</body>
</html>