<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Археологический музей</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/fancybox/fancybox.css" />
		<link rel="stylesheet" type="text/css" href="/css/imageright.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="/fancybox/fancybox.pack.js"></script>
		<script src="/js/fancy-code.js"></script>
		<script src="/js/imageright.js"></script>
		<script src="/js/scroll.js"></script>
		<script src="/js/menu.js"></script>
	</head>
<body>
	<div id="poster">
		<a href="/union/history">
			<img src="/img/poster1.png" width="289" height="284" title="Переход в раздел Объединение"/>
		</a>
		<a href="/">
			<img src="/img/poster2.png" width="442" height="284" title="Переход на Главную"/>
		</a>
		<a href="/reviews">
			<img src="/img/poster3.png" width="409" height="284" title="Переход в Книгу отзывов"/>
		</a>
	</div>
	
	<div id="head-text">
		<font>МЕДВЕДЕВСКИЙ ШКОЛЬНЫЙ АРХЕОЛОГИЧЕСКИЙ МУЗЕЙ</font>
	</div>
	
	<div id="header">
		<ul class="menu">
			<li>
				<a href="/">
					<div class="section">Главная</div>
				</a>
			</li>
			<li>
				<a href="/events">
					<div class="section">События</div>
				</a>
			</li>
			<li>
				<div class="section">Объединение</div>
				<ul>
	    			<li><a href="/union/history">Из истории</a></li>
	    			<li><a href="/union/expeditions">Экспедиции</a></li>
	    			<li><a href="/union/slet">Слёты</a></li>
	    			<li><a href="/union/competitions">Конкурсы</a></li>
	    			<li><a href="/union/creation">Создание музея</a></li>
				</ul>
			</li>		
			<li>
				<div class="section">О музее</div>
				<ul>
	    			<li><a href="/museum/history">История создания</a></li>
	    			<li><a href="/museum/collection">Коллекция музея</a></li>
	    			<li><a href="/museum/concept">Концепция музея</a></li>
	    			<li><a href="/museum/working">Деятельность музея</a></li>
	    			<li><a href="/museum/results">Итоги работы</a></li>
	    			<li><a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc1.png">Документы</a></li>
				</ul>
			</li>
			<li>
				<div class="section">Путеводитель</div>
				<ul>
				  	<li><a href="/guidebook/paleontology">Палеонтология</a></li>
	    			<li><a href="/guidebook/stone">Эпоха камня</a>
						<ul>
	        				<li><a href="/guidebook/stone/paleolithic">Палеолит</a></li>
	        				<li><a href="/guidebook/stone/mesolithic">Мезолит</a></li>
	        				<li><a href="/guidebook/stone/neolithic">Неолит</a></li>
						</ul>
					</li>
	    			<li><a href="/guidebook/metal">Ранний металл</a></li>
	    			<li><a href="/guidebook/antiquity">Античность</a>
						<ul>
	        				<li><a href="/guidebook/antiquity/city">Античные города</a></li>
	        				<li><a href="/guidebook/antiquity/olbia">Ольвия</a></li>
	        				<li><a href="/guidebook/antiquity/chersonesus">Херсонес</a></li>
						</ul>
					</li>
	    			<li><a href="/guidebook/mari">Марийцы XIII-XVIII вв.</a></li>
	    			<li><a href="/guidebook/russ_russia">Русь - Россия</a>
						<ul>
	        				<li><a href="/guidebook/russ_russia/novgorod">Великий Новгород</a></li>
	        				<li><a href="/guidebook/russ_russia/borodino">Бородино 1812 г.</a></li>
	        				<li><a href="/guidebook/russ_russia/ww2">ВОВ 1941-1945 гг.</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="/about">
					<div class="section">О сайте</div>
				</a>
			</li>
		</ul>
	</div>
	<div id="box">
		<div id="left">
			<ul class="left-sidebar"> 
			    <li> 
			        <span>Медведево</span> 
			        <ul class="sub-menu">
			        	<li><a href="/medvedevo/info">Общие сведения</a></li>
	  					<li><a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/1.jpg">Галерея</a></li>
			        </ul>
			    </li>

			    <li>
			        <span>Руководитель музея</span>
			        <ul class="sub-menu">
			            <li><a href="/leader/info">Общие сведения</a></li>
	  					<li><a class="vitrines-link" data-fancybox-type="iframe" href="/htmls/conference.html">Конференции</a></li>
	  					<li><a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/1.png">Презентации</a></li>
	  					<li><a href="/leader/publication">Публикации</a></li>
	  					<li><a href="/leader/system">Награды</a></li>
			        </ul>
			    </li>

				<li><a href="/reviews">Отзывы о музее</a></li>

				<li><a href="/smi">СМИ о нас</a></li>

			    <li>
			        <span>Наши достижения</span>
			        <ul class="sub-menu">
			            <li><a class="vitrines-link" data-fancybox-type="iframe" href="/tables/rus.html">Всероссийские</a></li>
	  					<li><a class="vitrines-link" data-fancybox-type="iframe" href="/tables/resp.html">Республиканские</a></li>
			        </ul>
			    </li>

			    <li><a href="/pride">Гордость объединения</a></li>

			    <li>
			        <span>Мультимедиа</span>
			        <ul class="sub-menu">
			            <li><a href="/photo_archive/expeditions_tree">Экспедиции</a></li>
	  					<li><a href="/photo_archive/competitions_tree">Конкурсы</a></li>
	  					<li><a href="/photo_archive/museum_tree">Музей</a></li>
	  					<li><a href="/video_archive">Видео</a></li>
			        </ul>
			    </li>

			    <li><a href="/map">Карта сайта</a></li>
				<li><a href="/creators">Создатели сайта</a></li>

				<li>
					<a id="vk_btn" href="http://vk.com/share.php?url=http://www.arhmuzey.ru/" target="_blank">
						<img src="/img/vk_share.png"/>
					</a>
				</li>
				<li>
					<a id="fb_btn" href="http://www.facebook.com/sharer.php?u=http://www.arhmuzey.ru/&src=sp" target="_blank">
						<img src="/img/fb_share.png"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="right">
			<a href="/clock">
				<!--<img class="arrow" src="/img/str.png"/>-->
				<img src="/img/clock.gif" width="190" height="247"/>
			</a>
			<br/>
			<div id="imageright">
	    		<div id="sphere">
	        		<a href="/sphere"><span>Шар-слайдшоу</span></a>
	    		</div>
	    		<div id="tapetime">
	        		<a href="/tapetime"><span>Лента времени</span></a>
	    		</div>
			</div>
		</div>
	
		<div id="content"> 
			<%= yield %>
		</div>
	
		<div id="footer">
			Сайт создан 
			<a href="/creators">учениками трех медведевских школ</a> 
			под руководством учителя истории 
			<a href="/leader/info">Панова Игоря Ивановича.</a> 
			<br/>Сайт создавался без использования "конструктора сайтов" 
			<script type="text/javascript" src="http://ji.revolvermaps.com/2/4.js?i=8bovrxehw32&amp;m=0&amp;h=0&amp;c=fff600&amp;r=0" async="async">
			</script>
		</div>
	</div>
	<div class="hidden">
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/2.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/3.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/4.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/5.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/6.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/7.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/8.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/9.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/10.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/11.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/12.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/13.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/14.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/15.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/16.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/17.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/18.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/19.jpg"></a>
		<a class="gallery-show" rel="medvedevo" href="http://arhmuzey.ru/presentations/medvedevo/20.jpg"></a>

		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc2.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc3.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc4.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc5.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc6.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc7.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc8.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc9.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc10.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc11.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc12.png"></a>
		<a class="gallery-show" rel="docs" href="http://arhmuzey.ru/docs/doc13.png"></a>

		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/2.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/3.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/4.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/5.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/6.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/7.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/8.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/9.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/10.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/11.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/12.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/13.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/14.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/15.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/16.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/17.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/18.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/19.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/20.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/21.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/22.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/23.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/24.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/25.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/26.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/27.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/28.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/29.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/30.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/30.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/31.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/32.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/33.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/34.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/35.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/36.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/37.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/38.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/39.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/40.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/41.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/42.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/43.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/44.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/45.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/46.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/47.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/48.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/49.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/50.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/51.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/52.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/53.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/54.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/55.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/56.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/57.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/58.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/59.png"></a>
		<a class="gallery-show" rel="concept" href="http://arhmuzey.ru/concept/60.png"></a>
	</div>

	<div id="top-link">
		<a href="#top">&#9650; Наверх</a>
	</div>
</body>
</html>