<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Музей</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/fancybox/fancybox.css" />
        <link rel="stylesheet" type="text/css" href="/css/exp-style.css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/fancybox/fancybox.pack.js"></script>
        <script src="/js/fancy-code.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="exp-subtitle">Хронология музея</div>
            <h3>
                <a href="/">&#8678; Вернуться назад</a>
            </h3>
            <div class="exp-container">
                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Семинары учителей истории в археологическом музее</span>
                            <a>01.04.2015, 23.04.2015</a>
                        </h3>
                    </div>
                    <div class="exp-right">
                        <a class="gallery-show exp-img exp-img-deco" rel="01042015" href="http://arhmuzey.ru/museum_tree/01042015/1.jpg" >
                          <img src="http://arhmuzey.ru/museum_tree/01042015/5.jpg"/>
                        </a> 
                    </div>
                    <a class="gallery-show" rel="01042015" href="http://arhmuzey.ru/museum_tree/01042015/2.jpg"></a>
                    <a class="gallery-show" rel="01042015" href="http://arhmuzey.ru/museum_tree/01042015/3.jpg"></a>
                    <a class="gallery-show" rel="01042015" href="http://arhmuzey.ru/museum_tree/01042015/4.jpg"></a>
                    <a class="gallery-show" rel="01042015" href="http://arhmuzey.ru/museum_tree/01042015/5.jpg"></a>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <a class="gallery-show exp-img exp-img-deco" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/1.jpg" >
                          <img src="http://arhmuzey.ru/museum_tree/12122014/34.jpg"/>
                        </a> 
                    </div>
                    <div class="exp-right">
                        <h3>
                            <span>Юбилей Медведевского школьного археологического музея</span>
                            <a>12.12.2014</a>
                        </h3>
                    </div>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/2.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/3.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/4.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/5.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/6.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/7.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/8.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/9.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/10.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/11.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/12.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/13.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/14.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/15.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/16.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/17.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/18.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/19.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/20.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/21.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/22.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/23.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/24.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/25.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/26.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/27.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/28.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/29.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/30.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/31.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/32.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/33.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/34.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/35.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/36.jpg"></a>
                    <a class="gallery-show" rel="12122014" href="http://arhmuzey.ru/museum_tree/12122014/37.jpg"></a>
                </div>

                <div class="exp-row exp-medium">
                    <div class="exp-left">
                        <h3>
                            <span>Глава Марий Эл посетил школьный археологический музей</span>
                            <a>01.12.2014</a>
                        </h3>
                    </div>

                    <div class="exp-right">
                        <a class="gallery-show exp-img exp-img-deco" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/1.jpg" >
                          <img src="http://arhmuzey.ru/museum_tree/01122014/1.jpg"/>
                        </a> 
                    </div>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/2.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/3.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/4.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/5.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/6.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/7.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/8.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/9.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/10.jpg"></a>
                    <a class="gallery-show" rel="01122014" href="http://arhmuzey.ru/museum_tree/01122014/11.jpg"></a>
                </div>
            </div>
        </div>
    </body>
</html>