<div id="date">Дата: 16-17.05.2014</div>
<div id="h1" align="center">
	Восьмые всероссийские краеведческие чтения <br/> (Москва – Подольск)
</div>

<p>
	16–17  мая   2014  г. в г. Москве в Историко-архивном институте РГГУ (Никольская, 15) и  в усадьбе Ивановское (Подольск, Московская обл.) в Федеральном музее профессионального образования прошли Восьмые всероссийские краеведческие чтения, посвященные 100-летию Первой мировой войны и 150-летию Московского археологического общества. Чтения организованы Союзом краеведов России (СКР), Отделением краеведения и историко-культурного туризма ИАИ РГГУ. 
</p>
<p>
	Торжественное открытие Восьмых всероссийских краеведческих чтений состоялось в актовом зале Историко-архивного института РГГУ. Оно началось с минуты молчания  объявленного Ефимом Иосифовичем Пивоваром, ректором РГГУ, членом-корреспондентом РАН, председателем Российского Общества историков-архивистов по Сигурду Оттовичу Шмидту, основателю Союза краеведов России, ушедшего из жизни 22 мая 2013 г. 
</p>
<p>
	Вели Чтения Владимир Фотиевич Козлов – кандидат исторических наук, профессор, руководитель Отделения краеведения и историко-культурного туризма, зав. кафедрой региональной истории и краеведения ИАИ РГГУ, председатель  Союза краеведов России, Московского краеведческого общества и Российского общества по изучению Крыма, а так же Александра Геннадьевна Смирнова – кандидат исторических наук, доцент, и.о. зав. кафедрой москвоведения, директор УНЦ экскурсионного дела и изучения исторических памятников Москвы ИАИ РГГУ, первый зам. председателя Союза краеведов России и Московского краеведческого общества, зам. председателя Российского общества по изучению Крыма.
</p>
 <p>
 	В нынешнем форуме приняли участие 158 человек из 35 регионов России, а также Приднестровья, Украины, Белоруссии и Казахстана. Всего работало 12 секций. Главные темы Чтений - 100-летие начала Первой мировой войны и 150-летие Московского Археологического общества. Однако, что абсолютно естественно для Всероссийской встречи краеведов, доклады были посвящены различным вопросам региональной истории и современному краеведческому движению. В первый день Чтений работало 11 секций:
</p>
<ul>
	<li>Секция 1. История краеведения. Московское археологическое общество. подвижники краеведения;</li>
	<li>Секция 2. Современное краеведческое движение. краеведческие объединения;</li>
	<li>Секция 3. Вузы, библиотеки, музеи, архивы как центры краеведческих исследований; </li>
	<li>Секция 4. Краеведческие издания и краеведческая периодика;  </li>
	<li>Секция 5. Преподавание краеведения в средних учебных заведениях и организация внешкольной работы. Краеведение и экскурсионно-туристическое дело;  </li>
	<li>Секция 6. Церковное краеведение: методика и практика исследований;  </li>
	<li>Секция 7. Исследования по истории и культуре Московского края;  </li>
	<li>Секция 8. Современные краеведческие исследования: методика и практика  </li>
	<li>Секция 9. История и культура Крыма;  </li>
	<li>Секция 10. События и памятники первой мировой войны на территории Москвы и Московского края;  </li>
	<li>Секция 11. События и памятники первой мировой войны в регионах России и на территории сопредельных государств;</li>  
	<li>Секция 12. Усадьбоведение: изучение, сохранение и популяризация усадебного наследия.</li>
</ul>
<p>
	Республику Марий Эл представлял учитель истории МОБУ «Медведевская средняя общеобразовательная школа №2», руководитель школьного археологического музея МОБУ «Медведевская средняя общеобразовательная школа №3», член Союза краеведов России Игорь Иванович Панов. Являясь одним из руководителей секции «Преподавание краеведения в средних учебных заведениях и организация внешкольной работы. Краеведение и экскурсионно-туристическое дело», он выступил  с докладом в соавторстве с Алексеем Леухиным, выпускником Медведевской СОШ №2 по теме «Медведевский школьный археологический музей в виртуальном пространстве». Выступление посвящено деятельности Медведевского школьного археологического музея, концепции музея, созданию интернет-проекта «Виртуальный музей» и его размещению в виртуальном пространстве. Доклад вызвал интерес и бурное обсуждение у слушателей, была дана высокая оценка работы руководителя музея и учеников – разработчиков сайта «Виртуальный музей». Организаторами планируется публикация материалов Восьмых всероссийских краеведческих чтений.
</p>