<img src="/img/neolithic-b.png" align="left" height="300" width="489"/>

<p>
	<font id ="h1">В</font> экспозиции эпохи неолита – нового каменного века (6–3 тыс. до н.э.) представлены памятники лесной полосы Европейской части страны. 
</p>
<p>
	<font id="h1">Неолит</font> – высшая и последняя ступень развития каменного века. В эту эпоху происходит расцвет техники обработки камня и кости. Каменные орудия достигают совершенства.
</p>
<p>
	Широкое распространение получают 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/161.jpg">тесла</a>
	и долота – новые по форме каменные орудия труда для обработки дерева. Обращают на себя внимание искусно сделанные каменные 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/162.jpg">топоры</a>. 
	Люди научились не только шлифовать, но и пилить, просверливать отверстия в камне.
</p>
<p>
	Самая яркая черта неолита и одно из фундаментальных изобретений человечества – 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/163.jpg">глиняная посуда</a>, 
	для изготовления которой использовалось тесто из глины, воды и различных органических и минеральных добавок.
</p>
<p>
	Поверхность большинства сосудов украшена, ямочки в сочетании с оттисками нанесены гребенчатым штампом. Предположительно, это связано с магическим характером узоров. По мнению большинства археологов, каждой этнической группе присущи свой определенный набор типов посуды, приемы её изготовления и орнаментальное оформление. Тот факт, что на огромной территории в лесах Восточной Европы бытовала схожая по форме и декорированию керамика, называемая 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/164.jpg">ямочно-гребенчатая</a>
	свидетельствует о распространении в этом регионе группы родственных племен, которые относят к древнейшим  финно-угорским народам. Широко представлена на территории нашего края этого периода Накольчатая и Волосовская керамика.
</p>
<p>
	Когда и как появилась керамика, что представлял собой гончарный круг, можно узнать, познакомившись с рисунком и текстом на планшете, справа от 
	<a class="vitrines" href="/img/base/32.jpg">витрины 4</a>.
	В нашем музее можно увидеть 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/165.jpg">макет жилища</a> 
	эпохи неолита.
</p>