<p/>11 ноября в МОБУ «Медведевская СОШ №3 в археологическом музее прошел межрегиональный семинар по туристско-краеведческой работе методистов и директоров дополнительного образования. Организацию и  проведение семинара для представителей Кировской области взяли на себя обучающиеся двух  медведевских школ, актив археологического музея (руководитель музея в это время находился в командировке в Москве): Алексей Леухин (11 класс); Никита Алексеев (9 класс); Екатерина Леонтьева 
(7 класс).

<div align="center" width="600">
	<img src="/img/events/obzor.JPG"/>
</div>