
<H3>Газета "ВЕСТИ" «Музейная педагогика» 12.04.13 </H3>

<P>В информационно-методическом центре "Музейная педагогика" открылась школа для начинающих экскурсоводов.
<P>На первое занятие прибыли учащиеся из Азановской, Новоарбанской, Цибикнурской, Ежовской, Нужьяльской, Русскокукморской школ района. Первое занятие провёл И.И. Панов, руководитель археологического музея. Игорь Иванович ознакомил ребят с видами экскурсий, подробно рассказал о том, как проводить сбор информации по заданной теме, изучать экспозиции. Юные экскурсоводы получили задание подготовить виртуальную экскурсию по своему населённому пункту, посвящённую 70-летию Медведевского района.
<P>Программа школы экскурсовода предусматривает получение детьми теоретических и практических знаний из области музееведения. За время обучения учащиеся познакомятся с источниками информации в школьном музее, научатся приемам и навыкам краеведческой и музейной деятельности в качестве экскурсовода, обогатят речь, а главное - научатся интересно и содержательно проводить экскурсии по школьному музею.

<P>ЦАРЕГОРОДЦЕВА О. <i>Музейная педагогика //ВЕСТИ. — 2013. — 12 апреля.</i>




