<p/>Национальный музей Республики Марий Эл им. Т. Евсеева проводит 27 марта 2014 года республиканский семинар «Музей и школа: создание единого образовательного пространства» для руководителей муниципальных музеев. Семинар проводится на базе МОБУ «Медведевская средняя общеобразовательная школа № 3» (п. Медведево, ул. Логинова,4). Начало в 10.00. 
<p/>Просим Вас направить на семинар руководителя Вашего музея.

<div align="center" width="700">
<img src="/img/events/text.png">
</div>

<div align="center" width="700">
<img src="/img/events/gramota.JPG">
</div>