<div id="h1" align="center">
	Республиканский семинар в археологическом музее
</div>
<p>
	27 марта на базе школьного археологического музея Медведевской средней общеобразовательной школы № 3 Национальный музей РМЭ им. Т. Евсеева провел республиканский семинар по теме «Музей и школа: создание единого образовательного пространства» для руководителей и специалистов муниципальных музеев. 
</p>
<p>
	Директор школы Л.Ф. Чугунова рассказала участникам семинара о деятельности Медведевской СОШ №3, отметила достижения и проблемы в работе. Руководитель музея, учитель истории Панов И.И. провел обстоятельную экскурсию по экспозиции школьного музея и выступил с докладами «Роль школьного археологического музея в образовательном процессе» и «Виртуальный археологический музей как результат внеурочной краеведческой деятельности обучающихся». 
</p>
<p>
	Директор Национального музея РМЭ им. Т. Евсеева А.В. Муравьев высоко оценил работу Медведевской средней общеобразовательной школы №3» в создании единого образовательного пространства музея и школы и вручил коллективу школы Благодарственное письмо за значительный вклад в гражданско-патриотическое воспитание молодого поколение и приобщение их к культурно-историческим ценностям. А директор школы получила персональную Благодарность за качественную организацию и проведение республиканского семинара «Музей и школа».
</p>
<p>
	По итогам десятилетней работы археологического музея, его основатель и руководитель И.И. Панов был награжден Почетной грамотой Министерства культуры, печати и по делам национальностей Республики Марий Эл за вклад в развитие и совершенствование системы патриотического воспитания,  формирование у подрастающего поколения высокого патриотического сознания и верности Отечеству.
</p>
<p>
	Вторая часть семинара прошла в Медведевском историко-художественном музее, где руководители муниципальных музеев были проинформированы об итогах работы Общественного совета по оценке качества деятельности Медведевского историко-художественного музея по оказанию социально-культурных услуг, познакомились с экспозициями и выставками музея. 
</p>

Источник
Г. Полушина. Единое образовательное пространство// Вести. - 18 апреля 2014 г.