<div class="nopadding"><img src="/img/novgorod.jpg" /></div>
<p>
	Особое место в экспозиции музея занимает 
	<a class="vitrines" href="/img/base/71.jpg">витрина 11</a>. 
	Ее материалы рассказывают о культуре Руси – России XII – XIX вв. Наибольшую историческую ценность имеют экспонаты из Великого Новгорода.
</p>
<p>
	Особенности политической системы Великого Новгорода отражены в одном из наиболее массовых памятников, обнаруженных в новгородской земле, – свинцовых вислых печатях. 
</p>
<p>
	Свинцовая печать 
	(булла) находится в центральной части витрины. Такими печатями скрепляли государственные акты. Изображения и надписи на них говорят , от имени какого властного лица или органа составлен документ – самого ли Господина Великого Новгорода, его посадника или князя.
</p>
<p>
	Экземпляр печати XII века с изображением двух святых был случайно найден в 1984 г. на территории Рюрикова Городища. На этом месте было обнаружено большинство известных новгородских печатей, что связано с расположением здесь княжеской резиденции и архива.
</p>
<p>
	На лицевой стороне печати изображен Иоанн Предтеча в полный рост: правая рука  поднята в двуперстном благословляющем жесте, в левой руке свиток, у левого плеча крест. С 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/282.jpg">обратной стороны</a> 
	– изображение архангела Михаила в полный рост с жезлом в правой руке и со сферой в левой. Предположительно, это одна из печатей князя Святослава Ростиславовича (1158–1167).
</p>
<p>
	Фрагменты стеклянных бус относятся к периоду XI–XIII вв.
</p>
<p>
	<a class="vitrines" href="/img/base/72.jpg">Экспонаты более позднего времени</a>: 
	колокольчик, икона-складень, ключ, замок, чарки, самовары и монеты – отражают культуру и быт XVIII–XIX вв.
</p>
<p>
	Несомненный интерес для жителей п. Медведево представляет 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/284.jpg">железный ключ</a>, 
	достаточно большой, необычной формы, выполненный вручную на высоком профессиональном уровне. Ключ был найден учеником Медведевской СОШ №2 Подузовым Сергеем в 1991 г. в земле на частном подворье в п.Медведево.
</p>
<p>
	В нижней части витрины – вещи, подаренные музею учениками, посетителями: 
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/285.jpg">бронзовая печать 19 века</a>, 
	багор, аптекарский сосуд, вулканическое стекло, янтарь.
</p>
<p>
	<a class="vitrines" href="http://arhmuzey.ru/vitrines/288.jpg">Самовары</a> 
	и макеты подворья 
	(<a class="vitrines" href="/img/base/75.jpg">макет №1</a>, 
	<a class="vitrines" href="/img/base/76.jpg">макет №2</a>) 
	второй половины XIX в. создают образные впечатления о жизни простых крестьян.
</p>