<table>
	<td width="625">
		<div id="h1" align="center">Отчет </div> 
		<br/>
			<div align="center">
				<b>о работе школьного археологического музея  учителя истории МОБУ «Медведевская СОШ №2», руководителя школьного музея МОБУ «Медведевская СОШ №3», педагога дополнительного образования МОБУ ДОД «Медведевский районный дом детского творчества», доцента кафедры социально-культурных технологий МарГУ 
				<br/>Панова Игоря Ивановича 
				<br/>за 2010 – 2014 гг.</b>
			</div>
	</td>
	<td>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/1.jpg">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/mus_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/2.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/3.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/4.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/5.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/6.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/7.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/8.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/9.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/10.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/11.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/12.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/13.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/14.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/15.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/16.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/17.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/18.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/19.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/20.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/21.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/22.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/23.jpg"></a>
		<a class="gallery-show" rel="fancybox-thumb" href="http://arhmuzey.ru/presentations/mus_presentation/24.jpg"></a>
	</td>
</table>

<p>
	Федеральный Государственный образовательный стандарт нацеливает учителя на формирование у обучающихся универсальных учебных действий. Введение ФГОС направлено на повышение качества образования и достижение новых образовательных результатов. Формирование личности школьника стоит во главе угла всего стандарта, что прописано и в программах по истории. Положительным моментом в активизации познавательной деятельности школьников является создание и деятельность школьных музеев.
</p>
<p>
	Медведевский школьный археологический музей вот уже 10 лет  является тем пространством интеграции общего и дополнительного образования детей, одним из центров патриотического воспитания,  которое охватывает не только учащихся трех медведевских школ, но и школьников района и г.Йошкар-Олы. Музей фактически стал межшкольным, превратившись за эти годы в современный образовательный, исследовательский и культурный центр, отличающийся оригинальным дизайном и техническими «изюминками.
</p>
<p>
	Организация музея – результат внеурочной деятельности объединения «Юный археолог» (ученики трех школ), участия школьников в археологических экспедициях, слетах и представление  итогов работы на конференциях и конкурсах. Создать альтернативную школьным урокам культурно-образовательную среду,  «окунуться в историю»  – вот те причины, которые привели к идее образования  Медведевского краеведческого объединения «Юный археолог» (с 1986 г.). Фактически объединение «Юный археолог» стало школьным научным обществом (ШНО) с работой по трем основным направлениям:
</p>
	<ol type = "1">
		<li>
			Участие в археологических экспедициях;
		</li>
		<li>
			Исследовательская работа;
		</li>
		<li>
			Музейная деятельность.
		</li>  
	</ol>
<p>
	За эти годы сложилась своя методическая система, свое видение деятельности археологического объединения и работы школьного музея. Приоритетным направлением во внеурочной деятельности стал школьный  музей, позволяющий интегрировать общее, дополнительное и высшее образование.      
</p>
<p>
	Объем музейных фондов археологического музея  насчитывает  947 единиц хранения, из них подлинных – 790 предмета. На  учете в Национальном музее РМЭ им. Евсеева и МарНИИЯЛИ им. Васильева состоит – 64 экспоната. В период с 2010 по 2014 гг. общий фонд музея пополнился на  – 109 предметов, из них  – 74 подлинные экспонаты. Все экспонаты сфотографированы, оцифрованы и хранятся на жестком диске. Большинство экспонатов основного (687) и научно-вспомогательного фонда (122) занесены в электронную версию Инвентарной книги и взяты на учет.
</p>
<p>
	В музее особое внимание уделено безопасному хранению археологических коллекций: на входе металлическая дверь, на окнах распашные решетки, внутри помещения имеется охранно-пожарная сигнализация, вход в музей под постоянным  видеонаблюдением.  Окна закрыты на жалюзи. Установлена система регулируемой вентиляции. Имеется отдельное помещение для хранения фондов музея в  лаборантской кабинета истории.
</p>
<p>
	Экспозиция музея расположена в 17 витринах и поделена на восемь разделов. Коллекция состоит из подлинных археологических, палеонтологических и нумизматических экспонатов. Преобладают находки Марийского края, также имеются экспонаты, обнаруженные в античных городах Северного Причерноморья, Великом Новгороде, на Бородинском поле. Школьный музей фактически включает все общепринятые хронологические эпохи: первобытный период, Древний (античный) мир, Средние века, Новое и Новейшее время.
</p>
<p>
	Музей, будучи археологическим, фактически стал музеем всемирной истории со своей своеобразной исторической интерпретацией и концепцией не похожей на другие. Он уже давно стал тем пространством интеграции основного и дополнительного образования детей, которое объединяет различные  школы. Все это повышает роль музея в организации урочной и внеурочной краеведческой деятельности.
</p>
<p>
	В музее проходят обзорные и тематические экскурсии для школьников, студентов, учителей, работников музеев и всех желающих. По материалам музея разработан цикл экскурсий по всем историческим эпохам. Составлен подробный путеводитель. Экскурсии проводятся как обзорные, так и тематические, по желанию посетителей.
</p>
<p>
 	Полный вариант экскурсионных разработок размещен на сайте музея  www.arhmuzey.ru  
</p>

<img src="/img/report1.png" />

<p>
	Музей охотно посещают дети дошкольного возраста с родителями, жители п. Медведево, частыми посетителями музея являются отдыхающие отделения дневного пребывания для пенсионеров и инвалидов «Рябинушка». Традиционными стали экскурсии и учебные занятия для студентов исторического факультета ФГБОУ ВПО «Марийский государственный университет».
</p>
<p>
	С 2014 г. на базе археологического музея, руководителем школьного музея проводятся аудиторные и практические занятия для студентов 4 курса кафедры социально-культурных технологий МарГУ спецкурса  по теме «Организация работы школьного музея». 
</p>
<p>	
	Экспозиции музея позволяют осуществлять межпредметную интеграцию, проведение уроков по различным темам истории и культуре народов РМЭ, истории России и всеобщей истории.
</p>
<p>
	С 2007 г. в школьном археологическом музее с учетом календарно-тематического планирования предметов апробируется интегрированный спецкурс «Музейная педагогика» по гуманитарным предметам для учащихся 4–11классов, включающий 30 тем с учетом календарно-тематического планирования предметов. Календарно-тематическое планирование занятий составлено по месяцам и предусматривает наименование учебного предмета, тему занятия, класс. Количество часов изучения определенной темы определяется на месте, по согласованию с учителями-предметниками. Проведение занятий по «Музейной педагогике» способствует формированию межпредметных компетенций обучающихся и развитию личности детей. Курс занятий ориентирован на учеников различных школ, он может частично помочь учителям истории реализовать региональный компонент в образовании и формировать систему ценностей.
</p>
<p>
	С 2009 г. обучающиеся 5–9 классов летней школы «Интеллектуал» по выбору посещают занятия по музейной педагогике. Школьники получают  теоретические и практические знания и  умения по основам музееведения. Одна из тем занятий посвящена  подготовке и созданию исследовательских проектов. Итоги летней школы  подводятся на научно-практической конференции по защите проектов. Так, на одном из таких занятий в 2011г., ученики трех Медведевских школ выразили желание одной командой создать интернет-проект «Виртуальный археологический музей» Цель проекта – создание сайта, чтобы реальный школьный археологический музей стал еще и виртуальным. В нем группе разработчиков удалось отобразить уникальность музея в текстовом и мультимедийном варианте. Проект выполняется вручную – без готовых шаблонов и конструкторов.
</p>
<p>
	Третий год  (с 2012 г.) в рамках ФГОС в музее проводятся уроки истории в 4-х классах «Школа будущего пятиклассника» (30 – 35 человек). Занятия предусматривают включение археологического музея в учебный процесс. Занятия строятся на идее, от частного к общему, от школьного музея к музеям государственным. Знакомство с разделами музея по всем основным историческим эпохам позволяют формировать  и закреплять первичные познания детей об истории Марийского края, России и всеобщей истории. Школьники знакомятся с историей появления музеев, узнают о лучших и необычных музеях мира и России. Поурочное планирование в Школе будущих пятиклассников включает 24 урока (1час в неделю). 
</p>
<p>
	По инициативе Медведевского районного дома детского творчества в начале 2013 г. на базе музея создан районный информационно-методический центр «Музейная педагогика», при котором открылась школа для начинающих экскурсоводов. Создание подобной школы актуально. Для детей проводятся теоретические и практические занятия по основам экскурсионного мастерства. Методический центр «Музейная педагогика» позволяет юным экскурсоводам археологического музея добиваться значительных успехов в конкурсах на районном, республиканском и всероссийском уровнях.
</p>
<p>
	В марте 2013 г. на районном конкурсе краеведческих исследовательских работ обучающихся – участников туристско-краеведческого движения "Край родной марийский" в номинации «Школьный музей сегодня» по виртуальным экскурсиям Антонова Алена (8 класс, МСШ №2) по теме «Археологический музей: связь времен, народов и поколений» и Лебедева Елена (7 класс, МСШ №3) по теме «Путешествие в античность» стали победительницами и дипломатами конкурса. На Республиканском конкурс виртуальных экскурсий «Я поведу тебя в музей» в апреле 2014 г. Антонова Алена за работу «Археологический музей: связь времен, народов и поколений» стала Лауреатом II степени.
</p>
<p>
	В ноябре 2013 г. на районном конкурсе виртуальных экскурсий «Здесь мы живем, край нам этот дорог» сразу четверо юных экскурсоводов (актив музея) добились высших результатов, став победителями и лауреатами: Леонтьева Екатерина (7 класс); Смирнова Анастасия (6 класс); Кислицина Мария (5 класс); Рыбакова Ксения (5 класс).
</p>
<p>
	Члены совета музея  – Леонтьева Екатерина, Алексеев Никита (9 класс) Леухин Алексей (11 класс) в ноябре 2013 г. при непосредственной организации  ГБОУ  ДОД РМЭ «ДЮЦ «Роза ветров» провели на базе музея межрегиональный  семинар по туристко-краеведческой работе для методистов дополнительного образования Кировской области. Юные экскурсоводы провели обзорную и тематическую экскурсии  по музею, ознакомили участников семинара с разработкой и внедрением на сайт виртуальной версии школьного музея.
</p>
<p>
	Значительного успеха в 2014 г. достиг Леухин Алексей в конкурсе    экскурсоводов на Финале Всероссийского конкурса исследовательских краеведческих работ учащихся "Отечество". Алексей стал лауреатом Всероссийского конкурса за экскурсию «Виртуальное путешествие по Медведевскому школьному археологическому музею».
</p>
<p>
	В музее проходят занятия с юными археологами по авторской программе объединения «Юный археолог» (25–30 человек). Программа объединения стала ЛАУРЕАТОМ I СТЕПЕНИ Республиканского конкурса дополнительных образовательных программ туристско-краеведческой направленности. Она ориентирована на учащихся 5–11 классов, занимающихся в археологическом объединении, в состав которого входят учащиеся нескольких школ. 
</p>
<p>
	В течение первых двух лет ребята знакомятся с основами археологии, историей науки, понятийным аппаратом, важнейшими археологическими культурами и древнейшими центрами мировой цивилизации, с основами школьного музейного дела. Затем предполагается более углубленное постижение основ теоретической и практической археологии, индивидуализация и специализация занятий. Программа имеет концентрический характер изучения материала. Предлагаемый курс составлен на основе общепринятой сейчас периодизации и классификации археологических культур.
</p>
<p>
	Программой предусмотрено участие детей в  экспедициях, конкурсах, конференциях и работе в музее. Для реализации основных направлений внеурочной деятельности в музее созданы профильные группы: поисково-исследовательская – все желающие могут принять участие в археологических экспедициях, конкурсах; группа моделирования музейных предметов; экскурсионная группа – для проведения экскурсий,  бесед, встреч с гостями музея, музейных праздников. 
</p>
<p>
	В последние годы (2012–2014) приоритетной стала  информационно-коммуникационная группа, принимающая активное участие в разработке интернет-проекта «Виртуальный археологический музей». Основа группы состоит из актива и совета музея, учеников трех медведевских школ (Емельянова Максима – инициатора-разработчика, конструктора сайта; Леухина Алексея – дизайнера-разработчика, конструктора сайта; Алексеева Никиты – разработчика, конструктора сайта; Крылова Максима – разработчика, конструктора сайта; Мальцева Алексея – копирайтера сайта).
</p>
<p>
	Создание и разработка сайта, является логическим продолжением поисково-исследовательской работы Алексея Леухина по истории объединения «Медведевское объединение "Юный археолог" (1986–2011 гг.)», которая велась с 2008 г. и была представлена на Финале республиканского конкурса краеведческих исследовательских работ обучающихся (2011г.) и Финале Всероссийского конкурса исследовательских краеведческих работ учащихся «Отечество» (Москва, 2012 г.).
</p>
<p>
	В сайте «Виртуальный музей» удалось систематизировать все направления и результаты деятельности объединения «Юный археолог», методические наработки руководителя музея, отобразить уникальность музея в текстовом и мультимедийном варианте. Новизна Проекта состоит в том, что по содержанию, структуре и техническим задумкам подобные школьные сайты по музеям, созданные школьниками, в интернете не встречаются. Это указывает на творческий характер исследовательской работы.
</p>
<p>
	Неудивительно, что разработчики проекта в 2013–2014 гг. становились неоднократными победителями, лауреатами, дипломантами и финалистами республиканских, окружных и всероссийских конкурсов и форумов: районный конкурс краеведческих исследовательских работ обучающихся; Финал республиканского конкурса краеведческих исследовательских работ обучающихся; окружной Конкурс интернет-проектов Приволжского федерального округа «Третье измерение» (Нижний Новгород); молодежный региональный образовательный проект «Открытые пространства» (Ульяновск); «ИТ-ПАРК» (Казань); Всероссийские краеведческие чтения юных краеведов-туристов (Москва); Всероссийский конкурс интернет-проектов среди школьников и студентов "Цифровое поколение. Вперёд!" Google; Финал Всероссийского конкурса исследовательских краеведческих работ учащихся «Отечество» (Москва); Всероссийский молодежный образовательный форум «Селигер – 2014» (Тверская область).
</p>
<p>
	Так, ученик 9 класса Медведевской СОШ №3 Крылов Максим стал лауреатом конкурса исследовательских работ на Всероссийских краеведческих чтениях в секции «Летопись родного края» (Москва, 
</p>
<p>
	2013 г.), а Леухин Алексей выпускник Медведевской СОШ №2 является победителем Всероссийского конкурса исследовательских краеведческих работ учащихся «Отечество» в секции «Археология» (Москва, 2014 г.) и дипломантом Всероссийского молодежного образовательного форума «Селигер – 2014» «за прохождение образовательной программы  на смене «Инновации».  
</p>
<p>
	По материалам сайта вышла публикация разработчиков (в соавторстве) в научно-популярном журнале для детей и юношества: Виртуальный музей. Медведевский школьный археологический музей// Юный краевед. № 9, Москва, 2013. – С. 42–49. 
</p>
<p>
	Проект имеет  инновационный характер, он актуален, современен, оригинален и по-новому раскрывает потенциал школьного музея. Нестандартное и творческое отображение виртуальной версии музея позволяет решать целый комплекс общественно-значимых, социокультурных, образовательных проблем и задач. 
</p>
<p>
	Интернет-сайт рассчитан на широкую аудиторию в виртуальном пространстве. В условиях все возрастающего интереса общества к истории он знакомит посетителей с уникальным школьным археологическим музеем, аналогов которому нет в стране. Интернет-проект уже востребован школьниками, студентами, педагогами, музейными работниками, специалистами учреждений образования и культуры. С переходом на новый технический уровень, за полгода размещения в виртуальном пространстве его посетили пользователи из 25 стран, из 70 субъектов и городов РФ. Это позволяет говорить о создании эффективно действующего инновационного образовательного пространства, интегрирующего общее и дополнительное образование детей. Сайт сможет оказать существенную помощь учителям и педагогам дополнительного образования в проведении внеурочных занятий в связи с введением ФГОС в школе. 
	Первоначально создание музея являлось целью и результатом совместной деятельности детей и взрослых (бывших кружковцев, учителей, родителей, спонсоров, ученых, администрации школы).  Теперь же музей является образовательной средой для творческого саморазвития, как учащихся, так и самого руководителя музея. Опыт нашей работы по интеграции общего и дополнительного образования (с 2014 г. и высшего образования) средством археологического музея за последние несколько лет неоднократно представлен на международных, российских, окружных, межрегиональных, республиканских конкурсах, семинарах, конференциях и форумах:
</p>
<ul>
	<li>
		Международные семинары Совета Европы и Минобразования  РФ по теме «Как преподавание культурного разнообразия через школьное историческое образование может содействовать укреплению социального сплочения и сотрудничества в современном обществе» (Москва, 2007, 2008, Йошкар-Ола, 2007);
	</li>
	<li>
		Всероссийский молодежный образовательный форум «Селигер – 2014» (Тверская область, 2014 г.);
	</li>
	<li>
		Всероссийский конкурс исследовательских краеведческих работ учащихся «Отечество» (Москва,  2014, 2012,  2010,  2006 гг.); 
	</li>
	<li>
		Шестые и Восьмые всероссийские краеведческие чтения (ИАИ РГГУ, Москва, 2012, 2014 гг.);
	</li>
	<li>
		Всероссийский конкурс интернет-проектов среди школьников и студентов "Цифровое поколение. Вперёд!"  (Google, 2014 г.);
	</li>
	<li>
		Всероссийские краеведческие чтения (ФЦДЮТ и К, Москва, 2013 г.);
	</li>
	<li>
		Первый всероссийский Съезд учителей истории и обществознания (Москва, 2011 г.);
	</li> 
	<li>
		Всероссийский  семинар – совещание   руководителей  и  специалистов музеев образовательных учреждений (Москва, 2009);
	</li>
	<li>
		Всероссийская научно – практическая конференция «Этническая культура народов Волго-Камья: традиции, трансформации и современные процессы» (Йошкар-Ола, 2009);
	</li>
	<li>
		Учительский форум Приволжского федерального округа (Пенза, 2010 г.);
	</li>
	<li>
		Окружной конкурс  интернет-проектов «Третье измерение» Приволжский федеральный округ (Нижний Новгород, 2013 г.);
	</li>
	<li>
		II молодёжная Лесная школа регионального образовательного проекта "Открытые пространства" по направлению "Информационные технологии" (Ульяновск, 2013 г.);
	</li>
	<li>
		Технопарк в сфере высоких технологий «ИТ-парк», Казанский бизнес-инкубатор (Казань, 2013 г.);
	</li>
	<li>
		"Confined Space 2013" профильной образовательной смены "Форум идей-2013" в сфере программирования и ИТ (Ульяновск, 2013 г.);
	</li>
	<li>
		Межрегиональный семинар-совещание руководителей и специалистов  музеев образовательных учреждений (Москва, 2013 гг.);
	</li>

	<li>
		Межрегиональный семинар по туристко-краеведческой работе методистов дополнительного образования Кировской области (Йошкар-Ола – Медведево, 2013);
	</li>
	<li>
		Межрегиональная научно – практическая конференция «Положение молодежи в финно-угорских регионах Российской Федерации» (Йошкар-Ола, 2007);
	</li>
	<li>
		Республиканский семинар по теме «Музей и школа: создание единого образовательного пространства» для руководителей и специалистов муниципальных музеев (2014 г.);
	</li>
	<li>
		Республиканские Педагогические краеведческие чтения (2014 г.);
	</li>
	<li>
		Педагогический лекторий по направлению «Гражданско-патриотическое воспитание обучающихся» (2014 г.);
	</li>
	<li>
		Открытая научно-практическая конференция в МОБУ «Медведевская СОШ №3» (2014 г.);
	</li>
	<li>
		Республиканский семинар «Система работы с детьми общей одаренности в условиях массовой школы» (2013 г.);
	</li>
	<li>
		Республиканский семинар по теме «Музей и школа: создание единого образовательного пространства» для руководителей и специалистов муниципальных музеев (2013 г.);
	</li>
	<li>
		Республиканская музейная научно - практическая конференция «Евсеевские чтения» (2013, 2009 гг.);
	</li>
	<li>
		Финал Республиканского конкурса краеведческих исследовательских работ обучающихся (2013, 2011, 2009 гг.);
	</li>
	<li>
		Республиканская научно-практическая конференция  «Моя страна – моя Россия» (2010, 2012 гг.);
	</li>
	<li>
		Республиканская научно-практическая конференция по истории и краеведению, посвященная 20-летию археологического движения в Медведевском районе (МОУ «Медведевская СОШ №2», 2009 г.);
	</li>
	<li>
		Республиканские научно - практические конференции «Марийское краеведение: опыт и перспективы его использования в системе образования» (2002 – 2009).
	</li>
</ul>
<p>
	Участие в подобных форумах дает возможность взаимодействовать с коллегами со всей страны, использовать накопленный опыт  других регионов, делиться своими наработками. Высокие результаты деятельности школьного археологического музея – это результат совместной деятельности музея с государственными и общественными организациями. Приятно осознавать, что в Республике Марий Эл краеведческое движение поддерживается и поощряется на всех уровнях власти. Общественность и власть, на местах видя положительные результаты нашей музейной  деятельности, оказывают реальную помощь. Важнейшее значение в деятельности музея на протяжении многих лет имеет поддержка Министерства образования и науки РМЭ. Координацию деятельности музея и оказание методической помощи осуществляет ГБОУ ДОД РМЭ «Детско-юношеский центр «Роза ветров» и МОБУ ДОД «Медведевский районный дом детского творчества».
</p>
<p>
	Благодаря финансовой поддержке главы администрации Медведевского района Д.Г. Шагиахметова и спонсоров опыт нашей работы неоднократно был представлен на российских и межрегиональных семинарах, конференциях и форумах.
</p>

<img src="/img/report2.png" />

<p>
	Актив и совет музея, занимаясь научно-исследовательской деятельностью,  традиционно добиваются высоких результатов во всероссийских, окружных, межрегиональных, республиканских и  районных конкурсах, часто становясь победителями и лауреатами. Алексей Леухин (в настоящее время, студент 1курса Высшей школы информационных технологий при Казанском университете) выдвинут ФЦДЮТиК кандидатом на присуждение премии для поддержки талантливой молодежи в 2014 году как победитель Финала Всероссийского конкурса  «Отечество».
</p>

<p align="center">
	<font id="h1">Результаты участия актива и совета археологического музея в мероприятиях и конкурсах в рамках дополнительного образования</font>
</p>

<!-- ТУТ ТАБЛИЦА -->
<iframe src="/tables/table_report_1.htm" width="735" height="1000"></iframe>

<p align="center">
	<font id="h1">Результаты участия руководителя школьного музея, педагога дополнительного образования в мероприятиях и конкурсах в рамках дополнительного образования</font>
</p>

<!-- ТУТ ТАБЛИЦА -->

<p>
	У  музея сложилось тесное сотрудничество с образовательными, культурными и научными учреждениями республиканского и  федерального уровня: Федеральным центром детско-юношеского туризма и краеведения (ФГБОУ ДОД ФЦДЮТиК); Институтом всеобщей истории РАН; кафедрой региональной истории и краеведения ИАИ РГГУ; Союзом краеведов России (СКР); МарНИИЯЛИ им. Васильева; НПЦ Министерства культуры РМЭ; Национальным музеем Республики Марий Эл им. Т. Евсеева; ФГБОУ ВПО «Марийский государственный университет»; ГОУ ДПО (ПК) С«Марийский институт образования».
</p>
<p>
	Большую роль в  развитии общественно-полезной деятельности музея имеют личные контакты и взаимное сотрудничество с ведущими учеными, краеведами и музееведами страны, такими как: С.О. Шмидт, д.и.н., Академик РАО, почетный председатель Союза; В.Ф. Козлов, к.и.н., профессор, руководитель Отделения краеведения и историко-культурного туризма, зав. кафедрой региональной истории и краеведения ИАИ РГГУ, председатель Союза краеведов России; А.Г. Смирнова, к.и.н.,  первый заместитель председателя Союза краеведов России, и.о. заведующего кафедрой москвоведения ИАИ РГГУ; Н.И. Решетников,  к.и.н., профессор кафедры истории культуры и музееведения Московского государственного университета культуры и искусств; А.Г. Озеров, к.п.н., начальник отдела краеведческой исследовательской деятельности ФГБОУ ДОД ФЦДЮТиК, член Союза краеведов России; А.А. Персин, сотрудник отдела краеведения ФГБОУ ДОД ФЦДЮТиК, руководитель краеведческого музея Юго-Восточного округа г. Москвы, член Союза краеведов, профессор Московской Международной Академии детско-юношеского туризма и краеведения (ММАДЮТ); В.И. Аксельрод, к.п.н.,  методист Санкт-Петербургского городского Дворца творчества юных, Декан юношеского факультета Университета Санкт-Петербурга.
</p>
<p>
	Шефство над археологическим музеем осуществляет Национальный музей Республики Марий Эл им. Т. Евсеева. На протяжении многих лет осуществляется активное взаимодействие с д. и н., профессором  кафедры отечественной истории МарГУ А.Г. Бахтиным и к.и.н., доцентом, заведующим кафедрой социально-культурологических технологий ФГБОУ ВПО МарГУ  С.К. Свечниковым в виде консультаций и учебной деятельности. При подготовке к конкурсам и поездкам в археологические экспедиции  осуществляется сотрудничество школьного музея и сектора археологии МарНИИЯЛИ им. В.М. Васильева.
</p>
<p>    
	Деятельность музея не ограничивается рамками общего и дополнительного образования. Решается вопрос о заключении официального Договора о сотрудничестве между Марийским государственным университетом (МарГУ) и Медведевской средней общеобразовательной школой №3 (структурных подразделений университета и школьного археологического музея). В мае 2014 г.  ректор университета М.Н. Швецов посетил музей и ознакомился с его материалами. Социальное партнерство предполагает сотрудничество в сфере развития образовательного процесса и повышения качества образования в школе в рамках федерального проекта «Академическая наука – образованию».
</p>
<p>
	Археологический музей частично решает главную задачу современной школы – помогает раскрытию способностей обучающихся, способствует воспитанию личности молодежи, знакомит с историей мировой цивилизации, отечественной и региональной культурой, формирует толерантное мышление.
</p>
<p>
	Думаю уместно привести некоторые выдержки высказываний о восприятии музея посетителями из «Книги отзывов»:
</p>
<p>
	«…Ваш музей – это настоящий клад, исторический, культурный и даже психологический. Ваши экскурсии позволяют нам, посетителям, погружаться в наше прошлое, нашу историю, но самое главное – они заставляют нас задуматься, подталкивают нас на новые размышления, на то, чтобы по-новому взглянуть на многие вещи. И, конечно же, Ваши экскурсии дарят много позитивных моментов, заставляют удивляться и восхищаться…». Сушенцов Евгений, Цыпленкова Ирина, 26.06.2009 г.;
</p>
<p>
	«Благодарим вас за интереснейшую и познавательнейшую экскурсию!!! Будучи студентами - историками, мы были потрясены вашим рассказом, заново прочувствовали погружение в далёкие времена, нам стали понятными малейшие моменты истории. У Вас очень интересные и редкие экспонаты, которые не часто встретишь даже в археологических университетских музеях. Желаем Вам и вашему музею дальнейшего развития и процветания! Чтоб Вы и дальше дарили людям чудо!. С благодарностью, студентки ИФ МарГУ 5 курса». Айдимирова Василиса, Сушенцова Анастасия, 03.02.2012 г.
</p>
<p>
	«…От имени участников республиканского семинара руководителей муниципальных музеев Республики Марий Эл благодарим Вас за качественное проведение семинара, за успехи в гражданско-патриотическом воспитании обучающихся школ. Желаем Вам новых экспедиций, новых находок, новых проектов, новых Побед. Удачи и долгих лет работы. Огромное Вам спасибо за Ваш труд, за Ваше творчество, за Ваше созидание». С уважением, директор ГБУК «Национальный музей Республики Марий Эл» Муравьев А.В., 27.03.2014 г.
</p>
<p>
	Таким образом, сотрудничество с образовательными, культурными и научными учреждениями способствует активизации учебно-воспитательной деятельности археологического музея, школьный  музей стал  образовательным пространством, способным  осуществлять взаимодействие и интеграцию общего, дополнительного и высшего образования, что оказывает положительное влияние на духовно-нравственное и патриотическое воспитание обучающихся.
</p>
<p>
	Материалы  школьного археологического музея, его концептуальная  интерпретация вызывает большой интерес у общественности, часто освещается на местном телевидении, в сети Интернета, публикуется в СМИ и научно-популярных изданиях, как местных, так и российских. 
</p>

<p align="center">
	<font id="h1">Список публикаций по школьному музею</font>
</p>
	<ol type = "1">
		<li>
			Леухин А., Крылов М., Алексеев Н./Научный руководитель И.И.Панов. Виртуальный музей. Медведевский школьный археологический музей//Юный краевед. № 9. Москва, 2013. С. 42-49.
		</li>
		<li>Панов И.И. Медведевское краеведческое объединение «Юный археолог» в Республике Марий Эл// Шестые всероссийские краеведческие чтения  (Москва-Можайск, 1-2 июня 2012 г.) / Отв. ред. В.Ф.Козлов, сост. А.Г.Смирнова. М.: ИЦ "Краеведение", 2012. С. 662–669.
		</li>
		<li>Панов И.И. Школьный археологический музей как музей всемирной истории // Материалы научно – практической конференции посвящённой 70-летию Медведевского района. Сборник статей. Медведево, 2012. – С. 101–104.
		</li>
		<li>Панов И.И. Медведевский школьный археологический музей// Материалы музейной научно – практической конференции «III Евсеевские чтения». Музейный вестник №4. Йошкар-Ола, 2010. – С. 115–120.
		</li>
		<li>Панов И.И. Преподавание истории взаимодействий и сотрудничества средствами школьного археологического музея//Краеведческий альманах. Научно-методический журнал. №3, Москва, 2009. – С. 3–7.
		</li>
		<li>Панов И.И. Школьный археологический музей: связь времен, народов и поколений // Юный краевед. Научно-популярный журнал для детей и юношества. № 10, Москва, 2009. – С. 18–23.
		</li>
		<li>Панов И.И. Школьный археологический музей: традиции и перспективы //Материалы Всероссийской научно-практической конференция с международным участием «Этническая культура народов Волго-Камья: традиции, трансформации и современные процессы». Йошкар-Ола, 2009. – С. 368–375.
		</li>
		<li>Панов И.И. Преподавание истории взаимодействий и сотрудничества средствами школьного археологического музея. Материалы XV-й республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл». 2009. – С. 20–23.
		</li>
		<li>Панов И.И. Приобщение учащихся к научно-исследовательской деятельности. //Молодежь Республики Марий Эл. Материалы межрегиональной научно-практической конференции. – Йошкар-Ола. 2007. – С. 59–63.
		</li>
		<li>Панов И.И. Поисково-исследовательская деятельность учащихся как фактор творческого саморазвития личности //Инновационная сельская школа от идеи к результату. Сборник статей. Йошкар-Ола: ГОУ ВПО МарГУ, 2006. – С. 42–49.
		</li>
		<li>Панов И.И. Школа и археология: приобщение учащихся к научно-исследовательской работе //Материалы XII-й республиканской научно- практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2006. – С. 110–113.
		</li>
		<li>Панов И.И. Экспозиция боевой славы //Растить патриотов России. Из опыта работы учителей истории и обществознания. Йошкар-Ола: Педагогическая инициатива. 2005. – С.27–32.
		</li>
		<li>Панов И.И. Школьный археологический музей: совместное творчество детей и взрослых //Материалы XI-й республиканской научно-практической конференции «Марийское краеведение: опыт и перспективы его использования в системе образования Республики Марий Эл». Йошкар-Ола: ГОУ ДПО (ПК) С «Марийский институт образования»), 2005. – С.36–39.
		</li>

<p align="center">
	<font id="h1">Список газетных статьей</font>
</p>
	<ol type = "1">
		<li>
			Ведерникова С. С успехом, Елена! //Вести. – 2010. – 23 апреля.
		</li>
		<li>Галямов Ф. Богат уникальными экспонатами //Вести. – 2010. – 14 мая.
		</li>
		<li>Васильева Д. Тема обсуждения – история //Вести. – 2010. – 9 июля. 
		</li>
		<li>Васильева Д. Увлечение историей //Вести. – 2010. – 16 июля. 
		</li>
		<li>Васильева Д. Юные археологи//Вести. – 2010. – 27 августа.
		</li>
		<li>Лоскутова А. «Край родной, марийский» //Вести. – 2011. – 1 апреля.
		</li>
		<li>Полушина Г. Связь времен, народов и поколений //Вести. – 2011. – 6 мая.
		</li> 
		<li>Царегородцева О. Победил и в республике //Вести. – 2011. – 13 мая.
		</li>
		<li>Полушина Г. Всё начинается с интереса... //Вести. – 2012. – 27 апреля.
		</li>
		<li>Панов И. Плодотворная работа и незабываемые впечатления//Вести. – 2012. – 8 июня.
		</li>
		<li>Мальцев А., Леухин А. Русениха  –2012//Вести. – 2012. – 28 декабря.
		</li>
		<li>Царегородцева О. Сопричастность к настоящему и будущему // Вести. – 2013. – 12 апреля.
		</li>
		<li>Царегородцева О. Музейная педагогика// Вести. – 2013. – 12 апреля.
		</li>
		<li>Полушина Г. Учащиеся – краеведы-исследователи// Вести. – 2013. – 8 мая.
		</li>
		<li>Полушина Г. Я поведу тебя в музей // Вести. – 2013. – 8 мая.
		</li>
		<li>Никитин Д. Медведевские школьники "путешествуют" во времени//Марийская правда. – 2013.  – 18 июля.
		</li>
		<li>Полушина Г. Медведевские школьники – на «Третьем измерении»// Вести. – 2013. – 9 августа.
		</li>
		<li>Царегородцева О. Познают особенности музейной работы // Вести. – 2013. – 13 декабря.
		</li>               
		<li>Полушина Г. Всероссийский успех медведевцев // Вести. – 2013. – 20 декабря.
		</li>
		<li>Полушина Г. Единое образовательное пространство // Вести. – 2014. – 18 апреля.
		</li>
		<li>Полушина Г. Это больше чем победа // Вести. – 2014. – 25 апреля.
		</li>
		<li>Полушина Г. Была дана высокая оценка// Вести. – 2014. – 6 июня.
		</li>
		<li>Шабдарова Л. Виртуальный мир – дверь в древние времена//Марий ЭЛ. – 2014. – 24 июля.
		</li>
	</ol>

