<script src="/js/colorer.js"></script>
<div class="colorer">
	<div>
    	<a href="/guidebook/russ_russia/novgorod"><img src="/img/novgorod.jpg" /></a>
    	<span class="desc">Великий Новгород</span>
    </div>
    <div>
		<a href="/guidebook/russ_russia/borodino"><img src="/img/borodino.jpg" /></a>
		<span class="desc">Бородино 1812 г.</span>
	</div>
	<div>
		<a href="/guidebook/russ_russia/ww2"><img src="/img/ww2.jpg" /></a>
		<span class="desc">Великая Отечественная Война</span>
	</div>
</div>
