<div align="center">
	<a href="/union/competitions/presentation">
			<img src="/img/presentation.png" onMouseOver="this.src='/img/com_presentation.png'"; onMouseOut="this.src='/img/presentation.png'">
		</a>
</div>

<div align="center">
	<iframe src="/rus.html" width="714" height="750"></iframe> 
</div>