	<div class="events-gallery">
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/0.png" alt="" />
		</a>	
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/1.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/2.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/3.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/3.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/4.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/4.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/5.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/5.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/6.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/6.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1995/7.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1995/7.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 1995 г. актив медведевского археологического кружка находился в межрегиональном лагере юных археологов в Крыму, на раскопках древнего Херсонеса (Севастополь). Лагерь проводился на базе Херсонесского археологического заповедника. Программа лагеря включала в себя археологические раскопки античных памятников, практические занятия, экскурсии, отдых на берегу Черного моря.
	</p>
	<p>
		Поездка была организована Московским координационным центром совместно с Московской областной детской экскурсионно-туристской станцией. Теоретическая и практическая часть пребывания в лагере была насыщенной и интересной, а главное, связанной со школьной программой по истории и практической деятельностью археологического кружка. В конце смены лагеря состоялась научно – практическая конференция школьников и руководителей групп по обмену опытом работы.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Воробьев Алексей</li>
		<li>Золотова Светлана</li>
		<li>Гайфулин Дамир</li>
		<li>Лачков Антон</li>
		<li>Киреев Сергей</li>
		<li>Бандин Сергей</li>
		<li>Москвичев Кирилл</li>
		<li>Инягина Светлана</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>
