<div style="width: 714px; margin: 0 auto;">
	<div id="showcase" class="showcase">

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/0.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/0.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/1.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/1.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/2.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/2.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/3.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/3.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/4.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/4.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/5.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/5.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/6.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/6.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/7.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/7.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/8.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/8.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/9.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/9.png" width="101px" />
			</div>
		</div>





		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/10.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/10.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/11.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/11.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/12.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/12.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/13.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/13.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/14.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/14.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/15.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/15.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/16.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/16.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/17.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/17.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/18.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/18.png" width="101px" />
			</div>
		</div>

<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/19.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/19.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/20.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/20.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/21.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/21.png" width="101px" />
			</div>
		</div>
		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/22.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/22.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/23.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/23.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/24.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/24.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/25.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/25.png" width="101px" />
			</div>
		</div>

		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/26.png" />
			</div>
			<div class="showcase-thumbnail">
				<img src="http://arhmuzey.ru/expeditions/1_s1991/26.png" width="101px" />
			</div>
		</div>
	</div>
</div>

<div align="center">Используйте кнопки "Назад" и "Далее" или стрелки "&#8592;" и "&#8594;" на клавиатуре для перелистывания слайдов</div>