	<div class="events-gallery">
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1996/0.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1996/0.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1996/1.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1996/1.png" alt="" />
		</a>
		<a class="fancybox-thumb" rel="fancybox-thumb" href="http://arhmuzey.ru/expeditions/1_s1996/2.png" title="">
			<img src="http://arhmuzey.ru/expeditions/1_s1996/2.png" alt="" />
		</a>
	</div>
</div>
<div class="exp-text">
	<p>
		В 1996 г. в Звениговском районе проходил республиканский слет туристов – краеведов, посвященном 40 – летию образования юношеского туристического центра Республики Марий Эл. Слет проводился совместно с 37 республиканскими туристскими соревнованиями. Общее руководство организацией и проведением слета осуществлял Юношеский туристский центр во главе с его директором Валерием Алексеевичем Смышляевым. Участие в слете приняло 12 команд.
	</p>
	<p>
		Медведевский район выставил три группы из 17 школьников: Нурминская средняя школа (руководитель – Лидия Павловна Смоленцева), Цибикнурская средняя школа (руководитель - Михаил Леонидович Волков), Медведевская средняя школа (руководитель – Игорь Иванович Панов). Медведевская школа была представлена 3 юными археологами, многократными участниками археологических экспедиций и слетов: Сергеем Бандиным; Ольгой Лежниной; Светланой Гордеевой. Юных археологов пригласили на слет как гостей, но они пожелали активно участвовать во всех конкурсах, предусмотренных программой слета. Медведевская команда впервые заняла III общекомандное место.
	</p>
	<p>
		Участники экспедиции:
	</p>
	<ol type="1">
		<li>Бандин Сергей</li>
		<li>Гордеева Светлана </li>
		<li>Лежнина Ольга</li>
 	 </ol>
	<a href="/photo_archive/expeditions">&#8678; Вернуться к "Хронологии экспедиций" </a>
</div>

