<font id="h1">
<div align="center">
  Список газетных публикаций<br/> 
  отражающих деятельность Медведевского школьного объединения «Юный археолог» 1990 – 2012 гг. <br/>
  (экспедиции, олимпиады и конференции, археологический музей)
</div></font>

<ol type="1">
<li>Шерстнев В.  Лагерь юных археологов //Ленинский путь. – 1990. – 3 июля.
<li> Панов И.  Находки на стыке эпох //Вести. –  1991. - 18 июля. 
<li>Алехин А.  Кончен раскоп //Вести. – 1991. – 25 июля.
<li>Сабиров А.  Очень повезло //Вести. – 1991. – 12 октября.
<li>Волгина К.  Палаточные будни, песни у костра // Вести. – 1992. – 30 июня.
<li>Гордеева С., Лежнина О. Сфотографировались с Наполеоном //Вести. – 1992. 
<li>Лебедева З. Если заниматься любимым делом //Вести. – 1993. – 26 июня.
<li>Пашкин В. Пока не пришла вода //Йошкар-Ола. – 1993. – 22 октября.
<li>Загайнова Н., Халтурина А. На день рождения – Волжский сом //Вести. – 1994.  
<li>Мертвищев М. Поездка была интересной //Вести. – 1995. – 21 июля.
<li>Воробьев А.  Десять дней в Крыму //Вести – 1995. – 28 июля.
<li>Одинцова З.  В первый раз //Вести. – 1995. – 20 августа.
<li>Скобелева Т., Киреева М. Долгожданная экспедиция //Вести. – 1998. –2  августа.       
<li>Волгина Н. Медведево – Санкт-Петербург //Вести. – 1998. – 25 августа.
<li>Одинцова З. Поймать синею птицу //Вести. – 1999. – 16 февраля.
<li>Ведерникова С. Привет из бронзового века //Вести. -  2000. – 23 мая. 
<li>Романова М. Находка юного археолога //Марийская правда. – 2000. - май.
<li>Киреева М., Беневоленская Т. А что там, в средневековье //Вести. – 2000. – 8 августа.
<li>Кузьминых В. Зачем умный идет в гору //Марийская правда. – 2000. – 19 августа.
<li>Одинцова З. Любимый предмет история //Вести. – 2000. – 14 ноября.
<li>Первые на Всероссийской олимпиаде //Вести. – 2000. – 28 ноября.
<li>Лучшие краеведы из Медведево //Жизнь. -  2000. – 2 февраля.
<li>Туманов А.  Нескучное краеведение //Вести. – 2000. – 19 декабря.
<li> Долгополов С.  Керамика из первобытного строя //Вести. – 2001. – 15 февраля.
<li>Чапаева М.  Курымлам ярялыше да марныктарме //Марий Эл. – 2001. – 17 февраля.   
<li>Григорьев А. Новгородская печать чудом сохранилась после пожара //Жизнь.- 2001.
<li>Туманов А., Кудрявцев В. На раскопках в Малом Сундыре //Вести. – 2001. – 3  августа.
<li>Лопарева А., Беневоленская Т., Скобелева Т. В археологи посвящаются //Вести. – 2001. -11 августа.
<li>Лоскутова С. Мы обязательно придем еще раз //Вести. – 2001 – 9   ноября.  
<li>Леонидова Н.  И какой диплом «раскопал»! //Марийская правда. – 2002. – 7 июня.
<li>Федорова Г. От Мало-Сундырского городища к государственном Эрмитажу      //Вести. – 2002 – 7 июня.   
<li>Ведерникова С.  По жизни – смело и настойчиво //Вести. – 2002. – 11 июня.     
<li>Ведерникова С.  «Последний герой» из Медведево //Сам себе адвокат. – 2002. –  4 июля.         
<li>Кропотов А.  Домой с раскопок возратясь //Марийская правда. – 2002. –  11 сентября.
<li>Одинцова З.  Юные археологи и ученые //Вести.  2 – 002. – 13 августа.
<li>Лебедева З. Фотография на память //Вести. – 2003. – 31 октября.
<li>Михайлова И., Домрачева М.  Находки сезона //Вести. - -2004. – 24 августа.
<li>По «следам» истории //Вести. – 2004. – 3 сентября. 
<li>Одинцова З. Археологический музей при школе //Вести. – 2004. – 8 октября.
<li>Кропотов А. Ключ от Медведево более века пролежал в земле //Марийская      правда. –      2004. – 27 октября.
<li>Тойшева В.  Ончыктымо поянлыкым мут дене суретлаш огеш лий //Марий Эл. –   2004. – 17 декабря.
<li>Панов И.  По следам боевой славы //Вести. – 2005. – 15 апреля.
<li>Ухарова Л. Вступление в новую жизнь //Вести. – 2005. – 29 апреля.
<li>Русинов В. Совместное творчество детей и взрослых  //Вести. - 2005. – 10 июня. 
<li>Москвина И. Раскопки в Юрине продолжили благодаря ценной находке  //Марийская      правда. – 2005. – 13 июля.
<li>Москвина И. Юрино для археологов Золотое дно //Марийская правда. –  2005. – 26 июля.  
<li>Студенты нашли древнего воина //Йошкар-Ола. – 2005. – 3 августа.
<li>Археология //Вести. – 2005. – 2 сентября.
<li>Полянина Е. Неизгладимое впечатление //Вести. – 2005. – 16 сентября.
<li>Одинцова З. Медведевцам зеленый свет //Вести. – 2005. – 11 октября.
<li>Галямов Ф. О божьей искре и увлеченном учителе //Вести. – 2006. – 7 апреля.
<li>Царегородцева О.  Юные краеведы подвели итоги// Вести. – 2006. – 7  апреля.
<li>Галямов Ф.  Первое слово дипломанту //Вести. – 2006. – 5 мая. 
<li>Шалахов Е.  Экспедиция подведет итоги //Юринский рабочий. – 2006. – 14 июля.
<li>Репина В.  Искатель тайн //Марийская правда. – 2006. – 24 июня.
<li>Шалахов Е.  Раскопки Сутырского комплекса //Юринский рабочий. – 2006.  – 21 июля.                     
<li>Шалахов Е.  В раскопе – первые находки //Юринский рабочий. – 2006. – 28 июля.
<li>Панов И.  Юбилейная экспедиция на юринской земле// Вести. – 2006. – 8 августа.
<li>Шалахов Е. «Бронза» - за бронзу  //Юринский рабочий. – 2006. – 11 августа.
<li>Зурканаева Р.  Делимся впечатлениями. Сказочное путешествие //Вести.  – 2007. – 11 января.
<li>Софронова И. Пойдем в музей! //Вести. - 2007. – 28 июня.
<li>Шахтарин Д.  В Европу «прорубив окно…»//Марий Эл. 2008. – 3 июня.
<li>Алексеева М., Матвеева О. Познаем родной край//Вести. – 2009. – 8 мая.
<li>Ведерникова С.  Наука и жизнь//Вести. – 2009. – 5 июня.
<li>Ведерникова С.  С успехом, Елена! //Вести. – 2010. – 23 апреля.
<li>Галямов Ф.  Богат уникальными экспонатами //Вести. – 2010. – 14 мая.  
<li>Васильева Д.  Тема обсуждения – история //Вести. – 2010. – 9 июля.
<li>Васильева Д.  Увлечение историей //Вести. – 2010. – 16 июля.
<li>Васильева Д.  Юные археологи//Вести. – 2010. – 27 августа.
<li>Кузьмина О.  Мало в школе мужиков!. //Марийская правда. – 2010. –5 октября.
<li>Ведерникова С.  Урок истории в гимназии, где преподавал В.Г.Белинский//Вести. – 2010. – 3 декабря.    
<li>Лоскутова А. «Край родной, марийский» //Вести. – 2011. – 1 апреля.
<li>Полушина Г.  Связь времен, народов и поколений //Вести. – 2011. – 6 мая.
<li>Царегородцева О.  Победил и в республике //Вести. – 2011. – 13 мая.
<li>Полушина Г.  Всё начинается с интереса... //Вести. – 2012. – 27 апреля.
<li>Панов И. Плодотворная работа и незабываемые впечатления//Вести. – 2012. – 8 июня.
<li>Мальцев А., Леухин А. Русениха - 2012//Вести. – 2012. – 28 декабря.
<li>Царегородцева О. Сопричастность к настоящему и будущему // Вести. – 2013. – 12 апреля.     
<li>Царегородцева О. Музейная педагогика// Вести. – 2013. – 12 апреля.  
<li>Полушина Г. Учащиеся – краеведы-исследователи// Вести. – 2013. – 8 мая. 
<li>Полушина Г. Я поведу тебя в музей // Вести. – 2013. – 8 мая.   
</ol>
<br>
<div align="center"><a href="/smi">1</a> <a href="/smi2">2</a> <a href="/smi3">3</a> <a href="/smi4">4</a> <a href="/smi5">5<a/></div>
