<div><font id="h1">Список  публикаций<br/>
отражающих педагогическую деятельность<br/>
учителя истории МБОУ «Медведевская средняя школа №2»
Панова Игоря Ивановича
(1995  – 2012 гг.)
</font>
</div>

<br>1. Одинцова З. Ни одного скучного урока //Вести. – 1995. – 13 апреля.
<br>2. Ведерникова С. По жизни – смело и настойчиво //Вести. – 2002. – 11 июня.
<br>3. Галямов Ф. О божьей искре и увлеченном учителе //Вести. – 2006. – 7 апреля.
<br>4. Репина В. Искатель тайн //Марийская правда. – 2006. – 24 июня.
<br>5. Марийская Биографическая Энциклопедия /Сост. В.А. Мочаев. – Йошкар- Ола, 2007. –   С. 273.
<br>6.  Энциклопедия Марий Эл – Йошкар-Ола, 2009. –  С. 610. 
<br>7. Васильева Д. Тема обсуждения – история //Вести. – 2010. – 9 июля.
<br>8. Ведерникова С. Урок истории в гимназии, где преподавал В.Г. Белинский//Вести. –  2010. – 3 декабря.
<br>9.  Полушина Г. Связь времен, народов и поколений //Вести¬ – 2011. – 6 мая.
<br>
<div align="center"><a href="/smi">1</a> <a href="/smi2">2</a> <a href="/smi3">3</a> <a href="/smi4">4</a> <a href="/smi5">5<a/></div>
