<div><font id="h1">Список газетных публикаций<br>
отражающих деятельность<br>
школьного археологического музея п. Медведево<br>
(2001 – 2010 гг.)
</font>
</div>


<br>1.Долгополов С. Керамика из первобытного строя //Вести. – 2001.– 15 февраля.
<br>2.Чапаева М.  Курымлам аралыше да шарныктарыше //Марий Эл. – 2001. – 17 февраля.
<br>3.Григорьев А. Новгородская печать чудом сохранилась после пожара //Жизнь. – 2001. 
<br>4. Лоскутова С. Мы обязательно придем еще раз //Вести. – 2001.  – 9 ноября. 
<br>5.По «следам» истории //Вести. – 2004. – 3 сентября. 
<br>6.Одинцова З. Археологический музей при школе //Вести. – 2004. – 8 октября.
<br>7.Кропотов А. Ключ от Медведево более века пролежал в земле //Марийская правда. – 2004. – 27 октября.
<br>8.Тойшева В.  Ончыктымо поянлыкым мут дене суретлаш огеш лий //Марий Эл. - 2004. – 17 декабря.
<br>9.Панов И. По следам боевой славы //Вести. – 2005. – 15 апреля.
<br>10.Ухарова Л. Вступление в новую жизнь //Вести. – 2005. – 29 апреля.
<br>11.Русинов В. Совместное творчество детей и взрослых  //Вести. - 2005. – 10 июня. 
<br>12.Софронова И. Пойдем в музей! //Вести. - 2007. – 28 июня.
<br>13.Галямов Ф.  Богат уникальными экспонатами //Вести. – 2010. – 14 мая.  

<br>
<div align="center"><a href="/smi">1</a> <a href="/smi2">2</a> <a href="/smi3">3</a> <a href="/smi4">4</a> <a href="/smi5">5<a/></div>