<div><font id="h1">Список газетных публикаций<br>
отражающих участие учащихся <br>
Медведевской средней школы № 2,3<br>
в республиканских,  открытых региональных и<br>
всероссийских олимпиадах, конференциях, конкурсах<br>
по истории, археологии и школьному краеведению<br>
(1997 – 2012 гг.)
</font>
</div>

<br>1.Одинцова З. Одаренные ученики, какие они? //Вести. – 1997. – 11 июля.
<br>2.Волгина Н. Медведево – Санкт-Петербург //Вести. – 1998. – 25 августа.
<br>3.Одинцова З. Поймать синею птицу //Вести. – 1999. – 16 февраля.
<br>4.Ведерникова С. Привет из бронзового века //Вести. -  2000. – 23 мая.
<br>5.Романова М.  Находка юного археолога //Марийская правда. – 2000.  – 12  мая.
<br>6.Одинцова З. Любимый предмет история //Вести. – 2000. – 14 ноября.
<br>7.Первые на Всероссийской олимпиаде //Вести. – 2000. – 28 ноября.
<br>8.Лучшие краеведы из Медведево //Жизнь. -  2000. – 2 февраля.
<br>9.Туманов А. Нескучное краеведение //Вести. – 2000. – 19 декабря.
<br>10.Леонидова Н. И какой диплом «раскопал»! //Марийская правда. – 2002. – 7 июня.
<br>11.Федорова Г. От Мало-Сундырского городища к государственному Эрмитажу //Вести. – 2002 – 7 июня.   
<br>12.Ведерникова С. «Последний герой» из Медведево //Сам себе адвокат. – 2002. – 4 июля.
<br>13.Галямов Ф. Первое слово дипломанту //Вести. – 2006. – 5 мая.
<br>14.Зурканаева Р. Делимся впечатлениями //Вести. – 2007. – 11 января.
<br>15.Алексеева М., Матвеева О.  Познаем родной край //Вести. – 2009. – 8 мая.
<br>16.Ведерникова С. Наука и жизнь //Вести. – 2009. – 5 июня.
<br>17.Ведерникова С. С успехом, Елена! //Вести. – 2010. – 23 апреля.
<br>18.Васильева Д. Увлечение историей //Вести. – 2010. – 16 июля.
<br>19.Лоскутова А. «Край родной, марийский» //Вести¬ – 2011. – 1 апреля.
<br>20.Царегородцева О. Победил и в республике //Вести¬ – 2011. – 13 мая.
<br>21.Полушина Г. Всё начинается с интереса... //Вести¬ – 2012. – 27 апреля.

<br>
<div align="center"><a href="/smi">1</a> <a href="/smi2">2</a> <a href="/smi3">3</a> <a href="/smi4">4</a> <a href="/smi5">5<a/></div>