<div><font id="h1">Список газетных публикаций<br>
отражающих деятельность<br>
Медведевского объединения «Юный археолог»<br> 
и участие школьников<br>
в археологических экспедициях<br>
(1990 – 2012 гг.)
</font>
</div>

<br>1.Шерстнев В.  Лагерь юных археологов //Ленинский путь. – 1990. – 3 июля.
<br>2.Панов И. Находки на стыке эпох //Вести. –  1991. - 18 июля. 
<br>3.Алехин А.  Кончен раскоп //Вести. – 1991. – 25 июля.
<br>4.Сабиров А.  Очень повезло //Вести. – 1991. – 12 октября.
<br>5.Волгина К.  Палаточные будни, песни у костра // Вести. – 1992. – 30 июня.
<br>6.Гордеева С., Лежнина О.  Сфотографировались с Наполеоном //Вести.– 1992. 
<br>7.Лебедева З.  Если заниматься любимым делом //Вести. – 1993. – 26 июня.
<br>8.Пашкин В.  Пока не пришла вода //Йошкар-Ола. – 1993. – 22 октября.
<br>9.Загайнова Н., Халтурина А.  На день рождения – Волжский сом //Вести. –  1994.  
<br>10.Мертвищев М.  Поездка была интересной //Вести. – 1995. – 21 июля.
<br>11.Воробьев А.  Десять дней в Крыму //Вести – 1995. – 28 июля.
<br>12.Одинцова З. В первый раз //Вести. – 1995. – 20 августа.
<br>13.Скобелева Т., Киреева М.  Долгожданная экспедиция //Вести. – 1998. - 2  августа.    
<br>14.Киреева М., Беневоленская Т. А что там, в средневековье //Вести. – 2000. – 8 августа.
<br>15.Кузьминых В.  Зачем умный идет в гору //Марийская правда. – 2000. – 19 августа. 
<br>16.Туманов А., Кудрявцев В. На раскопках в Малом Сундыре //Вести. – 2001. – 3 августа.
<br>17.Лопарева А., Беневоленская Т., Скобелева Т. В археологи посвящаются //Вести. – 2001.  –  11 августа.
<br>18.Кропотов А.  Домой с раскопок возратясь //Марийская правда. – 2002. –   11 сентября.
<br>19.Одинцова З.  Юные археологи и ученые //Вести. -  2002. – 13 августа.
<br>20.Лебедева З. Фотография на память //Вести. – 2003. – 31 октября.
<br>21.Михайлова И., Домрачева М. Находки сезона //Вести. - -2004. – 24 августа.
<br>22.Москвина И.  Раскопки в Юрине продолжили благодаря ценной находке //Марийская  правда. – 2005. – 13 июля.
<br>23.Москвина И. Юрино для археологов Золотое дно //Марийская правда. –  2005. – 26  июля.
<br>24.Студенты нашли древнего воина //Йошкар-Ола. – 2005. – 3 августа.
<br>25.Археология //Вести. – 2005. – 2 сентября.
<br>26.Полянина Е. Неизгладимое впечатление //Вести. – 2005. – 16 сентября.
<br>27.Одинцова З. Медведевцам зеленый свет //Вести. – 2005. – 11 октября.
<br>28.Шалахов Е. Экспедиция подведет итоги //Юринский рабочий. – 2006. –  14 июля.
<br>29.Шалахов Е. Раскопки Сутырского комплекса //Юринский рабочий. – 2006. – 21 июля.
<br>30.Шалахов Е.  В раскопе – первые находки //Юринский рабочий. – 2006. –  28 июля.
<br>31.Панов И.  Юбилейная экспедиция на юринской земле// Вести. – 2006. – 8 августа.
<br>32.Мальцев А., Леухин А. Русениха - 2012//Вести. – 2012. – 28 декабря.

<br>
<div align="center"><a href="/smi">1</a> <a href="/smi2">2</a> <a href="/smi3">3</a> <a href="/smi4">4</a> <a href="/smi5">5<a/></div>
