<script src="/js/colorer.js"></script>
<div class="colorer">
	<div>
		<a href="/guidebook/stone/paleolithic"><img src="/img/paleolithic.jpg" /></a>
		<span class="desc">Палеолит</span>
	</div>
	<div>
		<a href="/guidebook/stone/mesolithic"><img src="/img/mesolithic.jpg" /></a>
		<span class="desc">Мезолит</span>
	</div>
	<div>
		<a href="/guidebook/stone/neolithic"><img src="/img/neolithic.jpg" /></a>
		<span class="desc">Неолит</span>
	</div>
</div>