<div class="video">
<table>
	<td width="30%">
		<a class="wiki fancybox.iframe" href="http://www.youtube.com/embed/ZH1Le8HfmUw?autoplay=1">
			<img id="video" src="http://i1.ytimg.com/vi/ZH1Le8HfmUw/2.jpg?time=1400683245766"/>	
		</a>
	</td>
	<td width="70%">
		<p>
			Заголовок: Медведевский школьный археологический музей
		</p>



		<p>
			Описание: Экскурсия по музею, знакомство, бла бла бла
		</p>
	</td>
</table>





</div>