p {
	margin-top: 0.3em;
	text-indent: 30px;
	margin-bottom: 0.3em;
}

#date {
	font: 0.8em Times New Roman;
	text-decoration: underline;
}

#topic {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 20px;
} 

#text {
	text-align: justify;
	font-size: 1em;
}

#text img {
	width: 400px;
	float: right;
	margin: 7px 0 7px 7px;
}

#emp {
	font-weight: bold;
	font-style: italic;
}

#source {
	text-align: right;
	font-style: italic;
	font-size: 0.9em;
	padding: 0px 0px 0px 150px;
}

/* -- Gallery --- */
.events-gallery {
    padding: 0px 0px 0px 20px; /* top/right/bottom/left */
    text-align: center;
}
.events-gallery a {
	 text-decoration: none;
}
.events-gallery img {
    margin:5px; 
    border:3px solid #aaa; 
    width: 150px;
    height: 100px;
}

.events-gallery img:hover {
    border:3px solid #444; 
}