body {
    margin: 0;
    background: url(../img/fon.jpg) repeat top left;
    font-family: 'Kelly Slab','Myriad Pro', Arial, sans-serif;
    font-size: 15px;
    background-attachment: fixed;
}

a {
    color: #fff;
    text-decoration: none;
}

.exp-subtitle{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}

.container {
    width: 100%;
    position: relative;
}

.container img {
    width: 350px;
    height: 250px;
    border: 3px solid #ddd;
    opacity: 0.8;
}

.container img:hover {
    opacity: 1;
}

.clr{
    clear: both;
}

.exp-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
    padding-bottom: 100px;
}

.exp-container:before{
    position: absolute;
    width: 4px;
    background: rgba(255,255,255,0.9); /* линия вертикальная основная */
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}

.exp-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
}

.exp-left, .exp-right{
    float: left;
    width: 48%;
    position: relative;
}

.exp-right{
    padding-left: 2%;
}

.exp-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}

.exp-img {
	width: 350px;
	height: 250px;
}

.exp-img-deco:before{
	width: 15%;
	height: 0px;
	border-bottom: 5px dotted rgba(255,255,255, 0.5);
	position: absolute;
	top: 48%;
	content: '';
	margin-top: -2px;
}

.exp-img-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 48%;
	margin-top: -10px;
}

.exp-left .exp-img-deco:before{
    right: 2%;   
}

.exp-right .exp-img-deco:before{
    left: 2%;   
}

.exp-left .exp-img-deco:after{
	right: 0;
	border-right: 10px solid rgba(255,255,255,0.8);
}

.exp-right .exp-img-deco:after{
	left: 0;
	border-left: 10px solid rgba(255,255,255,0.8);
}

.exp-left .exp-img{
    float: right;
    margin-right: 15%;
}

.exp-right .exp-img{
    float: left;
    margin-left: 15%;
}

.exp-container h3{
    margin-top: 34px;
	padding: 10px 15px;
	background: rgba(26, 27, 33, 0.6);
}

.exp-container .exp-medium h3{
	margin-top: 82px;
}

.exp-container .exp-left h3{
	border-right: 5px solid rgba(164,166,181,0.8);
}

.exp-container .exp-right h3{
	border-left: 5px solid rgba(164,166,181,0.8);
}

.exp-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}

.exp-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
    left: 10px;
}

.exp-container h3 a:hover{
	color: #fff;
    text-decoration: underline;
}

/* -- Gallery --- */
.exp-gallery{
    padding: 0px 0px 0px 20px; /* top/right/bottom/left */
        width: 56%;
    text-align: left;
    position: absolute;
}

.exp-gallery img{
    margin:5px; 
    border:3px solid #fff; 
    width: 150px;
    height: 100px;
}

.exp-gallery img:hover{
    border:3px solid #aaa; 
}

/* --- Gallery and information part --- */
.exp-text {
    position: fixed;
    width: 43%;
    right: 0;
    padding: 0px 15px 0px 10px;
    height: 100%;
    background-color: rgba(26, 27, 33, 0.6);
    border-left: 5px solid rgba(164,166,181,0.8);
    color: rgba(255,255,255,0.8);
    text-align: justify;
    font-size: 15px;
}

.exp-text a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.exp-text a:hover{
    text-decoration: underline;
}

.exp-text p {
    margin-top: 0.3em;
    text-indent: 30px;
    margin-bottom: 0.3em;
}