* {
    margin:0;
    padding:0;
}
/* General Demo Style */
body {
    background: url(../img/fon.png) repeat top left;
    font-family: 'Kelly Slab','Myriad Pro', Arial, sans-serif;
    font-size: 15px;
    background-attachment: fixed;
}

a {
    color: #fff;
    text-decoration: none;

}

h3 a:hover {
    text-decoration: underline;

}

.container {
    width: 100%;
    position: relative;
}

.container img {
    width: 350px;
    height: 250px;
    border: 3px solid #ddd;
    opacity: 0.8;
}

.container img:hover {
    opacity: 1;
}

.clr{
    clear: both;
}

h2.exp-subtitle{
    padding: 10px 10px 10px;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
	position: relative;
	text-align: center;
}

.exp-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
    padding-bottom: 100px;
	
}
.exp-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,84,123,0.2);
	text-shadow: 0px 1px 1px #fff;
	padding: 20px 0px;
}
.exp-container:before{
    position: absolute;
    width: 4px;
    background: rgba(255,255,255,0.9); /* линия вертикальная основная */
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}
.exp-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.exp-left, .exp-right{
    float: left;
    width: 48%;
    position: relative;
}
.exp-right{
    padding-left: 2%;
}
.exp-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}

.exp-img {
	width: 350px;
	height: 150px;
}

.exp-img-deco:before{
	width: 15%;
	height: 0px;
	border-bottom: 5px dotted rgba(255,255,255, 0.5);
	position: absolute;
	top: 75%;
	content: '';
	margin-top: -2px;
	
}

.exp-img-deco:after{
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
	content: '';
	position: absolute;
	top: 75%;
	margin-top: -10px;
}

.exp-left .exp-img-deco:before{
    right: 2%;   
}

.exp-right .exp-img-deco:before{
    left: 2%;   
}

.exp-left .exp-img-deco:after{
	right: 0;
	border-right: 10px solid rgba(255,255,255,0.8);
}

.exp-right .exp-img-deco:after{
	left: 0;
	border-left: 10px solid rgba(255,255,255,0.8);
}

.exp-left .exp-img{
    float: right;
    margin-right: 15%;
}

.exp-right .exp-img{
    float: left;
    margin-left: 15%;
}

.exp-container h3{
    margin-top: 34px;
	padding: 10px 15px;
	background: rgba(26, 27, 33, 0.6);
}

.exp-container .exp-medium h3{
	margin-top: 82px;
}

.exp-container .exp-left h3{
	border-right: 5px solid rgba(164,166,181,0.8);
}

.exp-container .exp-right h3{
	border-left: 5px solid rgba(164,166,181,0.8);
}

.exp-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}

.exp-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
    left: 10px;
}

.exp-container h3 a:hover{
	color: #fff;
    text-decoration: underline;
}