#show {
	position: relative; 
	float: right;
}

.wiki {
	position: absolute; 
	float: left; 
	font-size: 2em; 
	width: 260px; 
	text-align: center;
    color: #222;

}

.wiki img {
	width: 260px;
}

.wiki a {
	border: 2px solid #333;
	opacity: 0.5;
    display: block;
    
}
.wiki a:hover {
	opacity: 1;
}