#show {
	position: relative; 
	float: right;
}

.wiki {
	position: absolute; 
	float: left; 
	font-size: 2em; 
	width: 270px; 
	text-align: center;
    color: #222;
}

.wiki img {
	width: 260px;
}

.wiki a {
	border: 2px solid #333;
	opacity: 0.5;
    display: block;
    
}
.wiki a:hover {
	opacity: 1;
}



/* for expeditions photo */
.exp-body { 
	margin: 0;
    padding: 0;
	background: url(../img/fon.png) repeat top left;
    font-family: 'Kelly Slab','Myriad Pro', Arial, sans-serif;
    font-size: 15px;
    background-attachment: fixed;
    height: 100%;
}

.exp-photo {
	width: 56%;
	float: left;
	position: absolute;
}
.exp-text {
	position: fixed;
	width: 43%;
	right: 0;
	padding: 0px 15px 0px 10px;
	height: 100%;
	background-color: rgba(26, 27, 33, 0.6);
	border-left: 5px solid rgba(164,166,181,0.8);
	color: rgba(255,255,255,0.8);
	text-align: justify;
    font-size: 15px;
}

.exp-body a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
}

.exp-body a:hover{
	text-decoration: underline;
}

.exp-body p {
	margin-top: 0.3em;
	text-indent: 30px;
	margin-bottom: 0.3em;
}