body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background: url(/img/fon.png);
}

#poster {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

#head-text {
	margin: 0 auto;
	color: #FFF600;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

#header {
	height: 40px;
	z-index: 100;
	width: 1140px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#box {
	width: 1140px;
	margin: 0 auto;
}

#left {
	float: left;
	z-index: 50;
	width: 190px;
	display:block;
	position: relative;
}

#right {
	z-index: 50;
	width: 190px;
	float: right;
	position: relative;
}


#right .arrow {
	top: 37px;
    left: 47px;
    position: absolute;
    -webkit-transform-origin: center bottom;
    z-index: 100;
 
    -webkit-animation-name: spin;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
	@-ms-keyframes spin {
	    from { -ms-transform: rotate(0deg); }
	    to { -ms-transform: rotate(360deg); }
	}
	@-moz-keyframes spin {
	    from { -moz-transform: rotate(0deg); }
	    to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
	    from { -webkit-transform: rotate(0deg); }
	    to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	    from {
	        transform:rotate(0deg);
	    }
	    to {
	        transform:rotate(360deg);
	    }
	}

#content {
	z-index: 10;
	width: 740px;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	font: 1.2em Times New Roman;
	background: url(/img/content.png);
	padding: 10px 25px 10px 25px; /* top/right/bottom/left */
}

#content img {
	margin: 0;
	padding: 0;
}

#footer {
	z-index: 30;
	height:46px;
	width: 850px;
	padding-top: 30px;
	text-align: center;
	position: absolute;
	margin:-15px 140px 0;
	font: 0.9em Times New Roman;
	background: url(/img/footer.png) no-repeat;
}

/* --- Left-menu --- */
.left-sidebar {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 16px;
	z-index: 1000px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	list-style-type: none;
}

.left-sidebar a, 
.left-sidebar span {
	width: 190px;
	height: 40px;
	display: block;
	color: #A25F2A;
	text-decoration: none;
	background: url(/img/left-main.png);
}

.left-sidebar span, span:hover {
	cursor: pointer;
}

.left-sidebar a:hover, span:hover {
	background: url(/img/left-main-h.png);
}

.left-sidebar li .sub-menu {
	display: none;
}

.left-sidebar ul li {
	margin-left: -40px;
	list-style-type: none;
} 

.left-sidebar ul li a {
	line-height: 40px;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	background: url(/img/left-2nd.png);
} 

.left-sidebar ul li a:hover {
	text-decoration: underline;
	background: url(/img/left-2nd.png);
} 

/* --- Main menu --- */
.menu {
	padding: 0;
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
}

.menu li {
	float: left;
	height: 40px;
	list-style: none;
}

.menu li a {
	display: block;
	text-decoration: none;
}

.menu li a:hover {

}

.menu li ul {
	top: 40px;
	padding: 0;
	display: none;
}

.menu li:hover ul {
	display: block;
	position: absolute;
}

.menu li:hover ul li {
	float: none;
}

.menu ul li {
	width: 190px;
	height: 40px;
	position: relative;
	background: url(/img/2-.jpg);
}

.menu ul li:hover {
	background: url(/img/2--.jpg); 
}

.menu ul li a {
	font: 17px;
	color: #FF7F50;
	line-height: 40px;
}

.menu ul li a:hover {
	color: #eee;
}

.menu ul ul {
	top: 0;
	right: 190px;
	display: block;
	position: relative;
}

.menu li:hover ul ul {
	display: none;
}

.menu ul li:hover ul {
	display: block;
}

/* --- 5photo --- */
.fivephoto {
	width: 760px;
	height: 440px;
	position:relative;
	margin: -10px -10px;
	padding-bottom: 15px;
}

.fivephoto img {
	width: 760px;
	height: 440px;
	position:absolute;
}

/* --- Events --- */
#events img {
	width: 225px;
	height: 125px;
	padding: 0px 10px 0px 0px; /* top/right/bottom/left */
}

#date {
	text-decoration: underline;
	font: 0.8em Times New Roman;
}

#topic {
	color: blue;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

#text {
	font-size: 0.8em;
}

/* --- Creators, social buttons --- */
.vk {
	left: 30px;
	font-weight: bold;
	position:relative;
	display:inline-block;   
    background: url(/img/vk.png) no-repeat;
}
.vk a {
	color:#FFF;
	font-size:16px; 
	margin-left: 20px;
	margin-right: 5px;
	vertical-align: top;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;

}

/* --- Video --- */
.video {
	font-size: 0.8em;
	text-align: justify;
	text-decoration: none;
}

.video td {
	border: 2px solid #333;
}

.video img{
	width: 200px;
	height: 150px;
}

/* --- Scroll --- */
#top-link {
	top: 0px;
	left: 0px;
	width: 30%;
	z-index: 0;
	padding: 0px;
	display: none;
	cursor: pointer;
	position: fixed;
}

#top-link a {
	color: #EEE;
	display: block;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 30% 1000px 5px; /* top/right/bottom/left */
}

#top-link a:hover {
	display: block;
	background: url(/img/scroll.png) repeat-y;
}

/* --- Decor --- */
.dec-off ul {
	list-style-type: none;
	text-decoration: none;
}

#header a {
	transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-webkit-transition: 0.6s;
}

a {
	color:blue;
	text-decoration: none;
}

p {
	margin-top: 0.3em;
	text-indent: 30px;
	margin-bottom: 0.3em;
}

hr {
	height: 2px;
	border: none;
	background: #444;
}

#h1 {
	font-size: 130%;
	font-weight: bold;
}